.fluentdark {
  & .ea-card {
    /* --ea-card-border: var(none, 1px solid var(--ea-color-1)); */
    --ea-card-background: var(--ea-card-background, var(--ea-color-3));
    --ea-card-color: var(--ea-card-color, var(--ea-color-1));

    --ea-card-header-background: var(
      --ea-card-header-background,
      var(--ea-card-background)
    );
    --ea-card-header-color: var(--ea-card-header-color, var(--ea-card-color));

    --ea-card-footer-background: var(
      --ea-card-footer-background,
      var(--ea-card-header-background, var(--ea-card-background))
    );

    background: var(--ea-card-background);
    box-shadow: var(--ea-box-shadow);
    border: 1px solid var(--ea-color-background-7);
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    & .ea-card-header {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid var(--ea-color-background-7);
      background: var(--ea-card-header-background);
      color: var(--ea-card-header-color);
    }
    & .ea-card-content {
      --ea-card-content-grid: var(--ea-card-content-grid, repeat(1, 1fr));
      display: grid;
      grid-template-columns: var(--ea-card-content-grid);
      grid-column-gap: 2rem;
      justify-items: center;
      margin: 1rem;
    }
    & .ea-card-footer {
      display: flex;
      justify-content: center;
      padding: 1rem 1.5rem;
      border-top: 1px solid var(--ea-color-background-7);
    }
  }
}
