<div role="banner" m-0-0-2-0>
  <h1>Button</h1>
  <span icon button-icon negative style="width: 2rem; height:2rem;"></span>
</div>

<div class="content-container">
  <p>
    Standard button examples. Add <code>ea-button</code> class to a
    <code>&lt;button&gt;</code>.
  </p>
  <div multi-col center class="example">
    <button class="ea-button">Button</button>
    <button class="ea-button" active>Active</button>
    <button class="ea-button" disabled>Disabled</button>
    <button class="ea-button" primary>Primary</button>
    <button class="ea-button" outline>Outline</button>
    <button class="ea-button" flat>Flat</button>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="button"></ea-markdown>

  <p>Customized button examples.</p>
  <div multi-col center class="example" id="customized">
    <button class="ea-button">Button</button>
    <button class="ea-button" success>Success</button>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="tags"></ea-markdown>
</div>
