<div role="banner" m-0-0-2-0>
  <h1>Button</h1>

  <span icon button-icon></span>
</div>
<div class="content-container">
  <p>
    Buttons allow users to take actions, and make choices, with a single tap.
    Eang has 4 core types of buttons.
  </p>

  <div multi-col center class="example" style="--ea-grid-col-min-width: 8em;">
    <button>Button</button> <button rounded>Rounded</button>
    <button outline>Outline</button>
    <button outline rounded>Outline Rounded</button> <button flat>Flat</button>
    <button flat rounded>Flat Rounded</button>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="button"></ea-markdown>

  <ea-markdown class="example" [doc]="props"></ea-markdown>
  <h2>Icon Buttons</h2>
  <p>
    Eang makes it easy to add icons into your buttons with a preset lay out that
    also scales up proportionally based off font-size. the
    <code>[icon]</code> attribute can be added to a button to take care of some
    basic icon work.
  </p>

  <div
    multi-col
    class="example"
    center
    style="
    --ea-grid-col-min-width: 8em;"
  >
    <button><span icon negative sign-in></span></button>
    <button rounded><span icon negative filter></span></button>
    <button rounded>Button <span icon negative filter></span></button>
    <button icon outline><span icon trash-2></span></button>
    <button icon outline rounded><span icon trash-2></span></button>
    <button outline rounded><span icon trash-2></span> Delete</button>
    <button icon flat><span icon filter></span></button>
    <button flat rounded><span icon filter></span></button>
    <button flat rounded>Filter <span icon filter></span></button>
  </div>
  <ea-markdown class="example" [doc]="button_icon"></ea-markdown>

  <h3>Re-Sizable Buttons</h3>
  <p>
    These variables can all be adjusted to customize aspects of your button that
    you want to scale with. We've added a few attributes to allow you to easily
    scale up and down to preset measurements.
  </p>

  <div
    multi-col
    class="example"
    center
    style="--ea-grid-col-min-width: 8em;"
  >
    <button sm rounded style="margin:1rem;">
      <span icon filter negative></span> [sm]
    </button>
    <button md outline rounded style="margin:1rem;">[md]</button>
    <button lg rounded style="margin:1rem;">[lg]</button>
    <button xl flat style="margin:1rem;">[xl]</button>
    <button xxl style="margin:1rem;">[xxl]</button>
  </div>
  <ea-markdown class="example" [doc]="button_sizing"></ea-markdown>
</div>
