div {
  --ea-grid-col-min-width: calc(var(--ea-sizer) * 8em);
}

#customized {
  --ea-button-border-radius: 1rem;
  & button.ea-button[success] {
    --ea-button-background: var(--ea-color-success);
    --ea-button-border: 0.1em solid var(--ea-color-success-dark);
    &:hover {
      --ea-button-background: var(--ea-color-success-dark);
    }
  }
}
