<section class="ea-card" unset>
  <div class="ea-card-header">
    <h1>Buttons</h1>
    <span icon button-icon negative style="width: 2em; height:2em;"></span>
  </div>
  <p>
    Buttons allow users to take actions, and make choices, with a single tap. Eang has 4 core types of buttons.
  </p>
  <div class="ea-card-header"><h3>Button Types</h3></div>
  <div class="ea-card-content" grid>
    <div class="button-container">
        <button >Button</button>
        <button rounded >Rounded</button>
        <button  outline>Outline</button>
        <button outline rounded>Outline</button>
      <button  flat>Flat
      </button>
      <button flat rounded>Flat
        </button>
    </div>
    <ea-markdown style="margin-bottom:2em;" [doc]="button"></ea-markdown>
    <!--
      <button hover style="--ea-button-margin:0rem 1em" small>Small</button>
    -->
  </div>
  <div class="ea-card-header"><h3>Icon Buttons</h3></div>
  <p>
      Eang makes it easy to add icons into your buttons with a preset lay out that
      also scales up proportionally based off font-size. the
      <code>[icon]</code> attribute can be added to a button to take care of some
      basic icon work.
    </p>
  <div class="ea-card-content" grid>
      <!--
        <button hover style="--ea-button-margin:0rem 1em" small>Small</button>
      -->

      <div class="button-container">
        <button>
          <span icon negative sign-in></span>
        </button>
        <button rounded>
          <span icon negative filter></span>
        </button>
        <button rounded>
           Button <span icon negative filter></span>
          </button>
        <button icon outline>
          <span icon trash-2></span>
        </button>
        <button icon outline rounded>
        <span icon trash-2></span>
      </button>
      <button outline rounded>
          <span icon trash-2></span> Delete
        </button>
        <button icon flat >
          <span icon filter></span>
        </button>
        <button flat rounded>
            <span icon filter></span>
          </button>
          <button flat rounded>
              Filter <span icon filter></span>
            </button>
      </div>
      <ea-markdown [doc]="button_icon"></ea-markdown>
    </div>

</section>

<ea-markdown [doc]="props"></ea-markdown>

<section class="ea-card" unset>
    <!-- <div class="ea-card-header"><h3>Button Group</h3></div>
    <p>
      These variables can all be adjusted to customize aspects of your button that
      you want to scale with. We've added a few attributes to allow you to easily
      scale up and down to preset measurements.
    </p>

    <div class="ea-card-content" grid>
        <div class="ea-card-content" flex-end>
          <div class="button-group">
            <button> <span icon filter negative></span> [sm]</button>
            <button>[md]</button>
            <button>[md]</button>
            <button>[md]</button>
            <button>[md]</button>
            <button>[lg]</button>
          </div>
        </div>

      <ea-markdown [doc]="button_sizing"></ea-markdown>
    </div> -->

  <div class="ea-card-header"><h3>Re-Sizable Buttons</h3></div>
  <p>
    These variables can all be adjusted to customize aspects of your button that
    you want to scale with. We've added a few attributes to allow you to easily
    scale up and down to preset measurements.
  </p>

  <div class="ea-card-content" grid>
    <!--
      <button hover style="--ea-button-margin:0rem 1em" small>Small</button>
    -->

    <div class="button-container">
      <div class="ea-card-content" flex-end>
        <button sm rounded style="margin:1rem;"> <span icon filter negative></span> [sm]</button>
        <button md outline rounded style="margin:1rem;">[md]</button>
        <button lg rounded style="margin:1rem;">[lg]</button>
        <button xl flat style="margin:1rem;">[xl]</button>
        <button xxl style="margin:1rem;">[xxl]</button>
      </div>
    </div>
    <ea-markdown [doc]="button_sizing"></ea-markdown>
  </div>

  <div class="ea-card-footer"></div>
</section>

