<div class="feature">
  <div class="example">
    <div class="screen">
      <ea-panel [state]="panelState" [orientation]="panelOrientation">
        panel ({{panelOrientation | async}})
      </ea-panel>
    </div>
        <mdc-radio #demoRadioApple name="radioGroup" value="apple" (change)="onChange($event)"></mdc-radio>
        <label>Apple</label>


        <mdc-radio #demoRadioBanana name="radioGroup" value="banana" (change)="onChange($event)"></mdc-radio>
        <label>Banana</label>

        <mdc-radio #demoRadioMango name="radioGroup" value="mango" (change)="onChange($event)"></mdc-radio>
        <label>Mango</label>


  </div>
  <div class="feature-description">
    <h2>Reactive</h2>
    <p>Each component in eang can be directly hooked up to event streams. They observe changes and react to them. The main benefit
      of reactive components is that you can compose them very easily through streams. This ways you can combine mutiple
      ways on how to interact with your component.</p>
    <ea-markdown [doc]="md"></ea-markdown>
  </div>
</div>
