$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

@import "~@angular-mdc/theme/material";

.demo-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px 15px 15px;
  margin: 15px;

  &__headline {
    @include mdc-typography(headline6);

    margin-top: .1em;
    margin-bottom: .3em;
  }
}

.demo-content--column {
  display: flex;
  flex-direction: column;
}

.demo-content--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;

  &-with-button {
    .mdc-button, .mdc-fab {
      margin: 16px;
    }
  }
}

.demo-content--center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

//
// Button
//

.mdc-button.big-round-corner-button {
  @include mdc-button-corner-radius(8px);
}

.mdc-button.thick-outline-button {
  @include mdc-button-outline-width(4px);
}

.demo-button-ink-color {
  // @include mdc-button-container-fill-color($material-color-purple-500);
  @include mdc-button-icon-color(white);
  @include mdc-button-ink-color(orange);
  @include mdc-states(orange);
}

.demo-button-icon-color {
  @include mdc-button-icon-color(orange);
}
