@import 'eang/css/all.css';

body {
  margin: 0;
  padding: 0;
  background: #f9fcff;
}

#toolbar {
  width: auto;
  color: var(--ea-color-3);
  background: var(--ea-color-background-5);
  display: flex;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  align-items: center;
}

#toolbar .name {
  font-size: 2rem;
  font-weight: 400;
}

#main {
  color: var(--ea-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#features {
  max-width: 85%;

}

#features > h1 {
  text-align: center;
}
#features section {

  border-top: 1px solid #e9ecef;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.example {
  padding: 1rem;
}

.feature-description {
  margin-left: 1rem;
  min-width: 10%;
  max-width: 60%;
}

.screen {
  height: 18rem;
  width: 22rem;
  background-color: var(--ea-color-background-3);
}
