<div role="banner" m-0-0-2-0>
  <h1>List</h1>
  <span icon negative layers></span>
</div>
<div class="content-container">
  <h2>ARIA Lists</h2>
  <p>
    The List and Listitem role allow you to make a set of two elements into a
    scrollable list with mouse interactions accounted for.
  </p>
  <div multi-col v-center class="example" style="display: inherit;">
    <ea-markdown [doc]="role_list"></ea-markdown>
    <div role_list_example>
      <label for="firstList"> Longer List</label>
      <div class="ea-list" id="firstList">
        <div listitem>Angular</div>
        <div listitem>Express</div>
        <div listitem>Polymer</div>
        <div listitem>Aurelia</div>
        <div listitem>Vue.js</div>
        <div listitem>React</div>
        <div listitem>Meteor</div>
        <div listitem>Ember.js</div>
        <div listitem>Riot.js</div>
      </div>
    </div>
  </div>

  <p>Customized list examples.</p>
  <div multi-col v-center class="example" style="display: inherit;">
    <div role_list_example>
      <label for="customized"> Customzied List</label>
      <div class="ea-list" id="customized">
        <div listitem>Angular</div>
        <div listitem>Express</div>
        <div listitem>Polymer</div>
        <div listitem>Aurelia</div>
        <div listitem>Vue.js</div>
        <div listitem>React</div>
        <div listitem>Meteor</div>
        <div listitem>Ember.js</div>
        <div listitem>Riot.js</div>
      </div>
    </div>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="role_list_css"></ea-markdown>

  <!--   <ea-markdown [doc]="role_banner_listitem"></ea-markdown> -->
</div>
