<div role="banner">
  <h1>List</h1>
  <span icon negative layers style="width: 2rem; height:2rem;"></span>
</div>
<div class="content-container">
  <h3><code> role="listitem" </code></h3>
  <p>
    The List and Listitem role allow you to make a set of two elements into a
    scrollable list with mouse interactions accounted for.
  </p>
  <div multi-col>
    <ea-markdown [doc]="role_list"></ea-markdown>
    <div>
      <label for="secondlist"> Longer List</label>
      <div role="list" id="secondlist">
        <div role="listitem">testing</div>
        <div role="listitem">testing</div>
        <div role="listitem">Testing</div>
        <div role="listitem">testing</div>
        <div role="listitem">testing</div>
        <div role="listitem">Testing</div>
        <div role="listitem">testing</div>
        <div role="listitem">testing</div>
        <div role="listitem">Testing</div>
      </div>
    </div>
  </div>

  <ea-markdown [doc]="role_banner_listitem"></ea-markdown>
</div>
