<div role="banner" m-0-0-2-0>
  <h1>List</h1>
  <span icon negative layers></span>
</div>
<div class="content-container">
  <h2>ARIA Lists</h2>
  <p>
    The List and Listitem role allow you to make a set of two elements into a
    scrollable list with mouse interactions accounted for.
  </p>
  <div multi-col v-center class="example" style="display: inherit;">
    <h3>Default list</h3>
    <ea-markdown [doc]="role_list"></ea-markdown>
    <div role_list_example>
      <ul class="ea-list">
        <li>Angular</li>
        <li>Express</li>
        <li>Polymer</li>
      </ul>
    </div>
  </div>

  <h3>Customzied list</h3>
  <ea-markdown style="margin-bottom:2em;" [doc]="list_html"></ea-markdown>
  <ea-markdown style="margin-bottom:2em;" [doc]="list_css"></ea-markdown>

  <div multi-col v-center class="example" style="display: inherit;">
    <div role_list_example>
      <ul class="ea-list" id="customized">
        <li>Angular</li>
        <li>Express</li>
        <li>Polymer</li>
        <li>Aurelia</li>
        <li>Vue.js</li>
        <li>React</li>
        <li>Meteor</li>
        <li>Ember.js</li>
        <li>Riot.js</li>
      </ul>
    </div>
  </div>

</div>
