
ea-markdown {
  width: 100%;
  & .toolbar-item a {
    font-size: 22px;
    background: var(--ea-color-background-2);
    color: white;
    padding: 0 1rem;
    border-radius: 4px;
    cursor: pointer;
  }

  code {
    font-size: responsive 0.75rem 1rem; /* min-size, max-size */
    font-range: 420px 1280px; /* viewport widths between which font-size is fluid */
  }
}
