
#toolbar {
  width: auto;
  height: 4rem;
  display: flex;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  & .name {
    & h2 {
      margin: 0;
    }
  }
  & .toolbar-buttons {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
  }
  & a {
    padding-right: 2rem;
  }
}
