#toolbar {
  width: auto;
  height: 4rem;
  color: var(--ea-color-3);
  background: var(--ea-color-background-2);
  display: flex;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  & .name {
    & h2 {
      margin: 0;
    }
  }
  & a {
    padding-right: 2rem;
  }
}
