<div class="eangio-banner" role="banner">
  <h1>Inputs</h1>
  <span icon chevron-right negative tab style="width: 2rem; height:2rem;"></span>
</div>
<div class="content-container">
  <p>
    Form elements need to be wrapped with the <code>ea-form-field</code> class. Labels only work side-by-side with the
    input element and cannot contain the element itself.
  </p>
  <div multi-col center class="example">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Fieldset</legend>
        <div class="ea-form-field">
          <label for="name">* Name</label>
          <input type="text" name="Name" formControlName="name" id="name" required>
          <div class="ea-validation-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">Name must be at least 4 characters long.</div>
          </div>
        </div>
        <div class="ea-form-field">
          <label for="email">Email</label>
          <input type="text" name="Email" formControlName="email" id="email">
          <div class="ea-validation-errors" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.email">Please enter a valid email.</div>
          </div>
        </div>
        <div class="ea-form-field">
          <label for="airport">Airport</label>
          <ea-autocomplete #from [suggestions]="airportResult1$" [formControl]="airportSearchTerm"
            [mapSelectItem]="mapSelectItem" placeholder="from*" [selectFirst]="true">
            <ng-template #resultsTemplate let-item>
              <span class="matched" [innerHTML]="item.match"></span>
            </ng-template>
          </ea-autocomplete>
        </div>
        <button class="ea-button" type="submit" [disabled]="!form.valid">Add User</button>
      </fieldset>
    </form>

    <p>Values:</p>
    {{ form.valueChanges | async | json }}
  </div>

  <div class="prettifier">
    <ea-markdown [doc]="inputs"></ea-markdown>
    <h2>Text</h2>

    <div multi-col style="--ea-grid-col-min-width: calc(var(--ea-sizer) * 15em);">
      <div class="ea-form-field">
        <label>Input type: text</label>
        <input type="text" placeholder="Input text #1">
      </div>
      <div class="ea-form-field">
        <label>Input type: password</label>
        <input type="password" placeholder="Insert your password">
      </div>
      <div class="ea-form-field">
        <label>Input type: url</label>
        <input type="url" placeholder="Insert the url">
      </div>
      <div class="ea-form-field">
        <label>Input type: search</label>
        <input type="search" placeholder="Search">
      </div>
      <div class="ea-form-field">
        <label>Input type: email</label>
        <input type="email" placeholder="Insert email">
      </div>

      <!--
                <div class="ea-form-field">
                <label>Input type: color</label>
                <input type="color">
            </div>

            <div class="ea-form-field">
                <label>Input type: tel</label>
                <input type="tel" placeholder="(067) 84-65-227">
            </div>

            <div class="ea-form-field">
                <label>Textarea</label>
                <textarea placeholder="Text area"></textarea>
            </div>
            <div class="ea-form-field">
                <label>Input type: file</label>
                <input type="file">
            </div> -->
    </div>

    <h2>Range, Color</h2>
    <div multi-col style="--ea-grid-col-min-width: calc(var(--ea-sizer) * 15em);">
      <div class="ea-form-field">
        <label>Input type: range</label>
        <input type="range">
      </div>
      <div class="ea-form-field">
        <label>Input type: color</label>
        <input type="color">
      </div>
    </div>

    <h2>Date</h2>
    <div multi-col style="--ea-grid-col-min-width: calc(var(--ea-sizer) * 15em);">
      <div class="ea-form-field">
        <label>Input type: datetime-local</label>
        <input type="datetime-local">
      </div>
      <div class="ea-form-field">
        <label>Input type: time</label>
        <input type="time">
      </div>
      <div class="ea-form-field">
        <label>Input type: month</label>
        <input type="month">
      </div>
      <div class="ea-form-field">
        <label>Input type: date</label>
        <input type="date">
      </div>
      <div class="ea-form-field">
        <label>Input type: week</label>
        <input type="week">
      </div>
    </div>

    <h2>Radio, Checkbox</h2>
    <p>Follow the next naming of classes to get radio or checkbox.</p>
    <ea-markdown [doc]="radioCheckbox"></ea-markdown>
    <div multi-col style="--ea-grid-col-min-width: calc(var(--ea-sizer) * 25em);">
      <div class="ea-form-field dis-blc">
        <label>Input type: radio</label>
        <div class="ea-radio-item">
          <input type="radio" id="angular-frm" name="frm" value="angular" checked>
          <label for="angular-frm">Angular</label>
        </div>

        <div class="ea-radio-item">
          <input type="radio" id="react-frm" name="frm" value="react">
          <label for="react-frm">React</label>
        </div>

        <div class="ea-radio-item">
          <input type="radio" id="vue-frm" name="frm" value="vue.js" disabled>
          <label for="vue-frm">Vue.js</label>
        </div>
      </div>
      <div class="ea-form-field">
        <fieldset>
          <legend>Input type: checkbox</legend>
          <div>
            <input id="angular-check" type="checkbox" name="checkbox-one" />
            <label for="angular-check">Angular</label>
            <input type="checkbox" name="checkbox-two"><label for="react-frm">React</label>
            <input type="checkbox" name="checkbox-three" disabled><label for="react-frm">Vue.js</label>
          </div>
        </fieldset>
      </div>
    </div>
    <h2>Switcher</h2>
    <p>Follow the next naming of classes to get switchers.</p>
    <ea-markdown [doc]="switchCheckbox"></ea-markdown>
    <div class="checkbox-switch">
      <input type="checkbox" value="Light">
      <input type="checkbox" value="Light" disabled>
    </div>
  </div>
</div>
