language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '8'
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
script:
  - npm run build
branches:
  only:
    - master
    - /^greenkeeper/.*$/
