.my-banner {
  --ea-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: var(--ea-color-1);
  padding: calc(var(--ea-spacer) * 2.1em) calc(var(--ea-spacer) * 2em);
  margin-bottom: calc(var(--ea-spacer) * 1.5em);
  font-weight: calc(var(--ea-sizer) * 800);
}
