<div class="eangio-banner" role="banner" m-0-0-2-0>
  <h1>Custom CSS Examples</h1>
  <span icon button-icon negative style="width: 2rem; height:2rem;"></span>
</div>

<div class="content-container">
  <h2>Banner</h2>
  <div multi-col center class="example">
    <div class="my-banner" role="banner">
      <h1>My Banner Header</h1>
      <span icon button-icon negative style="width: 2rem; height:2rem;"></span>
    </div>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="banner_div"></ea-markdown>
</div>
