<div class="eangio-banner" role="banner" m-0-0-2-0>
  <h1>Layout</h1>
  <span icon layout negative style="width: 2rem; height:2rem;"></span>
</div>
<div class="content-container">
  <div class="ea-card example" m-0-0-1-0>
    <div class="ea-card-header">
      <h2>App Layout</h2>
    </div>
    <div class="ea-card-content">
      <div class="screen">
        <ea-layout id="example1">
          <ea-toolbar flex shadow>
            <header>
              <button *ngIf="layoutExample1.config.drawer.state === 'closed'" class="ea-button" outline (click)="layoutExample1.openDrawer()" left>
                <span hamburger-menu icon negative style="--ea-icon-margin: 0; height: 2em; width: 2em;"></span>
              </button>
              <button *ngIf="layoutExample1.config.drawer.state !== 'closed'" class="ea-button" outline (click)="layoutExample1.closeDrawer()" left>
                <span chevrons-left icon negative style="--ea-icon-margin: 0; height: 2em; width: 2em;"></span>
              </button>
              <a routerLink="/"> <span class="logo"></span> </a>
            </header>
            <aside>
              <p>aside</p>
            </aside>
          </ea-toolbar>

          <ea-drawer [state]="layoutExample1.drawerState$ | async">
            <section>
              <p>section</p>
            </section>
            <footer>
            <p>footer</p>
            </footer>
          </ea-drawer>

          <ea-body #scrollContainer>
            <ea-main role="main">
              <p>main</p>
            </ea-main>
            <ea-footer>
              <p>footer</p>
            </ea-footer>
          </ea-body>
        </ea-layout>
      </div>
    </div>
    <div class="ea-card-footer">
      <p>footer</p>
    </div>
  </div>

  <h2>&lt;ea-layout&gt;</h2>
  <p>
    Responsive layout grid that automatically adapts to screen size and
    orientation ensuring an optimal experience across smartphones, tablets, and
    desktop computers. The layout module consists of the Layout Service and a
    set of visual layout components:
  </p>
  <ul>
    <li><code class="language-html">&lt;ea-layout&gt;</code>
      <ul>
        <li><code class="language-html">&lt;ea-toolbar&gt;</code>
          <ul>
            <li><code class="language-html">&lt;header&gt;</code></li>
            <li><code class="language-html">&lt;aside&gt;</code></li>
          </ul>
        </li>
        <li><code class="language-html">&lt;ea-main&gt;</code>
          <ul>
            <li><code class="language-html">&lt;ea-body&gt;</code></li>
            <li><code class="language-html">&lt;ea-footer&gt;</code></li>
          </ul>
        </li>
        <li><code class="language-html">&lt;ea-drawer&gt;</code>
          <ul>
            <li><code class="language-html">&lt;header&gt;</code></li>
            <li><code class="language-html">&lt;section&gt;</code></li>
            <li><code class="language-html">&lt;footer&gt;</code></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <br>
  <h2>Import</h2>
  <ea-markdown [doc]="ea_layout_import"></ea-markdown>
  <div multi-col class="example">
    <ea-markdown [doc]="ea_layout_attrs"></ea-markdown>
    <div class="ea-card">
      <div class="ea-card-header">
        <h3>Layout Module</h3>
      </div>
      <div class="ea-card-content" grid style="grid-template-columns: 1fr;">
        <img style="max-width: 70rem;" src="../../../assets/images/layouts.svg" alt="" />
      </div>
    </div>
  </div>
  <h2>CSS Grid</h2>
  <p>We use CSS grid to define the layout of the different components.</p>
  <ea-markdown class="example" [doc]="ea_layout_grid"></ea-markdown>

  <h2>&lt;ea-toolbar&gt;</h2>
  <p>
    Holds the navigation elements at the top of the screen.
    <code class="language-html">&lt;ea-toolbar&gt;</code> has a button that is
    dynamically generated based off whether or not there is currently in
    <code class="language-html">&lt;ea-drawer&gt;</code> initialized in the
    application.
  </p>

  <div class="ea-card example">
    <div class="ea-card-header">
      <h3>&lt;ea-toolbar&gt;</h3>
    </div>
    <div class="ea-card-content" grid>
      <img style="width: 100%;" src="../../../assets/images/ea-toolbar.svg" alt="" />
    </div>
  </div>

  <p>You can adjust certain aspects of the toolbar using attributes to chagne the style.</p>
  <ea-markdown class="example" [doc]="ea_toolbar_attrs"></ea-markdown>

  <h2>&lt;ea-drawer&gt;</h2>
  <p>
    (optional) panel that expands/collapses from one side of the screen. The
    ea-drawer is designed to have a ,<code class="language-html">&lt;header&gt;</code>, <code
      class="language-html">&lt;section&gt;</code>, and
    <code class="language-html">&lt;footer&gt;</code>. A
    <code class="language-html">&lt;header&gt;</code> element will always sit at
    the top of the drawer. The
    <code class="language-html">&lt;section&gt;</code> is stretched to be the
    space between the header and the footer aligned at the top. The
    <code class="language-html">&lt;footer&gt;</code> is aligned at the bottom
    always. For simplicity sake we accomplish this we flexbox which makes it
    ideal to only have 3 elements, header, section, and footer to maintain this
    layout easily.
  </p>

  <p>
    The drawer uses different an event stream to inform the application what
    state it is in. The first two states we've introduced are maximized and
    closed. We plan to introduce new states to make it so that you can adjust
    the size of your drawer to different states we think have utility.
  </p>

  <div multi-col class="example">
    <ea-markdown [doc]="ea_layout_drawer"></ea-markdown>
    <div class="ea-card">
      <div class="ea-card-header">
        <h3>&lt;ea-drawer&gt;</h3>
      </div>
      <div class="ea-card-content" grid style="grid-template-columns: 1fr; justify-items: center;">
        <img style="width: 10rem;" src="../../../assets/images/drawer.svg" alt="" />
      </div>
    </div>
  </div>

  <ea-markdown [doc]="ea_drawer_attrs"></ea-markdown>
</div>
