<!-- <eangio-get-started></eangio-get-started>

<h1>Feature Highlights</h1>

 <eangio-feature-reactive></eangio-feature-reactive>

<eangio-feature-theming></eangio-feature-theming> -->

<section class="ea-card" style="position: relative;"unset>
  <div class="ea-card-content" grid style="--ea-card-content-grid: repeat(2, 1fr);">
    <div style="display: grid;">
      <h1>Eang</h1>
      <h2>Reactive Enterprise Components</h2>
      <a [routerLink]="['/getting-started']"style="width: 10rem;"><button> Get Started</button></a>
    </div>
    <div style="display:flex; justify-content: space-evenly; align-items: center;">
      <div class="ea-card" style="border-radius: 6px;">
        <img style="padding: 1rem 2rem;" height="45" src="/assets/images/angular.svg">
        <p style="text-align: center;
        margin: 0 0 0.7rem 0;">Angular 7</p>
      </div>
      <div class="ea-card" style="border-radius: 6px;">
        <img style="padding: 1rem 2rem;" height="45" src="/assets/images/Rx_Logo-512-512.png">
        <p style="text-align: center;
        margin: 0 0 0.7rem 0;">RxJS</p>
      </div>
      <div class="ea-card" style="border-radius: 6px;">
        <img style="padding: 1rem 2rem;" height="45" src="/assets/images/postcss.svg">
        <p style="text-align: center;
        margin: 0 0 0.7rem 0;">PostCSS</p>
      </div>
    </div>
  </div>
</section>
<div class="ea-card" style=" padding: 6rem 0;" unset>
  <div class="ea-card-header">
    <h1>Why Eang?</h1>
  </div>
  <section class="ea-card-content" grid style="--ea-card-content-grid: repeat(3, 1fr); grid-gap: 5rem;">
    <div>
      <img src="../../../assets/images/customization.svg" height="45" alt="">
      <h3>customization</h3>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.""
      </p>
    </div>
    <div>
      <img src="../../../assets/images/data-driven.svg" height="45" alt="">
      <h3>customization</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."
      </p>
    </div>
    <div>
      <img src="../../../assets/images/rapid-develop.svg" height="45" alt="">
      <h3>customization</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."
      </p>
    </div>

  </section>
</div>
<section class="go-pro">
  <div class="pro">
    <div class="pro-text">
      <h2>Get Support with Eang Pro</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam." </p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."</p>
      <button>Get Started with Pro</button>
    </div>
    <img src="../../../assets/images/eang-pro.svg" alt="">
  </div>
</section>
