<h1>Feature Highlights</h1>

<eangio-feature-reactive></eangio-feature-reactive>

<eangio-feature-theming></eangio-feature-theming>
<!--
<section id="welcome">
  <div class="title-text">
    <h1>Eang</h1>
    <h2>Reactive Enterprise Components</h2>
    <button>Get Started</button>
  </div>
  <div class="ea-card">
    <div id="ea-card-header">
    </div>
    <div class="logos ea-card-content">
      <div class="banner-card-row">
        <img height="45" src="/assets/images/angular.svg">
        <p>Testing this thing out</p>
      </div>
      <div class="banner-card-row">
        <img height="45" src="/assets/images/Rx_Logo-512-512.png">
        <p>Testing this thing out</p>
      </div>
      <div class="banner-card-row">
        <img height="45" src="/assets/images/postcss.svg">
        <p>Testing this thing out</p>
      </div>
    </div>
  </div>
</section>
<section class="why-eang">
  <h1>Why Eang?</h1>
  <div class="three-column">
    <div>
      <img src="../../../assets/images/customization.svg" height="96" alt="">
      <h3>customization</h3>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."

      </p>
    </div>
    <div>
      <img src="../../../assets/images/data-driven.svg" height="96" alt="">
      <h3>customization</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."
      </p>
    </div>
    <div>
      <img src="../../../assets/images/rapid-develop.svg" height="96" alt="">
      <h3>customization</h3>
      <p>
       "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."
      </p>
    </div>
  </div>
</section>
<section class="go-pro">
  <div class="pro">
    <div class="pro-text">
      <h2>Get Support with Eang Pro</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam." </p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."</p>
      <button>Get Started with Pro</button>
    </div>
    <img src="../../../assets/images/eang-pro.svg" alt="">
  </div>
</section> -->
