<div class="ea-card" unset>
  <div role="banner">
    <div><h1>Tooltip</h1></div>
  </div>
  <div class="ea-card-content" id="container">
    <h1>Tooltips</h1>
    <div multi-col>
      <div>
        <span icon help-circle aria-labelledby="1">
          <span id="1" role="tooltip" tooltip-text="This is a tooltip!"></span>
        </span>
      </div>
      <div>
        <ea-markdown
          doc="~~~html
          testing
          ~~~"
        ></ea-markdown>
      </div>
    </div>
  </div>
</div>
