p {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}
.example-color {
  height: 6em;
  width: 6em;
  border-radius: 50%;
  border: solid black;
}
.ea-card-footer {
  margin-top: 0.7em;
}
