@define-mixin autocomplete-mode {
  & ea-autocomplete {
    --ea-autocomplete-hover-color: var(--ea-color-1);

    --ea-autocomplete-hover-background: var(
      --ea-autocomplete-hover-background,
      var(--ea-color-background-2)
    );
    --ea-autocomplete-selected-background: var(
      --ea-autocomplete-selected-background,
      var(--ea-color-background-3)
    );
    --ea-autocomplete-selected-color: var(
      --ea-autocomplete-selected-color,
      var(--ea-color-3)
    );
    display: block;
    position: relative;

    & input {
      border: 0.1em solid var(--ea-color-grey-dark);
      border-image: var(--ea-gradient) 1, 100%;
      border-radius: 0.15em;
      font-size: calc(var(--ea-sizer) * 1em);
      width: 100%;
      padding: 0.35em;
    }

    & ul {
      z-index: 1;
      list-style: none;
      padding: 0;
      margin: 0;
      background: var(--ea-color-3);
      background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 1));
      border: 0.1em solid var(--ea-color-grey-dark);
      box-shadow: calc(var(--ea-sizer) * 0.05em) calc(var(--ea-sizer) * 0.2em)
        calc(var(--ea-sizer) * 0.6em) rgba(0, 0, 0, 0.2);
      text-shadow: none;
      transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
      transform-origin: calc(var(--ea-sizer) * 1.43em)
        calc(var(--ea-sizer) * -0.43em);
      position: absolute;
      top: var(--ea-autocomplete-ul-top);
      bottom: var(--ea-autocomplete-ul-bottom);
      left: var(--ea-autocomplete-ul-left);
      right: var(--ea-autocomplete-ul-right);
      width: var(--ea-autocomplete-ul-width);
    }

    & li {
      font-size: calc(var(--ea-sizer) * 0.9rem);
      height: calc(var(--ea-sizer) * 2.3em);
      cursor: pointer;
      padding: calc(var(--ea-sizer) * 1em);
      display: flex;
      align-items: center;
      min-height: fit-content;
    }

    & li:hover {
      color: var(--ea-autocomplete-color-hover, var(--ea-text-color-2));
      background: var(
        --ea-background-hover,
        var(
          --ea-autocomplete-background-hover,
          var(--ea-color-1-light, var(--ea-color-grey-light))
        )
      );
      & .matched {
        color: var(--ea-autocomplete-color-matched);
      }
      & mark {
        color: var(--ea-autocomplete-color-mark, var(--ea-text-color-1));
      }
    }

    & li[selected],
    & li[selection-focus] {
      color: var(--ea-autocomplete-color-selected, var(--ea-text-color-2));
      background: var(
        --ea-background-selected,
        var(
          --ea-autocomplete-background-selected,
          var(--ea-color-1, var(--ea-color-grey))
        )
      );
    }
    & li[selected]:hover,
    & li[selected] .matched mark,
    & li[selected]:hover .matched mark {
      color: var(--ea-autocomplete-color-mark, var(--ea-text-color-1));
    }

    & img {
      height: calc(var(--ea-sizer) * 1.4em);
    }
  }
}
