.mode {
  & ea-autocomplete {
    --ea-autocomplete-width: var(--ea-autocomplete-width, auto);

    --ea-autocomplete-hover-color: var(
      --ea-autocomplete-hover-color,
      var(--ea-color-background-1)
    );
    --ea-autocomplete-hover-background: var(
      --ea-autocomplete-hover-background,
      var(--ea-color-background-2)
    );
    --ea-autocomplete-selected-background: var(
      --ea-autocomplete-selected-background,
      var(--ea-color-background-3)
    );
    --ea-autocomplete-selected-color: var(
      --ea-autocomplete-selected-color,
      var(--ea-color-3)
    );

    display: block;
    overflow: auto;
    & ul {
      z-index: 1;
      position: absolute;
      box-sizing: border-box;
      list-style: none;
      padding: 0;
      border-radius: 0.3em;
      margin: 0.2em 0 0;
      background: var(--ea-color-background-1);
      background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 1));
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
      text-shadow: none;
      transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
      transform-origin: 1.43em -0.43em;
    }
    & li {
      color: var(--ea-color-1);
      font-size: 0.9rem;
      height: 30px;
      cursor: pointer;
      padding-left: 1rem;
      padding-top: 0.25rem;
      display: flex;
      align-items: center;
      padding-top: 0;
    }
    & li:hover {
      background-color: var(--ea-autocomplete-hover-background);
      & .matched {
        color: var(--ea-color-3);
      }
      & mark {
        color: var(--ea-color-3);
      }
    }
    & li[selected],
    & li[selection-focus] {
      color: var(--ea-autocomplete-selected-color);
      background: var(--ea-autocomplete-selected-background);
    }
    & li[selected]:hover,
    & li[selected] .matched mark,
    & li[selected]:hover .matched mark {
      color: var(--ea-color-3);
    }
    & input {
      background: white;
      border-width: 1.5px;
      border-style: solid;
      border-image: var(--ea-gradient) 1, 100%;
      border-radius: 8px;
      color: black;
      outline: none;
      border-radius: 3px;
      font-size: 1em;
      height: 30px;
      width: var(--ea-autocomplete-width);
      padding-left: 1rem;
      box-shadow: var(--ea-box-shadow);
    }
    & img {
      height: 20px;
    }
  }
}
