@define-mixin autocomplete-base {
  --ea-autocomplete-hover-color: var(--ea-color-1);

  --ea-autocomplete-hover-background: var(
    --ea-autocomplete-hover-background,
    var(--ea-color-background-2)
  );
  --ea-autocomplete-selected-background: var(
    --ea-autocomplete-selected-background,
    var(--ea-color-background-3)
  );
  --ea-autocomplete-selected-color: var(
    --ea-autocomplete-selected-color,
    var(--ea-color-3)
  );
}
@define-mixin autocomplete-mode {
  & ea-autocomplete {
    @mixin autocomplete-base;
    display: block;
    position:relative;
    & ul {
      z-index: 1;
      box-sizing: border-box;
      list-style: none;
      padding: 0;
      border-radius: calc(var(--ea-sizer) * .3em);
      margin: calc(var(--ea-spacer) * .2em) 0 0;
      background: var(--ea-color-3);
      background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 1));
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: calc(var(--ea-sizer) * .05em) calc(var(--ea-sizer) * .2em) calc(var(--ea-sizer) * .6em) rgba(0, 0, 0, 0.2);
      text-shadow: none;
      transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
      transform-origin: calc(var(--ea-sizer) * 1.43em) calc(var(--ea-sizer) * -.43em);
      position: absolute;
      top: var(--ea-autocomplete-ul-top);
      bottom: var(--ea-autocomplete-ul-bottom);
      left: var(--ea-autocomplete-ul-left);
      right: var(--ea-autocomplete-ul-right);
      width: var(--ea-autocomplete-ul-width);
    }
    & li {
      color: var(--ea-text-color);
      font-size: calc(var(--ea-sizer) * .9rem);
      height: 30px;
      cursor: pointer;
      padding-left: 1rem;
      padding-top: calc(var(--ea-spacer) * .25rem);
      display: flex;
      align-items: center;
      min-height: fit-content;
/*       & span.matched > mark {
        background-color: red;
      } */
    }

    & li:hover {
      background-color: var(--ea-color-3);
      & .matched {
        color: var(--ea-color-1);
      }
      & mark {
        color: var(--ea-color-2);
      }
    }
    & li[selected],
    & li[selection-focus] {
      color: var(--ea-autocomplete-selected-color);
      background: var(--ea-autocomplete-selected-background);
    }
    & li[selected]:hover,
    & li[selected] .matched mark,
    & li[selected]:hover .matched mark {
      color: var(--ea-color-3);
    }
    & input {
      background: white;
      border: .08em;
      border-style: solid;
      border-image: var(--ea-gradient) 1, 100%;
      border-radius: calc(var(--ea-sizer) * .4em);
      color: black;
      outline: none;
      font-size: calc(var(--ea-sizer) * 1em);
      height: calc(var(--ea-sizer) * 1.7em);
      width: auto;
      padding-left: calc(var(--ea-spacer) * 1rem);
      box-shadow: var(--ea-box-shadow);
    }
    & img {
      height: 20px;
    }
  }
}
