@define-mixin button-base {
  /* --ea-button-background-active: blue;
  --ea-button-background-hover: green; */

  background: var(--ea-button-background, var(--ea-base-color));
  color: var(--ea-button-color, var(--ea-text-color-light));
  border: var(--ea-button-border, var(--ea-base-color) solid 0.1em);
}

@define-mixin button-mode {
  & button {
    @mixin button-base;

    font-size: var(--ea-font-size, 1rem);
    height: 2.19em;
    padding: 0 1.5em;
    margin: 0;
    border-radius: 0.25em;
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    transition: all 0.25s ease 0s;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    /* this is to set the border-color when the button is :hover and not :active */
    &:hover:not(:active) {
      --ea-button-border: .1em solid var(--ea-base-color);
      background: var(--ea-button-background-hover, var(--ea-background-hover));
      box-shadow: var(--ea-box-shadow);
    }

    &:active {
      --ea-button-border: .1em solid var(--ea-base-color-high);
      background: var(--ea-button-background-active, var(--ea-background-active));
      box-shadow: var(--ea-button-background-active-shadow, var(--ea-background-active-shadow));
    }

    &[disabled] {
      --ea-button-border: var(--ea-color-background-6) solid 0.1em;
      opacity: 0.65;
      cursor: not-allowed;
      border: var(--ea-button-border);
    }

    &[outline] {
      --ea-button-background: transparent;
      --ea-button-border: 0.1em solid var(--ea-base-color);
      color: var(--ea-alt-color-1);
      border: var(--ea-button-border);

      &:hover:not(:active) {
        --ea-button-background-hover: rgba(0, 0, 0, .05);
        box-shadow: unset;
      }

      &:active {
        --ea-button-background-active: rgba(0, 0, 0, 0.15);
        --ea-button-border: 0.1em solid var(--ea-base-color-high);
        /* background: var(--ea-button-background-color); */
        /* --ea-button-background: var(--ea-button-background__active, rgba(0, 0, 0, 0.15)); */
      }
      &[disabled] {
        border: var(--ea-color-background-6) solid 0.1em;
      }
    }

    &[flat] {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0);
      color: var(--ea-color-1);

      &:hover:not(:active) {
        --ea-button-border-color__hover: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: none;
      }

      &:active {
        --ea-button-border-color__active: rgba(0, 0, 0, 0.25);
        box-shadow: unset;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }

    &[icon] {
      padding: 0.5em;
      height: min-content;
    }

    &[left] {
      & > span[icon] {
        margin-left: 0;
      }
    }

    &[right] {
      & > span[icon] {
        margin-right: 0;
      }
    }

    &[rounded] {
      border-radius: 1.5rem;
    }

    &[primary] {
      color: var(--ea-color-1);
      background-color: var(--ea-color-accent-1);
    }
    &[secondary] {
      color: var(--ea-color-1);
      background-color: var(--ea-color-accent-2);
    }
    &[success] {
      color: var(--ea-color-1);
      background-color: var(--ea-color-success);
    }
    &[info] {
      color: var(--ea-color-1);
      background-color: var(--ea-color-info);
    }
    &[warning] {
      color: var(--ea-color-1);
      background-color: var(--ea-color-warning);
    }
    &[danger] {
      color: var(--ea-color-1);
      background-color: var(--ea-color-danger);
    }
  }
}
