@define-mixin button-base {
  font-size: var(--ea-font-size, 1rem);
  background: var(
    --ea-background,
    var(--ea-button-background, var(--ea-color-1))
  );
  color: var(--ea-color, var(--ea-button-color, var(--ea-text-color-light)));
  border-color: var(--ea-button-border-color, var(--ea-color-1));
  border-style: var(--ea-button-border-style, solid);
  border-width: var(--ea-button-border-width, 0.1em);
  padding: var(--ea-button-padding, 0 1.5em);
  height: var(--ea-button-height, 2.19em);
  cursor: var(--ea-button-cursor, pointer);
  outline: var(--ea-button-outline, none);
  margin: var(--ea-button-margin, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
}

@define-mixin button-mode {
  & button,
  [role='button'] {
    @mixin button-base;
    border-radius: 0.25em;
    box-sizing: content-box;
    transition: all 0.25s ease 0s;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    /* this is to set the border-color when the button is :hover and not :active */
    &:hover:not(:active) {
      border-color: var(
        --ea-button-border-color-active,
        var(--ea-button-border-color, var(--ea-color-1))
      );
      border-style: var(
        --ea-button-border-style-active,
        var(--ea-button-border-style, solid)
      );
      border-width: var(
        --ea-button-border-width-active,
        var(--ea-button-border-width, 0.1em)
      );
      background: var(
        --ea-background,
        var(--ea-button-background-active, var(--ea-background-color-active))
      );
      box-shadow: var(
        --ea-button-background-active-shadow,
        var(--ea-active-shadow)
      );
    }

    &:active {
      border-color: var(
        --ea-button-border-color-hover,
        var(--ea-button-border-color, var(--ea-color-1-light))
      );
      border-style: var(
        --ea-button-border-style-hover,
        var(--ea-button-border-style, solid)
      );
      border-width: var(
        --ea-button-border-width-hover,
        var(--ea-button-border-width, 0.1em)
      );
      background: var(
        --ea-background,
        var(--ea-button-background-hover, var(--ea-background-color-hover))
      );
      box-shadow: var(--ea-button-box-shadow-hover, var(--ea-box-shadow));
    }

    &[disabled] {
      --ea-button-border: var(--ea-color-background-6) solid 0.1em;
      opacity: 0.65;
      cursor: not-allowed;
      border: var(--ea-button-border);
    }

    &[outline] {
      background: var(
        --ea-background,
        var(--ea-button-background-outline, transparent)
      );
      color: var(
        --ea-color,
        var(--ea-button-color-outline, var(--ea-text-color))
      );
      border-color: var(
        --ea-button-border-color-outline,
        var(--ea-button-border-color, var(--ea-color-1))
      );
      border-style: var(
        --ea-button-border-style-outline,
        var(--ea-button-border-style, solid)
      );
      border-width: var(
        --ea-button-border-width-outline,
        var(--ea-button-border-width, 0.1em)
      );

      &:hover:not(:active) {
        background: var(
          --ea-background,
          var(--ea-button-background-hover-outline, rgba(0, 0, 0, 0.05))
        );
        box-shadow: unset;
      }

      &:active {
        background: var(
          --ea-background,
          var(--ea-button-background-active-outline, rgba(0, 0, 0, 0.15))
        );
        border-color: var(
          --ea-button-border-color-active-outline,
          var(--ea-color-1)
        );
        border-width: var(
          --ea-button-border-width,
          var(--ea-button-border-width-active-outline, 0.1em)
        );
      }
      &[disabled] {
        border: var(--ea-color-3) solid 0.1em;
      }
    }

    &[flat] {
      background: var(
        --ea-background,
        var(--ea-button-background-flat, transparent)
      );
      border-color: var(
        --ea-button-border-color,
        var(--ea-button-border-color-flat, rgba(0, 0, 0, 0))
      );
      border-width: var(
        --ea-button-border-width,
        var(--ea-button-border-width-flat, 0.1em)
      );
      border-style: var(
        --ea-button-border-style,
        var(--ea-button-border-style-flat, solid)
      );
      color: var(--ea-color, var(--ea-button-color-flat, var(--ea-text-color)));

      &:hover:not(:active) {
        background-color: var(
          --ea-background,
          var(--ea-button-background-hover-flat, rgba(0, 0, 0, 0.1))
        );
        box-shadow: none;
        border-color: var(
          --ea-button-border-color,
          var(--ea-button-border-color-hover-flat, rgba(0, 0, 0, 0))
        );
        border-width: var(
          --ea-button-border-width,
          var(--ea-button-border-width-hover-flat, 0.1em)
        );
        border-style: var(
          --ea-button-border-style,
          var(--ea-button-border-style-hover-flat, solid)
        );
      }

      &:active {
        box-shadow: unset;
        background-color: rgba(0, 0, 0, 0.25);
        border-color: var(
          --ea-button-border-color,
          var(--ea-button-border-color-active-flat, rgba(0, 0, 0, 0))
        );
        border-width: var(
          --ea-button-border-width,
          var(--ea-button-border-width-active-flat, 0.1em)
        );
        border-style: var(
          --ea-button-border-style,
          var(--ea-button-border-style-active-flat, solid)
        );
      }
      &[light] {
        color: var(--ea-button-color, var(--ea-text-color-dark));

        &:hover:not(:active) {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }

    &[icon] {
      padding: var(--ea-span-icon-padding, 0.2em);
      height: min-content;
    }

    &[left] {
      & > span[icon] {
        margin-left: 0;
      }
    }

    &[right] {
      & > span[icon] {
        margin-right: 0;
      }
    }

    &[rounded] {
      border-radius: 1.5rem;
    }
  }
}
