@define-mixin card-base {
  font-size: var(--ea-font-size, 1rem);
  box-shadow: var(--ea-card-shadow, var(--ea-box-shadow));
  background: var(--ea-background, var(--ea-card-background, #fff));
  border: var(--ea-card-border, 1px solid var(--ea-color-3));
  color: var(--ea-color, var(--ea-card-color, var(--ea-base-text-color)));
  width: var(--ea-card-width, 100%);
  margin: var(--ea-card-margin, 1.5em 0);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

@define-mixin card-mode {
  & .ea-card {
    @mixin card-base;
    &:not([unset]) {
      --ea-card-border-radius: 8px;
      border-radius: var(--ea-card-border-radius);
      & p,
      h1,
      h2,
      h3,
      h4,
      a {
        color: var(--ea-card-color);
      }
    }

    &[unset] {
      border: none;
      background: var(--ea-background, var(--ea-card-background-unset, transparent));
      color: var(--ea-base-text-color);
      box-shadow: none;
      display: flex;
      flex-direction: column;

      & > .ea-card-header {
        background: var(--ea-background, var(--ea-card-header-background-unset, var(--ea-card-background-unset, transparent)));
        padding: 0;
        color: currentColor;
      }
      & > .ea-card-content {
        padding: 0;
        background: var(--ea-background, var(--ea-card-content-background-unset, var(--ea-card-background-unset, transparent)));

      }
      & > .ea-card-footer {
        padding: 0;
        background: var(--ea-background, var(--ea-card-footer-background-unset, var(--ea-card-background-unset, transparent)));
      }
    }

    &[grid] {
      --ea-card-grid-template: var(
        --ea-card-grid-template,
        'ea-card-header' 'ea-card-content' 'ea-card-footer'
      );

      display: grid;
      grid-template: var(--ea-card-grid-template);

      & > .ea-card-header {
        grid-area: ea-card-header;
      }
      & > .ea-card-content {
        grid-area: ea-card-content;
      }
      & > .ea-card-footer {
        grid-area: ea-card-footer;
      }
    }

    & .ea-card-header {
      border: var(--ea-card-header-border, .1em var(--ea-card-header-border-color, var(--ea-color-3)));
      border-style: none none solid none;
      background: var(--ea-background, var(--ea-card-header-background, transparent));
      color: var(--ea-color, var(--ea-card-header-color, var(--ea-card-color)));
      padding: 0 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & p,
      h1,
      h2,
      h3,
      h4,
      a {
        color: inherit;
      }

      & [content] {
        flex-grow: 1;
        display: flex;
      }

      &[grid] {
        --ea-card-header-grid-template: var(
          --ea-card-header-grid-template,
          'header section aside' / 1fr 3fr 1fr
        );
        display: grid;
        grid-template: var(--ea-card-header-grid-template);
      }
      &[border] {
        border-top-left-radius: var(--ea-card-border-radius, 8px);
        border-top-right-radius: var(--ea-card-border-radius, 8px);
      }
    }
    & .ea-card-content {
      display: flex;
      flex-wrap: wrap;
      padding: 1em;
      background: var(--ea-background, var(--ea-card-content-background, transparent));
      color: var(--ea-color, var(--ea-card-content-color, var(--ea-card-color)));

      &[flex-center] {
        align-items: center;
        justify-content: space-between;
      }
      &[flex-end] {
        align-items: flex-end;
        justify-content: space-between;
      }

      &[flex-start] {
        align-items: flex-start;
        justify-content: space-between;
      }
      &[grid] {
        display: grid;
        grid-template-columns: var(--ea-card-content-grid, repeat(1, 1fr));
      }
    }
    & .ea-card-footer {
      background: var(--ea-background, var(--ea-card-footer-background, transparent));
      border: var(--ea-card-footer-border, 1px var(--ea-color-3));
      border-style: solid none none none;
      padding: 1em 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &[grid] {
        display: grid;
        grid-template-columns: var(
          --ea-card-footer-grid,
          'header section aside' / 1fr 3fr 1fr
        );
      }
    }
  }
}
