.mode {
  & span[icon] {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    width: 2em;

    &[hamburger-menu] {
      background-image: inline('mode/icon/menu.svg');
    }
    &[minimized] {
      background-image: inline('mode/icon/minimized.svg');
    }
    &[maximized-2] {
      background-image: inline('mode/icon/maximized-2.svg');
    }
    &[x] {
      background-image: inline('mode/icon/x.svg');
    }
    & [close] {
      background-image: inline('mode/icon/close.svg');
    }
    &[sign-in] {
      background-image: inline('mode/icon/sign-in.svg');
    }

    &[download] {
      background-image: inline('mode/icon/download.svg');
    }
    &[chevron-right] {
      background-image: inline('mode/icon/right-chevron.svg');
    }
    & [menu-close] {
      background-image: inline('mode/icon/menu-close.svg');
    }
    &[chevron-down] {
      background-image: inline('mode/icon/chevron-down.svg');
    }
    &[vertical-menu] {
      background-image: inline('mode/icon/vertical-menu.svg');
    }
    &[chevron] {
      background-image: inline('mode/icon/chevron.svg');
    }
    &[chevrons-left] {
      background-image: inline('mode/icon/chevrons-left.svg');
    }
    &[chevrons-right] {
      background-image: inline('mode/icon/chevrons-right.svg');
    }
    &[save] {
      background-image: inline('mode/icon/save.svg');
    }
    &[edit] {
      background-image: inline('mode/icon/edit.svg');
    }
    &[add-file] {
      background-image: inline('mode/icon/add-file.svg');
    }
    &[negative] {
      filter: invert(100%);
    }
    &[aliceblue] {
      filter: invert(98%) sepia(77%) saturate(7219%) hue-rotate(178deg)
        brightness(112%) contrast(101%);
    }
    &[AntiqueWhite] {
      filter: invert(82%) sepia(28%) saturate(168%) hue-rotate(344deg)
        brightness(109%) contrast(96%);
    }
    &[aqua] {
      filter: invert(96%) sepia(34%) saturate(4436%) hue-rotate(107deg)
        brightness(101%) contrast(104%);
    }
  }
}

