.fluentdark,
.mode {
  & ea-layout {
    --ea-drawer-header-height: 4rem;
    --ea-drawer-footer-height: 4rem;
    --ea-drawer-width: var(--ea-drawer-width, 300px);
    --ea-toolbar-height: var(--ea-toolbar-height, 4rem);
    --drawer-width: 300px;
    --ea-footer-height: var(--ea-footer-height, 4.5rem);
    --ea-toolbar-color: var(--ea-toolbar-color, var(--ea-color-3));
    --ea-drawer-background: var(
      --ea-drawer-background,
      var(--ea-color-background-4)
    );
    --ea-body-display: var(--ea-body-display, block);

    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'toolbar toolbar'
      'drawer main';

    & ea-main {
      font-size: 1rem;
      --ea-main-background: var(
        --ea-main-background,
        var(--ea-color-background-7)
      );

      grid-area: main;
      overflow: auto;
      background: var(--ea-main-background);

      & ea-footer {
        width: 100%;
        height: var(--ea-footer-height);
        display: flex;
        align-items: center;
        background: var(--ea-color-background-2);
        & p {
          color: var(--ea-color-3);
        }
      }
    }

    & ea-body {
      --ea-main-margin: var(--ea-main-padding, 0.5em 1em);
      margin: var(--ea-main-margin);
      display: var(--ea-body-display);
      min-height: 100%;
    }

    & ea-toolbar {
      --ea-toolbar-display: var(--ea-toolbar-display, flex);
      font-size: 1rem;
      --ea-toolbar-padding: var(--ea-toolbar-padding, 0.5em 1em);

      padding: var(--ea-toolbar-padding);
      grid-area: toolbar;
      display: var(--ea-toolbar-display);
      background: var(--ea-color-background-2);
      height: var(--ea-toolbar-height);
      grid-row: 1;
      grid-column: 1 / 4;
      z-index: 2;
      box-sizing: border-box;
      align-items: center;
      color: var(--ea-toolbar-color);
      &[shadow] {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      }
      &[flex] {
        --ea-toolbar-display: flex;
      }
      &[grid] {
        --ea-toolbar-display: grid;
      }
      & header {
        color: var(--ea-color-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
      }

      & aside {
        --ea-toolbar-aside-padding: var(--ea-toolbar-aside-padding, 3rem);
        color: var(--ea-color-3);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: var(--ea-toolbar-aside-padding);
      }

      & p,
      h1,
      h2,
      h3 {
        margin: 0;
      }

      & a {
        color: var(--ea-color-3);
        text-decoration: none;
        font-size: 1rem;
        margin:0.5em;
      }
    }

    & ea-drawer {
      grid-area: drawer;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      width: var(--ea-drawer-width);
      background: var(--ea-drawer-background);

      & section {
        flex-grow: 1;
      }

      &[resize] {
        resize: horizontal;
        overflow: auto;
      }

      &[state='closed'] {
        width: 0;
        display: none;
      }

      & a {
        font-size: 1rem;
        color: var(--ea-color-3);
        text-decoration: none;
        display: flex;
        padding-left: 1rem;
        line-height: 2.5em;
        align-items: center;
        &:hover {
          text-decoration: none;
          background-color: var(--ea-color-background-3);
        }
        &.active {
          background-color: var(--ea-color-background-3);
        }
        &:visited {
          color: var(--ea-color-3);
        }
      }
    }

    &[nav-overlay] {
      display: grid;
      grid-template-rows: [ea-toolbar-start] var(--ea-toolbar-height) [ea-toolbar-end ea-main-start] 1fr [ea-footer-start ea-main-end];
      grid-template-columns: [ea-drawer-start] var(--ea-drawer-width) [ea-drawer-end ea-main-start] 1fr [ea-main-end];
      height: 100vh;
    }
    &[nav-overlay] > ea-main {
      grid-row: ea-toolbar-end / ea-main-end;
      grid-column: ea-drawer-start / ea-main-end;
      overflow: auto;
    }
    &[nav-overlay] > ea-toolbar {
      grid-row: ea-toolbar-start;
      grid-column: ea-drawer-start / ea-main-end;
    }
    &[nav-overlay] > ea-drawer {
      grid-row: 2 / 4;
      grid-column: 1;
      z-index: 1;
    }

    & [overlay] {
      grid-row: ea-toolbar-end / ea-main-end;
      grid-column: ea-drawer-start / ea-main-end;
      background: #000;
      opacity: 0.5;
      z-index: 1;
    }
  }
}
