@define-mixin layout-mode {
  & ea-layout {
    font-size: calc(var(--ea-sizer) * 1rem);
    display: grid;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    grid-template-columns: var(--ea-drawer-width, auto) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'toolbar toolbar'
      'drawer body';

    & [overlay] {
      background: var(--ea-color-2);
      opacity: 0.5;
      z-index: 1;
    }
  }

  & ea-toolbar {
    font-size: calc(var(--ea-sizer) * 1rem);
    height: var(--ea-toolbar-height, calc(var(--ea-spacer) * 4em));
    padding: calc(var(--ea-spacer) * 0.5em) calc(var(--ea-spacer) * 1em);
    background: var(
      --ea-background,
      var(--ea-toolbar-background, var(--ea-background-2))
    );
    display: flex;
    align-items: center;
    grid-area: toolbar;

    color: var(--ea-text-color-light);
    &[shadow] {
      box-shadow: 0 calc(var(--ea-sizer) * 0.1em) calc(var(--ea-sizer) * 0.3em)
        0 rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    &[flex] {
      --ea-toolbar-display: flex;
    }
    &[grid] {
      --ea-toolbar-display: grid;
    }

    & header {
      color: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      & img {
        width: calc(var(--ea-sizer) * 3em);
        height: calc(var(--ea-sizer) * 3em);
      }
    }

    & aside {
      color: inherit;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: calc(var(--ea-spacer) * 3rem);
    }

    & p,
    h1,
    h2,
    h3 {
      margin: 0;
      color: inherit;
    }

    & a {
      color: inherit;
      text-decoration: none;
      font-size: calc(var(--ea-sizer) * 1rem);
      margin: calc(var(--ea-spacer) * 0.5em);
    }
  }

  & ea-drawer {
    color: var(--ea-text-color-light);
    grid-area: drawer;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* width: calc(var(--ea-sizer) * 15em); */
    background: var(--ea-color-2);
    -webkit-tap-highlight-color: transparent;
    /* color: var(--ea-text-color); */
    overflow: auto;

    & footer {
      background: var(
        --ea-background,
        var(--ea-drawer-footer-background, var(--ea-drawer-background))
      ); /* -_- */
    }

    &[resizable] {
      resize: horizontal;
      overflow: auto;
    }

    &[state='closed'] {
      width: 0;
      display: none;
    }

    & header {
      top: 0;
      position: inherit;
    }

    & section {
    }

    > footer {
      position: fixed;
      bottom: 0;
    }
  }

  & ea-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--ea-sizer) * 1rem);
    grid-area: body;
    overflow: auto;
    overflow-x: inherit;

  }

  & ea-main {
    flex: 1 0 auto;
    background: var(
      --ea-background,
      var(--ea-toolbar-background, var(--ea-background-1))
    );
    color: var(
      --ea-color,
      var(--ea-main-color, var(--ea-color-1))
    );
  }

  & ea-footer {
    justify-content: space-between;
    background: var(
      --ea-background,
      var(--ea-footer-background, var(--ea-background-2))
    );
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: calc(var(--ea-spacer) * 2.5rem);
    color: var(--ea-text-color-light);
    & p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    b,
    small {
      color: inherit;
    }
    @media only screen and (max-width: 625px) {
      height: auto;
      flex-direction: column;
      span {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
