@define-mixin layout-base {
  --ea-drawer-header-height: 4rem;
  --ea-drawer-footer-height: 4rem;
  --ea-body-display: var(--ea-body-display, block);
}
@define-mixin layout-mode {
  & ea-layout {
    @mixin layout-base;
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'toolbar toolbar'
      'drawer main';


    & ea-main {
      font-size: 1rem;
      grid-area: main;
      overflow: auto;
      background: var(--ea-main-background, #f6f6f6);

      & ea-footer {
        height: var(--ea-footer-height, 4.5rem);
        background: var(--ea-footer-background, var(--ea-base-color));
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        & p {
          color: var(--ea-footer-text-color, var(--ea-text-color-light));
        }
      }
    }

    & ea-body {
      --ea-main-margin: var(--ea-main-padding, 0.5em 1em);
      margin: var(--ea-main-margin);
      display: var(--ea-body-display);
      min-height: 100%;
    }

    & ea-toolbar {
      font-size: 1rem;
      height: var(--ea-toolbar-height, 4rem);
      padding: var(--ea-toolbar-padding, 0.5em 1em);
      background: var(--ea-base-color);
      display: var(--ea-toolbar-display, flex);
      align-items: center;
      grid-area: toolbar;
      grid-row: 1;
      grid-column: 1 / 4;
      z-index: 2;
      box-sizing: border-box;
      color: var(--ea-toolbar-color, var(--ea-text-color-light));
      &[shadow] {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      }
      &[flex] {
        --ea-toolbar-display: flex;
      }
      &[grid] {
        --ea-toolbar-display: grid;
      }
      & header {
        color: var(--ea-toolbar-color, inherit);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
      }

      & aside {
        color: var(--ea-toolbar-color, inherit);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: var(--ea-toolbar-aside-padding, 3rem);
      }

      & p,
      h1,
      h2,
      h3 {
        margin: 0;
        color: var(--ea-toolbar-color, inherit);
      }

      & a {
        color: var(--ea-toolbar-color, inherit);
        text-decoration: none;
        font-size: 1rem;
        margin: 0.5em;
      }
    }

    & ea-drawer {
      grid-area: drawer;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      width: var( --ea-drawer-width, 225px);
      background: var( --ea-drawer-background, var(--ea-alt-base-color));
      -webkit-tap-highlight-color: transparent;
      color: var(--ea-drawer-color, var(--ea-base-text-color));
      & ea-menu {
        & .node {
          & .name {
            color: var(--ea-drawer-menu-color, inherit);
          }
        }
      }
      & section {
        flex-grow: 1;
      }

      & footer {
        padding: 1rem;
      }

      &[resize] {
        resize: horizontal;
        overflow: auto;
      }

      &[state='closed'] {
        width: 0;
        display: none;
      }

      & a {
        font-size: 1rem;
        color: var(--ea-drawer-link-color, inherit);
        text-decoration: none;
        display: flex;
        padding-left: 1rem;
        line-height: 2.5em;
        align-items: center;
        &:hover {
          text-decoration: none;
          background-color: var(--ea-background-color-hover);
        }
        &.active {
          background-color: var(--ea-background-color-active);
        }
        &:visited {
          color: var(--ea-background-color-hover);
        }
        & span[icon] {
          margin: 0.3em;
        }
      }
    }

    &[nav-overlay] {
      display: grid;
      grid-template-rows: [ea-toolbar-start] var(--ea-toolbar-height) [ea-toolbar-end ea-main-start] 1fr [ea-footer-start ea-main-end];
      grid-template-columns: [ea-drawer-start] var(--ea-drawer-width) [ea-drawer-end ea-main-start] 1fr [ea-main-end];
      height: 100vh;
    }
    &[nav-overlay]  ea-main {
      grid-row: ea-toolbar-end / ea-main-end;
      grid-column: 1/5;
      overflow: auto;
    }
    &[nav-overlay]  ea-toolbar {
      grid-row: ea-toolbar-start;
      grid-column: 1/5;
    }
    &[nav-overlay]  ea-drawer {
      grid-row: 2 / 4;
      grid-column: 1;
      z-index: 1;
    }

    & [overlay] {
      grid-row: ea-toolbar-end / ea-main-end;
      grid-column: 1/5;
      background: #000;
      opacity: 0.5;
      z-index: 1;
    }
  }
}
