@define-mixin layout-mode {
  & ea-layout {
    font-size: calc(var(--ea-sizer) * 1rem);
    display: grid;
    height: 100vh;
    margin: 0;

    color: var(--ea-color, var(--ea-layout-color, var(--ea-text-color-1)));

    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'drawer toolbar'
      'drawer body';

    &[toolbar-top] {
      grid-template-areas:
        'toolbar toolbar'
        'drawer body';
    }

    & [overlay] {
      background: var(--ea-color-2);
      opacity: 0.5;
      z-index: 1;
    }
  }

  & ea-toolbar {
    font-size: calc(var(--ea-sizer) * 1rem);
    color: var(--ea-color, var(--ea-toolbar-color, inherit));
    height: calc(
      var(--ea-spacer) * var(--ea-sizer) * var(--ea-toolbar-height, 4em)
    );
    padding: var(
      --ea-padding,
      var(
        --ea-toolbar-padding,
        calc(var(--ea-spacer) * 0.5em) calc(var(--ea-spacer) * 1em)
      )
    );
    background: var(
      --ea-background,
      var(--ea-toolbar-background, var(--ea-background-1))
    );
    display: flex;
    align-items: center;
    grid-area: toolbar;

    &[shadow] {
      box-shadow: 0em calc(var(--ea-sizer) * 0.1em) 0.4em 0 rgba(0, 0, 0, 0.3);
      /* box-shadow:  inset 0 -3px 0 0 rgba(0, 0, 0, 0.3); */
      z-index: 1;
    }
    &[flex] {
      --ea-toolbar-display: flex;
    }
    &[grid] {
      --ea-toolbar-display: grid;
    }

    & header {
      color: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;
      & img {
        width: calc(var(--ea-sizer) * 3em);
        height: calc(var(--ea-sizer) * 3em);
      }
    }

    & aside {
      color: inherit;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: calc(var(--ea-spacer) * 3rem);
    }

    & p,
    h1,
    h2,
    h3 {
      margin: 0;
      color: inherit;
    }

    & a {
      color: inherit;
      text-decoration: none;
      font-size: calc(var(--ea-sizer) * 1rem);
      margin: calc(var(--ea-spacer) * 0.5em);
    }
  }

  & ea-drawer {
    color: var(--ea-color, var(--ea-drawer-color, inherit));
    grid-area: drawer;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: var(--ea-drawer-width);
    background: var(
      --ea-background,
      var(--ea-drawer-background, var(--ea-background-1))
    );
    -webkit-tap-highlight-color: transparent;
    /* color: var(--ea-text-color); */
    overflow: auto;

    & footer {
      background: var(
        --ea-background,
        var(--ea-drawer-footer-background, var(--ea-drawer-background))
      ); /* -_- */
    }

    &[resizable] {
      resize: horizontal;
      overflow: auto;
    }

    &[state='closed'] {
      width: 0;
      display: none;
    }

    & header {
      top: 0;
      position: inherit;
    }

    & section {
    }

    > footer {
      position: fixed;
      bottom: 0;
    }
  }

  & ea-body {
    display: flex;
    flex-direction: column;
    font-size: calc(var(--ea-sizer) * 1rem);
    grid-area: body;
    overflow: auto;
    overflow-x: inherit;
    color: var(--ea-color, var(--ea-body-color, inherit));
  }

  & ea-main {
    flex: 1 0 auto;
    background: var(
      --ea-background,
      var(--ea-main-background, var(--ea-background-2))
    );
  }

  & ea-footer {
    background: var(
      --ea-background,
      var(--ea-footer-background, var(--ea-background-1))
    );
    width: 100%;
  }
}
