.mode {
  & ea-layout {
    /* <ea-drawer> variables */
    --ea-drawer-header-height: 4rem;
    --ea-drawer-footer-height: 4rem;

    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'toolbar toolbar'
      'drawer main';

    & ea-main {
      overflow: auto;
    }

    & ea-toolbar {
      --ea-toolbar-height: var(--ea-toolbar-height, inherit);
      --ea-toolbar-display: var(--ea-toolbar-display, inherit);
      --ea-toolbar-max-width: var(--ea-toolbar-max-width, inherit);

      grid-area: toolbar;
      display: var(--ea-toolbar-display);
      height: var(--ea-toolbar-height);
      background: var(--ea-color-background-2);
      width: 100%;
      z-index: 1;
      &[shadow] {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      }
      &[flex] {
        --ea-toolbar-display: flex;
      }
      &[grid] {
        --ea-toolbar-display: grid;
      }
      header {
        color: var(--ea-color-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      aside {
        color: var(--ea-color-3);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 3rem;
      }
    }

    & ea-drawer {
      grid-area: drawer;
      width: 300px;
      background: var(--ea-color-background-4);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &[resize] {
        resize: horizontal;
        overflow: auto;
      }
      & [ea-drawer-header] {
        height: var(--ea-drawer-header-height);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & [ea-drawer-body] {
        height: calc(
          100% -
            (var(--ea-drawer-header-height) + var(--ea-drawer-footer-height))
        );
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      & [ea-drawer-footer] {
        height: var(--ea-drawer-footer-height);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &[state='closed'] {
        display: none !important;
      }
      & section {
        flex-grow: 1;
      }
      & a {
        font-size: 1rem;
        color: var(--ea-color-3);
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      a:active {
        color: var(--ea-color-3);
      }

      a:visited {
        color: var(--ea-color-3);
      }
      & a > div {
        padding: 0.5em;
        display: flex;
        align-items: center;
      }

      & a > div:hover {
        background-color: var(--ea-color-background-3);
      }
    }

    & ea-main {
      grid-area: main;
    }
  }
}
