@define-mixin list-default {
}

@define-mixin list-mode {
  .ea-list {
    width: 100%;
    background-color: var(--ea-list-background-color, --ea-color-3);
    box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.08);
    color: var(--ea-text-color);
    max-height: var(--ea-list-max-height, calc(var(--ea-sizer) * 15em));
    overflow-y: auto;
    & [listitem] {
      align-items: center;
      background: transparent;
      border: calc(var(--ea-spacer) * 0.02em) solid rgba(0, 0, 0, 0);
      cursor: pointer;
      display: flex;
      font-size: calc(var(--ea-sizer) * 1rem);
      height: calc(var(--ea-sizer) * 3em);
      margin: calc(var(--ea-spacer) * 0.07em);
      padding: 0 0 0 calc(var(--ea-spacer) * 1em);
      &:active {
        background-color: var(--ea-background-color-active);
        box-shadow: unset;
        border: calc(var(--ea-sizer) * 0.1em) transparent solid;
        color: var(--ea-color-3);
      }
      &:hover:not(:active) {
        background-color: var(--ea-background-color-hover);
        box-shadow: none;
        border: calc(var(--ea-sizer) * 0.02em) transparent solid;
        color: var(--ea-color-3);
      }
    }
  }
}
