@define-mixin list-mode {
  ul, ol {
    &.ea-list {
      width: 100%;
      background-color: var(--ea-list-background-color, --ea-color-3);
      box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.08);
      color: var(--ea-text-color);
      overflow-y: auto;
      list-style: none;
      padding: 0;
      display: inline-block;
      & li {
        border: calc(var(--ea-spacer) * 0.02em) solid rgba(0, 0, 0, 0);
        cursor: pointer;
        margin: calc(var(--ea-spacer) * 0.07em);
        padding: calc(var(--ea-spacer) * 0.6em);
      }
      & li:active {
        background: var(--ea-background-color-active);
        color: var(--ea-color-3);
      }

      & li:hover:not(:active) {
        background: var(--ea-background-color-hover);
        box-shadow: none;
        border: calc(var(--ea-sizer) * 0.02em) transparent solid;
        color: var(--ea-color-3);
      }
    }
  }
}
