@define-mixin markdown-mode {
  & ea-markdown {
    width: auto;
    display: block;
    & p {
      font-size: 1.2em;
    }
    & code[class*='language-'],
    & pre[class*='language-'] {
      color: #ccc;
      background: none;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }
    & pre[class*='language-'] {
      padding: 1em;
      margin: 0;
      overflow: auto;
      background: var(
        --ea-background,
        var(--ea-markdown-background, var(--ea-color-2))
      );
    }
    & pre {
      padding: 1em;
      margin: 0.5em 0;
      overflow: auto;
      background: var(
        --ea-background,
        var(--ea-markdown-background, var(--ea-color-2))
      );
      border-radius: 0.15em;
    }
    /* Inline code */
    & :not(pre) > code[class*='language-'] {
      padding: 0.1em;
      border-radius: 0.3em;
      white-space: normal;
    }
    & .token.comment,
    & .token.block-comment,
    & .token.prolog,
    & .token.doctype,
    & .token.cdata {
      color: #999;
    }
    & .token.punctuation {
      color: #ccc;
    }
    & .token.tag,
    & .token.attr-name,
    & .token.namespace,
    & .token.deleted {
      color: #e2777a;
    }
    & .token.attr-name {
      color: #77a7e2;
    }
    & .token.function-name {
      color: #6196cc;
    }
    & .token.boolean,
    & .token.number,
    & .token.function {
      color: #f08d49;
    }
    & .token.property,
    & .token.class-name,
    & .token.constant,
    & .token.symbol {
      color: var(--ea-markdown-property);
    }
    & .token.selector,
    & .token.important,
    & .token.atrule,
    & .token.keyword,
    & .token.builtin {
      color: #cc99cd;
    }
    & .token.string,
    & .token.char,
    & .token.attr-value,
    & .token.regex,
    & .token.variable {
      color: var(--ea-color-accent-1);
    }
    & .token.operator,
    & .token.entity,
    & .token.url {
      color: #67cdcc;
    }
    & .token.important,
    & .token.bold {
      font-weight: bold;
    }
    & .token.italic {
      font-style: italic;
    }
    & .token.entity {
      cursor: help;
    }
    & .token.inserted {
      color: green;
    }
  }
}
