.mode {
  & ea-menu {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: space-between;
    line-height: 25px;

    & .node-toggle {
      padding: 0;
      width: 1.4rem;
      height: 1.2rem;
      background: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        height: 0.8em;
        width: 0.8em;
      }
    }

    & .name {
      margin-left: 5.5px;
      width: 100%;
      color: white;
      display: flex;
      align-items: center;
    }

    & .chevron {
      --ea-button-icon: var(--ea-icon-chevron);
      width: 1.2rem;
    }

    & aside {
      width: 1rem;
      height: 1rem;
    }

    &.has-children {
      & .ea-icon-button .chevron-right {
        --ea-button-icon: var(--ea-icon-chevron-right);

        height: 0.7rem;
        width: 0.8rem;
        background-position: center;
        background-position-x: right;
      }

      & .ea-icon-button .chevron-down {
        --ea-button-icon: var(--ea-icon-chevron-down);

        height: 0.7rem;
        width: 0.8rem;
        background-position: center;
        background-position-x: right;
        margin-left: 0.2rem;
      }

      & .node-toggle {
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }

      & .ea-tree-children {
        & .node .name {
          margin-left: 10px;
        }
      }
    }

    &[active] {
      background: var(--ea-color-background-6);
      color: var(--ea-color-1);
    }

    &:hover {
      background: var(--ea-color-background-2);
      color: var(--ea-color-3);

      & .ea-icon-button.chevron-right.chevron-down {
        --ea-button-icon: var(--ea-icon-chevron-down-neg);
      }

      & .ea-icon-button.chevron-right {
        --ea-button-icon: var(--ea-icon-chevron-right-neg);
      }

      & .ea-icon-button.object-menu {
        --ea-button-icon: var(--ea-icon-vertical-menu);

        display: block;
        background-position: center;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

}
