@define-mixin menu {
  & ea-menu {
    --ea-menu-height: 2.5;
    user-select: none;
    cursor: pointer;
    position: relative;
    & .node {
      display: flex;
      line-height: var(--ea-menu-height);
      align-items: center;
      position: relative;

      & span[icon] {
        height: 0.7rem;
        width: 0.7rem;
      }

      &[hidden] {
        display: none;
      }

      &[toggle] {
        flex-direction: row-reverse;
      }

      &[active] {
        background: var(
          --ea-menu-background-color-active,
          var(--ea-background-color-active)
        );
        color: var(--ea-menu-color-active, var(--ea-text-color-light));
      }

      &:hover {
        background: var(
          --ea-menu-background-hover,
          var(--ea-background-color-hover)
        );
        color: var(--ea-menu-color-hover, var(--ea-text-color-light));
      }

      &:active {
        background: var(
          --ea-menu-background-color-active,
          var(--ea-background-color-active)
        );
        box-shadow: var(
          --ea-menu-background-active-shadow,
          var(--ea-background-active-shadow)
        );
        color: var(--ea-menu-color-active, var(--ea-text-color-light));
      }

      &.dropdownNode{
        &:hover {
          background: transparent;
        }
      }

      & .toggleArea {
        display: flex;
        height:  2.5em;
        align-items: center;
        justify-content: flex-end;
        &.dropdownToggle {
          min-width: 100% !important;
          justify-content: center;
          &:hover {
            background: transparent;
          }
        }
      }
    }

    & .node-toggle {
      padding: 0;
      width: 1.2rem;
      height: 1.1rem;
      background: none;
      border: none;
      cursor: pointer;

      & span {
        margin: 0;
      }

      &:hover {
        border: none;
      }

      &[disabled] {
        border: none;
        cursor: not-allowed;
      }

      &.close {
        font-size: 10px;
        margin-left: 10px;

        & span {
          transition: all ease 0.2s;
        }

        &:hover {
          & span {
            transform: scale(1.4);
          }
        }
      }
    }

    & .name {
      margin-left: 5.5px;
      width: 100%;
      color: var(--ea-color, var(--ea-menu-color, var(--ea-text-color)));
      display: flex;
      align-items: center;

      &[toggle] {
        flex-direction: row-reverse;
        & span[icon] {
          margin-right: 0.5em;
          margin-left: 0.5em;
        }
      }

      & aside {
        font-size: 0.8em;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 8px;
        & .close {
          font-size: 10px;
          margin-right: 0.6rem;

          & span {
            transition: all ease 0.2s;
          }

          &:hover {
            background: none;

            & span {
              transform: scale(1.4);
            }
          }
        }
      }
    }
    & .ea-tree-children {
      &.horizontal {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
      }
      &.dropdown {
        --ea-color: var(--ea-color-2);
        position: absolute;
        z-index: 1;
        background: var(
          --ea-background,
          var(--ea-menu-background-dropdown, white)
        );
        min-width: 8rem;
        box-shadow: var(--ea-box-shadow);
        & .node {
          & .name {
            padding-left: 0 !important;
            margin-left: 0;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
