.fluentdark,
.mode {
  & ea-panel {
    --ea-panel-color: var(--ea-color-1);
    --ea-panel-background: var(--ea-color-background-2);

    --ea-panel-height: var(--ea-panel-height, initial);
    --ea-panel-width: var(--ea-panel-width, initial);
    --ea-panel-max-height: var(--ea-panel-max-height, 100%);
    --ea-panel-max-width: var(--ea-panel-max-width, 100%);
    --ea-panel-min-size-ratio: 0.5;

    display: block;
    color: var(--ea-panel-color);
    background: var(--ea-panel-background);
    height: var(--ea-panel-height);
    width: var(--ea-panel-width);
  }

  & ea-panel[orientation='top'] {
    --ea-panel-width: var(--ea-panel-max-width) !important;
  }

  & ea-panel[orientation='left'] {
    --ea-panel-height: var(--ea-panel-max-height) !important;
    float: left;
  }

  & ea-panel[orientation='right'] {
    --ea-panel-height: var(--ea-panel-max-height) !important;
    float: right;
  }

  & ea-panel[orientation='bottom'] {
    --ea-panel-width: var(--ea-panel-max-width) !important;
    position: absolute;
    bottom: 0;
  }

  & .ea-panel-host-element[ea-panel-host-orientation='bottom'] {
    position: relative;
  }

  & ea-panel[state='maximized'] {
    --ea-panel-height: var(--ea-panel-max-height);
    --ea-panel-width: var(--ea-panel-max-width);
  }

  & ea-panel[state='minimized'] {
    --ea-panel-height: calc(
      var(--ea-panel-max-height) * var(--ea-panel-min-size-ratio)
    );
    --ea-panel-width: calc(
      var(--ea-panel-max-width) * var(--ea-panel-min-size-ratio)
    );
  }

  & ea-panel[state='closed'] {
    width: 0;
  }

  & ea-panel[flex-centered] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
