@define-mixin table-mode-old {
  ea-markdown {
    overflow-x: auto;
  }
  .ea-table-old {
    --ea-table-thead-th-color: var(--ea-color-2);
    width: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;

    & td {
      padding: var(--ea-table-padding, 1.25em 1.5em);
      font-size: 1.2em;
      text-align: left;
      border-bottom: 1px solid var(--ea-color-3-dark);
      color: var(--ea-table-td-color, var(--ea-text-color));
    }

    & th {
      text-align: left;
      padding: var(--ea-table-th-padding, 0em 0em);
    }

    thead {
      background: var(--ea-table-thead-background, transparent);
      & th {
        font-size: 1.5em;
        border-radius: 0;
        color: var(--ea-table-thead-th-color, var(--ea-text-color));
      }
      &:hover {
        background: none;
      }
    }

    tbody {
      background: transparent;

      &[striped] > tr:nth-child(odd) {
        background-color: rgba(242, 242, 242, 0.5);
      }
      & tr[clean] {
        border: none;
      }
      & tr {
        &:hover {
          background-color: rgba(0, 0, 0, 0.015);
          cursor: pointer;
        }
      }
    }

    table.striped tr {
      border-bottom: none;
    }

    /* table.striped > tbody > tr > td {
      border-radius: 0;
    }

    table.highlight > tbody > tr {
      -webkit-transition: background-color 0.25s ease;
      transition: background-color 0.25s ease;
    }

    table.highlight > tbody > tr:hover {
      background-color: rgba(242, 242, 242, 0.5);
    }

    table.centered thead tr th,
    table.centered tbody tr td {
      text-align: center;
    } */
    /*
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      &[center] > td {
        text-align: center;
      }
      &[center] > th {
        text-align: center;
      }
    } */

    /* td,
    th {
      padding: var(--ea-table-padding, 1.8em 1.5em);
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      border-radius: 2px;
      border-bottom: 1px solid #ddd;
    }
    & tr:last-child {
      border-bottom: none;
    } */
  }
}
