.fluentdark,
.mode {
  table,
  th,
  td {
    border: none;
  }

  thead {
    --ea-table-thead-background: var(--ea-table-thead-background, var(--ea-color-background-3));
    background: var(--ea-table-thead-background);
    & th {
      border-radius: 0;
      color: var(--ea-color-3);
    }
  }

  tbody {
    background: var(--ea-color-3);

    &[striped] > tr:nth-child(odd) {
        background-color: rgba(242, 242, 242, 0.5);
    }
    & tr[clean] {
      border: none;
    }
  }

  table {
    width: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2em 0;
    box-shadow: var(--ea-box-shadow);
  }

  table.striped tr {
    border-bottom: none;
  }


  table.striped > tbody > tr > td {
    border-radius: 0;
  }

  table.highlight > tbody > tr {
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }

  table.highlight > tbody > tr:hover {
    background-color: rgba(242, 242, 242, 0.5);
  }

  table.centered thead tr th,
  table.centered tbody tr td {
    text-align: center;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    &[center] > td {
      text-align: center;
    }
    &[center] > th {
      text-align: center;
    }
  }


  td,
  th {
    --ea-table-padding: var(--ea-table-padding, 0.8em 1.5em);

    padding: var(--ea-table-padding);
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }
}
