@define-mixin table-base {
}

@define-mixin table-mode {
  table {
    --ea-table-thead-th-color:#9E9E9E;

    @mixin table-base th, td {
      border-bottom: 1px solid #ddd;
    }


    thead {
      background: var(--ea-table-thead-background, transparent);
      & th {
        border-radius: 0;
        color: var(--ea-table-thead-th-color,  var(--ea-base-text-color));
      }
    }

    tbody {
      background: var(--ea-main-background);

      &[striped] > tr:nth-child(odd) {
        background-color: rgba(242, 242, 242, 0.5);
      }
      & tr[clean] {
        border: none;
      }
    }

    table {
      width: auto;
      display: table;
      border-collapse: collapse;
      border-spacing: 0;
      margin: 2em 0;
      box-shadow: var(--ea-box-shadow);
    }

    table.striped tr {
      border-bottom: none;
    }

    table.striped > tbody > tr > td {
      border-radius: 0;
    }

    table.highlight > tbody > tr {
      -webkit-transition: background-color 0.25s ease;
      transition: background-color 0.25s ease;
    }

    table.highlight > tbody > tr:hover {
      background-color: rgba(242, 242, 242, 0.5);
    }

    table.centered thead tr th,
    table.centered tbody tr td {
      text-align: center;
    }

    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      &[center] > td {
        text-align: center;
      }
      &[center] > th {
        text-align: center;
      }
    }

    td,
    th {
      padding: var(--ea-table-padding, 1.8em 1.5em);
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      /* border-radius: 2px; */
      border-bottom: 1px solid #ddd;
    }
    & tr:last-child {
      border-bottom: none;
    }
  }
}
