  @define-mixin tabs {
  & ea-tab {

    background: var(--ea-tabs-background, tansparent);
    display: none;
    border: var(--ea-tabs-border, none);
    &[active] {
      display: block;
    }
  }

  & ea-tabs {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    & > ea-menu {
      & .name {
        color: var(--ea-tabs-menu-color, var(--ea-base-text-color));
      }
      & .node {
        border-top: .1em solid transparent;
      }
      & .node[active]{
        background: var(--ea-tabs-background-color-active, none);
        border-bottom: var(--ea-tabs-border-bottom-active, .1em solid var(--ea-base-color));
        &:hover {
          border-top: .1em solid transparent;
        }
        & .name {
          font-weight: var(--ea-tabs-font-weight-active, inherit);
        }
      }
      & .node:hover {
        background: transparent;
        border-top: .1em solid var(--ea-background-hover);
      }
      & .node:active {
        --ea-background-active: rgba(0,0,0,.15);
        background: var(--ea-background-active);
        box-shadow: none;
        border-bottom: .1em solid transparent;
      }
      & .ea-tree-children.horizontal {
        border-bottom: var(--ea-tabs-border-bottom, .05em solid lightgrey);
        background: var(--ea-tabs-background-color, transparent);
      }
    }
  }
}
