@define-mixin tabs {
  & ea-tab {
    background: var(--ea-background, var(--ea-tab-body-background, tansparent));
    display: none;
    border: var(--ea-tab-body-border, none);
    &[active] {
      display: block;
    }
  }

  & ea-tabs {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    & > ea-menu {
      & .name {
        color: var(--ea-color, var(--ea-tab-color, var(--ea-base-text-color)));
      }
      & .node {
        background: var(--ea-background, var(--ea-tab-background, transparent));
        border-top: 0.1em solid transparent;
      }
      & .node[active] {
        background: var(--ea-background, var(--ea-tab-background-active, transparent));
        border-bottom: var(
          --ea-tab-border-bottom-active,
          0.1em solid var(--ea-color-1)
        );
        color: var(--ea-color, var(--ea-tab-color-active, var(--ea-base-text-color)));
        &:hover {
          border-top: 0.1em solid transparent;
        }
        & .name {
          font-weight: var(--ea-tab-font-weight-active, inherit);
        }
      }
      & .node:hover {
        background: var(--ea-background, var(--ea-tab-background-hover, transparent));
        border-top: 0.1em solid var(--ea-background-hover);
        color: var(--ea-color, var(--ea-tab-color-hover, var(--ea-base-text-color)));
      }
      & .node:active {
        background: var( --ea-background, var(--ea-tab-background-active, rgba(0, 0, 0, 0.15)));
        box-shadow: none;
        border-bottom: 0.1em solid transparent;
        color: var(--ea-color, var(--ea-tab-color-active, var(--ea-base-text-color)));
      }
      & .ea-tree-children.horizontal {
        border-bottom: var(--ea-tabs-border-bottom, 0.05em solid var(--ea-color-3-low));
        background: var(--ea-background, var(--ea-tabs-background, transparent));
        overflow-x: auto;
      }
    }
  }
}
