@define-mixin themepicker {
  & ea-themepicker {
    cursor: pointer;
    outline: none;
    & .icon-button {
      cursor: pointer;
      width: 1.6rem;
      height: 1.6rem;
      border: none;
      background: inline('mode/icon/palette.svg');
      background-repeat: no-repeat;
      box-shadow: none;
    }
    & .ea-themepicker-dropdown {
      position: absolute;
    }
    & .ea-themepicker-dropdown-list {
      position: relative;
      display: inline-block;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    & .ea-themepicker-list-item {
      color: black;
      text-emphasis: none;
      text-decoration: none;
      position: relative;
      background-color: #f9f9f9;
      min-width: 60px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 5px;
      height: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .ea-themepicker-list-item:hover {
      background-color: #f1f1f1;
    }
  }
}
