@define-mixin typography {

  /* --ea-h1-color:
  --ea-h1-font-size:
  --ea-h1-font-weight:
  --ea-h2-color:
  --ea-h2-font-size:
  --ea-h2-font-weight:
  --ea-h3-color:
  --ea-h3-font-size: */

  & h1 {

    font-size: var(--ea-h1-font-size, 2.875em);
    font-family: var(--ea-h1-font-family, var(--ea-font-1));
    font-weight: lighter;
    margin-bottom: 0.6em;
  }
  & h1::selection {
    background: var(--ea-h1-background-selection, var(--ea-base-color));
    color: var(--ea-h1-color-selection, var(--ea-text-color-light));
  }

  & h2 {

    font-family: var(--ea-font-1);
    font-size: var(--ea-h2-font-size, 2.125rem);
    /* min-size, max-size */
    font-weight: lighter;
    margin-bottom: 0.4em;
  }
  & h2::selection {
    background: var(--ea-h1-background-selection, var(--ea-base-color));
    color: var(--ea-h1-color-selection, var(--ea-text-color-light));
  }

  & h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.2rem 0 0.1rem 0;
  }

  & h3::selection {
    background: var(--ea-h1-background-selection, var(--ea-base-color));
    color: var(--ea-h1-color-selection, var(--ea-text-color-light));
  }

  & h4 {
    font-size: 1.2em;
  }
  & h4::selection {
    background: var(--ea-h1-background-selection, var(--ea-base-color));
    color: var(--ea-h1-color-selection, var(--ea-text-color-light));
  }

  & h5 {
    font-size: 1.1em;
  }
  & h5::selection {
    background: var(--ea-h1-background-selection, var(--ea-base-color));
    color: var(--ea-h1-color-selection, var(--ea-text-color-light));
  }

  & p {
    font-size: 1em;
    line-height: 1.33em;
    font-weight: 400;
    margin: 1em 0;
    user-select: auto;
  }
  & p::selection {
    background: var(--ea-p-background-selection, var(--ea-base-color));
    color: var(--ea-p-color-selection, var(--ea-text-color-light));
  }
/*
  --ea-link-color:
  --ea-link-color-visited:
  --ea-link-color-hover:
  --ea-link-color-active: */
  & a {
    font-size: 1rem;
    text-decoration: underline;
  }

  & a::selection {
    background: var(--ea-h1-background-selection, var(--ea-base-color));
    color: var(--ea-h1-color-selection, var(--ea-text-color-light));
  }
  
  & code {
    background: var(--ea-code-background, var(--ea-alt-base-color));
    color: var(--ea-code-color, #ccc);
    padding: 0.2rem;
    border-radius: 0.3rem;
    margin-right: 0.1rem;
  }
  & code::selection {
    background: var(--ea-code-background-selection, var(--ea-base-color));
    color: var(--ea-code-color-selection, var(--ea-text-color-light));
   }
}
