@define-mixin utilities {
  & [m-1] {
    margin: calc(
      (((var(--ea-scalar-factor) * 0.5) / var(--ea-font-size)) * 1em)
    );
  }

  & [m-0] {
    margin: 0;
  }

  & [m-1-1-1-0] {
    margin: calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em))
      calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em))
      calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em)) 0;
  }


  /* Margin Top */
  & [m-1-0-0-0] {
    margin: calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em))
      0 0 0;
  }

  & [m-2-0-0-0] {
    margin: calc((((var(--ea-scalar-factor) * 2) / var(--ea-font-size)) * 1em))
      0 0 0;
  }

  & [m-3-0-0-0] {
    margin: calc((((var(--ea-scalar-factor) * 3) / var(--ea-font-size)) * 1em))
      0 0 0;
  }

  & [m-4-0-0-0] {
    margin: calc((((var(--ea-scalar-factor) * 4) / var(--ea-font-size)) * 1em))
      0 0 0;
  }

  & [m-0-0-1-0] {
    margin: 0 0
      calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em)) 0;
  }
  & [m-0-0-2-0] {
    margin: 0 0
      calc((((var(--ea-scalar-factor) * 2) / var(--ea-font-size)) * 1em)) 0;
  }
  & [m-0-0-3-0] {
    margin: 0 0
      calc((((var(--ea-scalar-factor) * 3) / var(--ea-font-size)) * 1em)) 0;
  }
  & [m-0-0-4-0] {
    margin: 0 0
      calc((((var(--ea-scalar-factor) * 4) / var(--ea-font-size)) * 1em)) 0;
  }

  & [m-0-1] {
    margin: 0
      calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em));
  }

  & [m-2] {
    margin: calc((((var(--ea-scalar-factor) * 2) / var(--ea-font-size)) * 1em));
  }

  /* Padding Utilities */
  & [p-1-0-0-0] {
    padding: calc((((var(--ea-scalar-factor) * 1) / var(--ea-font-size)) * 1em))
      0 0 0;
  }

  & [p-2-0-0-0] {
    padding: calc((((var(--ea-scalar-factor) * 2) / var(--ea-font-size)) * 1em))
      0 0 0;
  }

  & [p-4-0] {
    padding: calc((((var(--ea-scalar-factor) * 4) / var(--ea-font-size)) * 1em))
      0 ;
  }

  & [p-3-0] {
    padding: calc((((var(--ea-scalar-factor) * 3) / var(--ea-font-size)) * 1em))
      0 ;
  }

  [sm] {
    --ea-font-size: 0.8rem;
  }
  [md] {
    --ea-font-size: 1.25rem;
  }
  [lg] {
    --ea-font-size: 1.5rem;
  }
  [xl] {
    --ea-font-size: 2rem;
  }
  [xxl] {
    --ea-font-size: 2.5rem;
  }
  [avatar] {
    display: grid;
    grid-template-areas:
      'img header'
      'img text';
    & img {
      grid-area: img;
    }
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong {
      grid-area: header;
    }
    & p {
      grid-area: text;
    }
  }
  [role='list'] {
    background-color: var(
      --ea-background,
      var(--ea-list-background-color, white)
    );
    box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.08);
    max-height: var(--ea-height, var(--ea-list-max-height, 10em));
    overflow-y: auto;
  }
  [role='listitem'] {
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 0 0 0 1em;
    height: var(--ea-height, var(--ea-listitem-height, 3em));
    background: var(
      --ea-background,
      var(--ea-listitem-background, transparent)
    );
    border-color: var(
      --ea-listitem-border-color,
      var(--ea-listitem-border-color, rgba(0, 0, 0, 0))
    );
    border-width: var(
      --ea-listitem-border-width,
      var(--ea-listitem-border-width, 0.1em)
    );
    border-style: var(
      --ea-listitem-border-style,
      var(--ea-listitem-border-style, solid)
    );
    color: var(--ea-color, var(--ea-listitem-color, var(--ea-text-color)));
    &:hover:not(:active) {
      background-color: var(
        --ea-background,
        var(--ea-listitem-background-hover, rgba(0, 0, 0, 0.1))
      );
      box-shadow: none;
      border-color: var(
        --ea-button-border-color,
        var(--ea-button-border-color-hover, rgba(0, 0, 0, 0))
      );
      border-width: var(
        --ea-button-border-width,
        var(--ea-button-border-width-hover, 0.1em)
      );
      border-style: var(
        --ea-button-border-style,
        var(--ea-listitem-border-style-hover, solid)
      );
      color: var(--ea-color, var(--ea-listitem-color-hover, var(--ea-color-2)));
    }

    &:active {
      box-shadow: unset;
      background-color: var(
        --ea-background,
        var(--ea-listitem-background-active, rgba(0, 0, 0, 0.25))
      );
      border-color: var(
        --ea-listitem-border-color,
        var(--ea-listitem-border-color-active, rgba(0, 0, 0, 0))
      );
      border-width: var(
        --ea-listitem-border-width,
        var(--ea-listitem-border-width-active, 0.1em)
      );
      border-style: var(
        --ea-listitem-border-style,
        var(--ea-listitem-border-style-active, solid)
      );
      color: var(
        --ea-color,
        var(--ea-listitem-color-active, var(--ea-color-2))
      );
    }
  }
  [role='banner'] {
    /* height: var(--ea-height, var(--ea-banner-height, 6em)); */
    background: var(
      --ea-background,
      var(--ea-banner-background, var(--ea-color-1))
    );
    box-shadow: var(--ea-box-shadow);
    display: var(--ea-banner-display, flex);
    padding: 2.1em 4.2vw;
    margin-bottom: calc(var(--ea-spacer) * 1.5em) ;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--ea-font-weight, var(--ea-banner-font-weight, 800));
    color: var(--ea-color, var(--ea-banner-color, var(--ea-text-color-light)));
    & h1,
    h2,
    h3 {
      margin: 0;
    }
  }

  & [multi-col] {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        var(--ea-grid-col-min-width, 22em),
        var(--ea-grid-col-max-width, 1fr)
      )
    );
    grid-gap: var(--ea-grid-gap, 1.5em);
    &[center] {
      align-items: center;
      justify-items: center;
    }
    &[v-center] {
      align-items: center;
    }
    &[h-center] {
      justify-items: center;
    }
  }
  & [flex-center] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &[row] {
      flex-direction: row;
    }
  }
  & [flex-space-evenly] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  & [p] {
    padding: var(--ea-padding-value, 1em);
  }
  & [max-width] {
    width: 100%;
    max-width: var(--ea-max-width, 1080px);
  }
}
