@define-mixin utilities {
  [sm] {
    font-size: 0.8rem;
  }
  [md] {
    font-size: 1.25rem;
  }
  [lg] {
    font-size: 1.5rem;
  }
  [xl] {
    font-size: 2rem;
  }
  [xxl] {
    font-size: 2.5rem;
  }
  [avatar] {
    display: grid;
    grid-template-areas:
      'img header'
      'img text';
    & img {
      grid-area: img;
    }
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong {
      grid-area: header;
    }
    & p {
      grid-area: text;
    }
  }
  [role='list'] {
    background-color: var(
      --ea-background,
      var(--ea-list-background-color, white)
    );
    box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.08);
    max-height: var(--ea-height, var(--ea-list-max-height, 10em));
    overflow-y: auto;
  }
  [role='listitem'] {
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 0 0 0 1em;
    height: var(--ea-height, var(--ea-listitem-height, 3em));
    background: var(
      --ea-background,
      var(--ea-listitem-background, transparent)
    );
    border-color: var(
      --ea-listitem-border-color,
      var(--ea-listitem-border-color, rgba(0, 0, 0, 0))
    );
    border-width: var(
      --ea-listitem-border-width,
      var(--ea-listitem-border-width, 0.1em)
    );
    border-style: var(
      --ea-listitem-border-style,
      var(--ea-listitem-border-style, solid)
    );
    color: var(--ea-color, var(--ea-listitem-color, var(--ea-text-color)));
    &:hover:not(:active) {
      background-color: var(
        --ea-background,
        var(--ea-listitem-background-hover, rgba(0, 0, 0, 0.1))
      );
      box-shadow: none;
      border-color: var(
        --ea-button-border-color,
        var(--ea-button-border-color-hover, rgba(0, 0, 0, 0))
      );
      border-width: var(
        --ea-button-border-width,
        var(--ea-button-border-width-hover, 0.1em)
      );
      border-style: var(
        --ea-button-border-style,
        var(--ea-listitem-border-style-hover, solid)
      );
      color: var(--ea-color, var(--ea-listitem-color-hover, var(--ea-color-2)));
    }

    &:active {
      box-shadow: unset;
      background-color: var(
        --ea-background,
        var(--ea-listitem-background-active, rgba(0, 0, 0, 0.25))
      );
      border-color: var(
        --ea-listitem-border-color,
        var(--ea-listitem-border-color-active, rgba(0, 0, 0, 0))
      );
      border-width: var(
        --ea-listitem-border-width,
        var(--ea-listitem-border-width-active, 0.1em)
      );
      border-style: var(
        --ea-listitem-border-style,
        var(--ea-listitem-border-style-active, solid)
      );
      color: var(
        --ea-color,
        var(--ea-listitem-color-active, var(--ea-color-2))
      );
    }
  }
  [role='banner'] {
    font-size: var(--ea-font-size, var(--ea-banner-font-size, 1em));
    height: var(--ea-height, var(--ea-banner-height, 6em));
    background: var(
      --ea-background,
      var(--ea-banner-background, var(--ea-color-1))
    );
    box-shadow: var(--ea-box-shadow);
    display: var(--ea-banner-display, flex);
    padding: 3em;
    margin-bottom: 2em;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--ea-font-weight, var(--ea-banner-font-weight, 800));
    color: var(--ea-color, var(--ea-banner-color, var(--ea-text-color-light)));
    &[start] {
      justify-content: flex-start;
      align-items: center;
    }
    &[center] {
      justify-content: center;
      align-items: center;
    }
    &[end] {
      justify-content: flex-end;
      align-items: center;
    }
    &[two-col] {
      --ea-banner-hero-display: grid;
      grid-template-columns: 1fr, 1fr;
    }
  }

  & [multi-col] {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--ea-grid-col-min-width, 22em), var(--ea-grid-col-max-width, 1fr))
    );
    grid-gap: var(--ea-grid-gap, 1.5em);
  }
  & [center] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &[row] {
      flex-direction: row;
    }
  }
  & [p] {
    padding: var(--ea-padding-value, 1em);
  }
  & [max-width] {
    width: 100%;
    max-width: var(--ea-max-width, 1080px);
  }
  label {
    font-weight: 700;
    text-transform: uppercase;
  }
}
