@define-mixin utilities {
  [sm] {
    --ea-sizer: 0.8;
  }
  [md] {
    --ea-sizer: 1.25;
  }
  [lg] {
    --ea-sizer: 1.5;
  }
  [xl] {
    --ea-sizer: 2;
  }
  [xxl] {
    --ea-sizer: 2.5;
  }
  [avatar] {
    display: grid;
    grid-template-areas:
      'img header'
      'img text';
    & img {
      grid-area: img;
    }
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong {
      grid-area: header;
    }
    & p {
      grid-area: text;
    }
  }
  [role='list'] {
    font-size: calc(var(--ea-sizer) * 1rem);
    background-color: var(--ea-color-3);
    box-shadow: inset 0px 3px 12px rgba(0, 0, 0, 0.08);
    max-height: calc(var(--ea-sizer) * 10em);
    overflow-y: auto;
  }
  [role='listitem'] {
    font-size: calc(var(--ea-sizer) * 1rem);
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 0 0 0 calc(var(--ea-spacer) * 1em);
    height: calc(var(--ea-sizer) * 3em);
    background: transparent;
    border-color: rgba(0, 0, 0, 0);
    border: 0.1em;
    border-style: solid;
    color: var(--ea-text-color);
    &:hover:not(:active) {
      background-color: var(--ea-background-color-hover);
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0);
      border: 0.1em;
      border-style: solid;
      color: var(--ea-color-2);
    }

    &:active {
      box-shadow: unset;
      background-color: var(--ea-background-color-active);
      border-color: rgba(0, 0, 0, 0);
      border: 0.1em;
      border-style: solid;
      color: var(--ea-color-2);
    }
  }
  [role='banner'] {
    /* height: var(--ea-height, var(--ea-banner-height, 6em)); */
    background: var(--ea-color-1);
    box-shadow: var(--ea-box-shadow);
    display: flex;
    padding: calc(var(--ea-spacer) * 2.1em) calc(var(--ea-spacer) * 4.2vw);
    margin-bottom: calc(var(--ea-spacer) * 1.5em);
    align-items: center;
    justify-content: space-between;
    font-weight: calc(var(--ea-sizer) * 800);
    color: var(--ea-text-color-light);
    & h1,
    h2,
    h3 {
      margin: 0;
    }
  }

  & [multi-col] {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        var(--ea-grid-col-min-width, 22em),
        var(--ea-grid-col-max-width, 1fr)
      )
    );
    grid-gap: var(--ea-grid-gap, 1.5em);
    &[center] {
      align-items: center;
      justify-items: center;
    }
    &[v-center] {
      align-items: center;
    }
    &[h-center] {
      justify-items: center;
    }
  }
  & [flex-center] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &[row] {
      flex-direction: row;
    }
  }
  & [flex-space-evenly] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  & [p] {
    padding: var(--ea-padding-value, 1em);
  }
  & [max-width] {
    width: 100%;
    max-width: var(--ea-max-width, 1080px);
  }
}
