.mode {
  /* Base Colors */
  --ea-color-1: hsl(223, 40%, 43%);
  --ea-color-1-light: hsl(223, 40%, 53%);


  /* Alternative Base Colors */
  --ea-color-2: hsl(0, 0%, 20%);
  --ea-color-2-light: hsl(0, 0%, 30%);

  --ea-color-3: hsl(0, 0%, 96%);
  --ea-color-3-dark: hsl(0, 0%, 86%);

  /* Accent Colors */
  --ea-color-accent-1: #6a9c45;
  --ea-color-accent-2: #0078d4;

  /* Semantic Colors */
  --ea-color-success: #5bb95b;
  --ea-color-info: #5ac1de;
  --ea-color-warning: #f1ae4e;
  --ea-color-danger: #d9534f;
  --ea-color-error: #d9534f;

  /* Text Colors */
  --ea-text-color: var(--ea-text-color-dark);
  --ea-text-color-dark: hsl(0, 0%, 20%);
  --ea-text-color-light: hsl(0, 0%, 96%);

  /* Hover, Active */
  --ea-background-color-hover: var(--ea-color-1);
  --ea-background-color-active: var(--ea-color-1-light);

  /* Fonts & Typography */
  --ea-font-1-family: 'Roboto';
  --ea-font-1-style: normal;
  --ea-font-1-weight: 400;
  --ea-font-size: 16;
  --ea-scalar-factor: 24;
  --ea-margin: var(--ea-scalar-factor);
  --ea-spacer: 1;

  /* Default */
  --ea-default-border-bottom-width: .2em;
  --ea-default-padding: .7em;

  font-family: var(--ea-font-1-family);
  font-style: var(--ea-font-1-style);
  font-weight: var(--ea-font-1-weight);
  /* font-size: var(--ea-font-1-size); */

  /* Utilities */
  --ea-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
  --ea-padding: 4rem;
  --ea-scale-factor: 0.5;

  /* Component Specific Overrides */
  --ea-main-background: var(--ea-color-3);

  --ea-markdown-background: var(--ea-color-2);

  --ea-toolbar-height: 4rem;
  --ea-toolbar-background: var(--ea-color-1-light);

 }
