.mode {
  /* Base Colors */
  --ea-color-1: hsl(223, 40%, 43%);
  --ea-color-1-high: hsl(223, 40%, 53%);

  /* Alternative Base Colors */
  --ea-color-2: hsl(0, 0%, 20%);
  --ea-color-2-high: (0, 0%, 30%);

  --ea-color-3: hsl(0, 0%, 96%);
  --ea-color-3-low: hsl(0, 0%, 86%);

  /* Text Colors */
  --ea-text-color-dark: hsl(0, 0%, 20%);
  --ea-text-color-light: hsl(0, 0%, 96%);
  --ea-base-text-color: var(--ea-text-color-dark);

  /* Hover, Active */
  --ea-background-color-hover: var(--ea-color-1);
  --ea-background-color-active: var(--ea-color-1-high);

  /* Fonts & Typography */
  --ea-font-1-family: 'Roboto';
  --ea-font-1-style: normal;
  --ea-font-1-weight: 400;
  --ea-font-size: 16px;

  font-family: var(--ea-font-1-family);
  font-style: var(--ea-font-1-style);
  font-weight: var(--ea-font-1-weight);
  /* font-size: var(--ea-font-1-size); */

  /* Utilities */
  --ea-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
  --ea-padding: 4rem;
  --ea-scale-factor: 0.5;

  /* Component Specific Overrides */
  --ea-main-background: var(--ea-color-3);

  --ea-markdown-background: var(--ea-color-2);

  --ea-toolbar-height: 4rem;
  --ea-toolbar-background: linear-gradient(
    to bottom right,
    var(--ea-color-1),
    var(--ea-color-1-high),
    var(--ea-color-1-high),
    var(--ea-color-1)
  );
  
}
