.mode {
  /* Base Colors */
  --ea-color-1-dark: hsl(223, 40%, 28%);
  --ea-color-1: hsl(223, 40%, 43%);
  --ea-color-1-light: hsl(223, 40%, 53%);

  --ea-color-2: hsl(0, 0%, 20%);
  --ea-color-2-light: hsl(0, 0%, 30%);

  --ea-color-3: hsl(0, 0%, 96%);
  --ea-color-3-dark: hsl(0, 0%, 86%);

  /* Accent Colors */
  --ea-color-accent-1: #6a9c45;
  --ea-color-accent-2: #0078d4;

  /* Semantic Colors */
  --ea-color-success: #5bb95b;
  --ea-color-success-dark: #438a43;
  --ea-color-info: #5ac1de;
  --ea-color-warning: #f1ae4e;
  --ea-color-danger: #d9534f;
  --ea-color-error: #d9534f;

  --ea-color-grey: hsl(0, 0%, 75%);
  --ea-color-grey-light: hsl(0, 0%, 85%);
  --ea-color-striped: rgba(139, 184, 232, 1);

  /* Text Colors */
  --ea-text-color: var(--ea-text-color-dark);
  --ea-text-color-dark: hsl(0, 0%, 20%);
  --ea-text-color-light: hsl(0, 0%, 96%);

  /* Hover, Active */
  --ea-background-1: hsl(223, 50%, 95%);
  --ea-background-2: hsl(223, 30%, 88%);

  --ea-background-color-hover: var(--ea-color-1);
  --ea-background-color-active: var(--ea-color-1-light);
  --ea-color-hover-not-active: hsl(223, 40%, 73%);

  /* Fonts & Typography */
  --ea-font-1-family: 'Roboto';
  --ea-font-1-style: normal;
  --ea-font-1-weight: 400;
  --ea-scalar-factor: 24;

  font-family: var(--ea-font-1-family);
  font-style: var(--ea-font-1-style);
  font-weight: var(--ea-font-1-weight);
  /* font-size: var(--ea-font-1-size); */

  /* Utilities */
  /* --ea-color: hsl(0, 0%, 20%); */
  /* --ea-background:  hsl(223, 50%, 95%); */
  /* --ea-border: 0.1em solid var(--ea-color-1-dark); */
  /* --ea-border-radius:  0.1em; */
  --ea-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
