
.mode {
  --ea-color-1: #202225;
  --ea-color-2: #1f242c;
  --ea-color-3: #fff;

  --ea-color-accent-1: #6a9c45;
  --ea-color-accent-2: #61429a;

  --ea-color-background-1: #ffffff;
  --ea-color-background-2: #425b9a;
  --ea-color-background-3: #52638d;
  --ea-color-background-4: #333333;
  --ea-color-background-5: #666a74;
  --ea-color-background-6: #A9B4D1;
  --ea-color-background-7: #f6f6f6;

  --ea-color-success: #5bb95b;
  --ea-color-info: #5ac1de;
  --ea-color-warning: #f1ae4e;
  --ea-color-danger: #d9534f;
  --ea-color-error: #d9534f;
  --ea-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);

  --ea-font-1-family: 'Roboto';
  --ea-font-1-style: normal;
  --ea-font-1-weight: 400;
  --ea-font-1-size: 16px;
  /*
    12 / 16 = 0.75rem
    14 / 16 = 0.875rem
    16 / 16 = 1rem
    18 / 16 = 1.125rem
    20 / 16 = 1.25rem
    24 / 16 = 1.5rem
    30 / 16 = 1.875rem
    36 / 16 = 2.25rem
    48 / 16 = 3rem */

  --panel-border-radius: 0.25rem;

  --min-font-size: 1rem;
  --max-font-size: 3rem;

  --ea-padding: 4rem;
  --ea-scale-factor: 0.5;
  --ea-toolbar-height: 4rem;


  font-family: var(--ea-font-1-family);
  font-style: var(--ea-font-1-style);
  font-weight: var(--ea-font-1-weight);
  /* font-size: var(--ea-font-1-size); */

}
