.mode {
  /* Base Colors */
  --ea-color-1: hsl(223, 40%, 43%);
  --ea-color-1-light: hsl(223, 40%, 53%);


  /* Alternative Base Colors */
  --ea-color-2: hsl(0, 0%, 20%);
  --ea-color-2-high: (0, 0%, 30%);

  --ea-color-3: hsl(0, 0%, 96%);
  --ea-color-3-dark: hsl(0, 0%, 86%);

  /* Accent Colors */
  --ea-color-accent-1: #6a9c45;
  --ea-color-accent-2: #0078d4;

  /* Semantic Colors */
  --ea-color-success: #5bb95b;
  --ea-color-info: #5ac1de;
  --ea-color-warning: #f1ae4e;
  --ea-color-danger: #d9534f;
  --ea-color-error: #d9534f;

  /* Text Colors */
  --ea-text-color: var(--ea-text-color-dark);
  --ea-text-color-dark: hsl(0, 0%, 20%);
  --ea-text-color-light: hsl(0, 0%, 96%);

  /* Hover, Active */
  --ea-background-color-hover: var(--ea-color-1);
  --ea-background-color-active: var(--ea-color-1-light);

  /* Fonts & Typography */
  --ea-font-1-family: 'Roboto';
  --ea-font-1-style: normal;
  --ea-font-1-weight: 400;
  --ea-font-size: 16;
  --ea-scalar-factor: 24;
  --ea-margin: var(--ea-scalar-factor);
  --ea-spacer: 1;


  font-family: var(--ea-font-1-family);
  font-style: var(--ea-font-1-style);
  font-weight: var(--ea-font-1-weight);
  /* font-size: var(--ea-font-1-size); */

  /* Utilities */
  --ea-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
  --ea-padding: 4rem;
  --ea-scale-factor: 0.5;

  /* Component Specific Overrides */
  --ea-main-background: var(--ea-color-3);

  --ea-markdown-background: var(--ea-color-2);

  --ea-toolbar-height: 4rem;
  --ea-toolbar-background: var(--ea-color-1-light);

  /* Table */
  --ea-table-thead-th-color: rgba(0, 0, 0, 1);
  --ea-table-thead-th-bgcolor: rgba(255, 255, 255, 1);
  --ea-table-thead-th-border-color:   rgba(0, 0, 0, 0.5);
  --ea-table-thead-th-text-align: center;

  --ea-table-tbody-text-align: center;

  --ea-table-border-bottom-width: 0.2em;
  --ea-table-border-color: rgba(83, 245, 8, 0.5);

  --ea-table-padding-top-bottom: 10px;
  --ea-table-padding-right-left: 10px;

  --ea-table-tr-striped-hover-bcolor: rgba(0, 0, 0, 1);
  --ea-table-tr-striped-bgcolor: rgba(255, 0, 0, 0.2);

  --ea-table-tr-hover-cursor: pointer;
  --ea-table-tr-hover-bgcolor: rgba(83, 245, 8, 0.5);
}
