.material {
  justify-content: space-between;
    display: flex;
    flex-direction: column;
  & ea-autocomplete {
    --ea-autocomplete-width: var(--ea-autocomplete-width, auto);

    --ea-autocomplete-hover-color: var(
      --ea-autocomplete-hover-color,
      var(--ea-color-background-1)
    );
    --ea-autocomplete-hover-background: var(
      --ea-autocomplete-hover-background,
      var(--ea-color-background-2)
    );
    --ea-autocomplete-selected-background: var(
      --ea-autocomplete-selected-background,
      var(--ea-color-background-3)
    );
    --ea-autocomplete-selected-color: var(
      --ea-autocomplete-selected-color,
      var(--ea-color-3)
    );

    display: block;
    position:relative;
    & ul {
      z-index: 1;
      box-sizing: border-box;
      list-style: none;
      padding: 0;
      border-radius: 0.3em;
      margin: 0.2em 0 0;
      background: var(--ea-color-background-1);
      background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 1));
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
      text-shadow: none;
      transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
      transform-origin: 1.43em -0.43em;
      position: absolute;
    }
    & li {
      color: var(--ea-color2);
      height: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 1rem;
    }
    & li:hover,
    & li[selected] {
      background-color: var(--ea-color-background-2);
      & .matched {
        color: var(--ea-color-3);
      }
      & mark {
        color: var(--ea-color-3);
        font-weight: 700;
      }
    }
    & input {
      /* background: var(--ea-color-background-2); */
      border: none;
      border-radius: 0;
      color: var(--ea-color-1);
      outline: none;
      padding-left: 1rem;
      box-shadow: none;
    }
  }
}
