.material {
  & .ea-card {
    background: var(--ea-color-3);
    box-shadow: var(--ea-box-shadow);
    border: 1px solid var(--ea-color-background-7);
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    & .ea-card-header {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid var(--ea-color-background-7);
      background: var(--ea-color-background-1);
      color: var(--ea-color-4);
    }
    & .ea-card-content {
      --ea-card-content-grid: var(--ea-card-content-grid, repeat(2, 1fr));
      display: grid;
      grid-template-columns: var(--ea-card-content-grid);
      grid-column-gap: 2rem;
      justify-items: center;
      margin: 1rem;
    }
    & .ea-card-footer {
      display: flex;
      justify-content: center;
      padding: 1rem 1.5rem;
      border-top: 1px solid var(--ea-color-background-7);
    }
  }
}
