.material {
  & ea-layout {
    /* <ea-drawer> variables */
    --ea-drawer-header-height: 4rem;
    --ea-drawer-footer-height: 4rem;
    --ea-drawer-width: 300px;

    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'toolbar toolbar'
      'drawer main';

    &[nav-overlay] {
      display: grid;
      grid-template-rows: var(--toolbar-height) 1fr;
      grid-template-columns: var(--drawer-width) 1fr;
      height: 100vh;
    }
    &[nav-overlay] > ea-main {
      grid-row: 2 / 4;
      grid-column: 1 / 4;
      height: 100%;
    }
    &[nav-overlay] > ea-toolbar {
      grid-row: 1;
      grid-column: 1 / 4;
    }
    &[nav-overlay] > ea-drawer {
      grid-row: 2 / 4;
      grid-column: 1;
      z-index: 1;
    }

    & ea-main {
      --ea-main-padding: var(--ea-main-padding, 0);
      --ea-main-background: var(
        --ea-main-background,
        var(--ea-color-background-7)
      );

      grid-area: main;
      overflow: auto;
      background: var(--ea-main-background);
      padding: var(--ea-main-padding);
      -webkit-overflow-scrolling: touch;
    }

    & ea-toolbar {
      /* --ea-toolbar-height: var(--ea-toolbar-height, inherit);
      --ea-toolbar-display: var(--ea-toolbar-display, inherit);
      --ea-toolbar-max-width: var(--ea-toolbar-max-width, inherit);

      height: var(--ea-toolbar-height);*/
      grid-area: toolbar;
      display: var(--ea-toolbar-display);
      background: var(--ea-color-background-2);
      grid-row: 1;
      grid-column: 1 / 4;
      z-index: 2;
      &[shadow] {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      }

      &[flex] {
        --ea-toolbar-display: flex;
      }

      &[grid] {
        --ea-toolbar-display: grid;
      }

      & header {
        color: var(--ea-color-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
      }

      & aside {
        --ea-toolbar-aside-padding: var(--ea-toolbar-aside-padding, 3rem);
        color: var(--ea-color-3);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: var(--ea-toolbar-aside-padding);
      }
    }

    & ea-drawer {
      /* --ea-drawer-width: var(--ea-drawer-width, 300px);
      --ea-drawer-a-hover: var(--ea-drawer-a-hover,  none);
      */
      grid-area: drawer;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      width: var(--ea-drawer-width);
      background: var(--ea-color-background-2);

      & section {
        flex-grow: 1;
      }

      &[resize] {
        resize: horizontal;
        overflow: auto;
      }

      & [overlay] {
        position: absolute;
        background: #000;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
        z-index: -1;
      }

      &[state='closed'] {
        width: 0;
      }

      & a {
        font-size: 1rem;
        color: var(--ea-color-3);
        text-decoration: none;
        display: flex;
        padding-left: 1rem;
        line-height: 2.5em;
        align-items: center;
        &:hover {
          text-decoration: none;
          background-color: var(--ea-drawer-a-hover);
        }
        &.active {
          background-color: var(--ea-color-background-2);
        }
        &:visited {
          color: var(--ea-color-3);
        }
      }
    }
  }
}
