@define-mixin menu-material {
  & ea-menu {
    /* --ea-menu-background-active: red; */
    /* --ea-menu-text-color: blue; */
    /* --ea-menu-background-hover: yellow;
    --ea-menu-background-active: brown; */

  user-select: none;
  cursor: pointer;

  & .node-toggle {
    padding: 0;
    width: 1.2rem;
    height: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;

    & span {
      margin: 0
    }

    &:hover {
      border: none
    }

    &[disabled] {
      border: none;
      cursor: not-allowed;
    }

    &.close {
      font-size: .6em;
      margin-left: .6em;

      & span {
        transition: all ease .2s;
      }

      &:hover {

        & span {
          transform: scale(1.4);
        }
      }
    }
  }

  & .name {
    margin-left: 5.5px;
    width: 100%;
    color: var(--ea-menu-text-color, var(--ea-text-color-dark));
    display: flex;
    align-items: center;
    &[active] {
      background: none;
      color: #115292;
    }

    &:hover {
      color: var(--ea-menu-text-color, var(--ea-background-hover));
    }
    &:active {
      color: var(--ea-menu-color-active, var(--ea-background-active));
    }
  }

  & aside {
    font-size: .8em;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 8px;
  }

  & .node {
    display: flex;
    line-height: 2em;
    align-items: center;
    position: relative;

    &[hidden] {
      display: none;
    }

    &[active] {
      background: none;
      color: #115292;
      & .name {
        color: var(--ea-menu-color-active, var(--ea-background-active));
      }
    }

    &:hover {
      background: var(--ea-menu-background-hover, none);
      color: var(--ea-menu-text-color, var(--ea-background-hover));

      & .node-toggle span[chevron-down] {
        --ea-button-icon: var(--ea-icon-chevron-down-neg);
      }

      & .node-toggle span[chevron-right] {
        --ea-button-icon: var(--ea-icon-chevron-right-neg);
      }

      & .node-toggle.object-menu {
        --ea-button-icon: var(--ea-icon-vertical-menu);

        display: block;
        background-position: center;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }

      & aside {
        opacity: 1;
      }
    }
    &:active {
      background: var(--ea-menu-background-active, none);
      color: var(--ea-menu-color-active, var(--ea-background-active));
      box-shadow: var(--ea-menu-background-active-shadow, none);
    }
  }

  & .ea-tree-children {

    &.horizontal {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }

  }

}
}
