<div role="banner" m-0-0-2-0>
  <div><h1>Utilities</h1></div>
</div>
<div class="content-container">
  <h2>Sizing</h2>

  <p>
    The following attributes are available to allow you to re-size a given
    component. Components in eang are largely based off <code>em</code> unit
    values which means that their values are proportional to the the parent
    font. These attributes adjust the parent font of the element to adjust all
    values in the component acoordingly.
  </p>

  <ul class="example-sm" style="padding-left: 1.4em;">
    <li><code>[sm]</code></li>
    <li><code>[md]</code></li>
    <li><code>[lg]</code></li>
    <li><code>[xl]</code></li>
    <li><code>[xxl]</code></li>
  </ul>

  <h2>Flex Box</h2>
  <p>
    Flexbox is a powerful tool for 2-D layouts. We capture different common
    use-cases for flex box in the attributes below. The goal is to reduce the
    redundancy of common flexbox layouts, e.g. vertical and horizontal
    centering, and spaceing children elements out evenly.
  </p>
  <div class="example">
    <h3>[flex-center]</h3>
    <section multi-col>
      <div
        flex-center
        style="background: white; box-shadow: inset var(--ea-box-shadow);"
      >
        <code>&lt;div [flex-center]&gt;</code>
      </div>
      <div><ea-markdown [doc]="center"></ea-markdown></div>
    </section>
  </div>
  <div class="example">
    <h3>[flex-space-evenly]</h3>
    <section multi-col>
      <div
        flex-center
        style="background: white; box-shadow: inset var(--ea-box-shadow);"
      >
        <code>&lt;div [flex-center]&gt;</code>
      </div>
      <div><ea-markdown [doc]="center"></ea-markdown></div>
    </section>
  </div>
  <h2>CSS Grid</h2>
  <p>
    CSS Grid is another powerful layout tool. We use common, and advanced grid
    patterns to simplify some of the capabilities of Grid, e.g. responsive
    multi-column layouts.
  </p>
  <div class="example">
    <h3>[ multi-col ]</h3>
    <section multi-col>
      <div multi-col style="--ea-grid-col-min-width: 18em; background: white;">
        <div center style="border: .1em dotted var(--ea-color-1);">
          <code>&lt;div [center]&gt;</code>
        </div>
        <div center style="border: .1em dotted var(--ea-color-1);">
          <code>&lt;div [center]&gt;</code>
        </div>
      </div>
      <div><ea-markdown [doc]="multi_col"></ea-markdown></div>
    </section>
  </div>
  <div class="example">
    <h3>[multi-col] [center]</h3>
    <section multi-col>
      <div
        multi-col
        center
        style="--ea-grid-col-min-width: 18em; background: white;"
      >
        <div style="border: .1em dotted var(--ea-color-1);">
          <code>&lt;div [center]&gt;</code>
        </div>
        <div style="border: .1em dotted var(--ea-color-1);">
          <code>&lt;div [center]&gt;</code>
        </div>
      </div>
      <div><ea-markdown [doc]="multi_col"></ea-markdown></div>
    </section>
  </div>
  <h2>Margins &amp; Padding</h2>
  <p>
    Eang offers configurable margin and padding settings as well as attributes
    to implement them in your markup. Global CSS Custom Properties set these
    values which allow developers to set these values at the theme level and the
    abillity to override them for more specific component scopes if desired.
  </p>
  <!-- <p>
          <b>ARIA Roles</b> (Accessible Rich Internet Applications), defines a
          way to make Web content and Web applications more accessible. We used
          it, along with its origonal intention, as a basis for commonly reused
          styles. The goal is to allow the developer to use ARIA roles instead
          of potentially redundant classes.
        </p>
        <h3><code> role="button" </code></h3>
        <p>
          The Button role allows you to achieve consistency with anchor tags by
          making them look like buttons. This borrows from the
          <a routerLink="/button">button component</a> and inherits all the
          additional attributes and features.
        </p> -->
  <!-- <div class="ea-card-content example" grid>
          <span style="display: flex; justify-content: space-between;">
            <a href="" role="button">testing</a>
            <a href="" role="button" outline>testing</a>
            <a href="" role="button" flat>Testing</a>
          </span>
          <ea-markdown [doc]="role_button"></ea-markdown>
        </div> -->

  <!--
        <h3><code> role="banner" </code></h3>
        <p>
          The Banner role allows you to quickly create a banner with center
          aligned text.
        </p>
        <div role="banner"><h1>Banner</h1></div>

        <ea-markdown [doc]="role_banner"></ea-markdown>

        <ea-markdown [doc]="role_banner_table"></ea-markdown> -->

  <!-- <h3><code> role="text" </code></h3>
        <p>The text role is typically for <code>input</code></p>
        <div style="display: flex; justify-content: space-evenly;">
          <input type="text" /> <input readonly type="text" />
          <input type="text" />
        </div>
        <ea-markdown [doc]="role_banner"></ea-markdown> -->
  <!-- <section two-col>
          <div><h1>Section 1</h1></div>
          <div><h1>Section 2</h1></div>
        </section> -->
</div>
