
  <div class="ea-card" unset>
      <div class="ea-card-header"><h1>Utilities</h1></div>
      <div class="ea-card-content">
        <ea-tabs>
          <ea-tab name="Overview">
              <div class="ea-card" unset>
                  <div class="ea-card-header"><h2>--ea-background-color</h2></div>
                  <div class="ea-card-content example" grid>
                    <!-- <ea-markdown [doc]="variables_1"></ea-markdown> -->
                    <div>
                      <div class="background-1"></div>
                      <div class="background-2"></div>
                      <div class="background-3"></div>
                      <div class="background-4"></div>
                      <div class="background-5"></div>
                    </div>
                  </div>
                </div>

                <div class="ea-card" unset>
                  <div class="ea-card-header"><h2>--ea-alt-background-color</h2></div>
                  <div class="ea-card-content example" grid>
                    <!-- <ea-markdown [doc]="variables_1"></ea-markdown> -->
                    <div>
                      <div class="alt-background-1"></div>
                      <div class="alt-background-2"></div>
                      <div class="alt-background-3"></div>
                      <div class="alt-background-4"></div>
                      <div class="alt-background-5"></div>
                    </div>
                  </div>
                </div>

                <div class="ea-card" unset>
                  <div class="ea-card-header"><h2>--ea-accent-background-color</h2></div>
                  <div class="ea-card-content example" grid>
                    <!-- <ea-markdown [doc]="variables_1"></ea-markdown> -->
                    <div>
                      <div class="accent-background-1"></div>
                      <div class="accent-background-2"></div>
                      <div class="accent-background-3"></div>
                      <div class="accent-background-4"></div>
                      <div class="accent-background-5"></div>
                    </div>
                  </div>
                </div>

                <div class="ea-card" unset>
                  <div class="ea-card-header"><h2>--ea-chrome-color</h2></div>
                  <div class="ea-card-content example" grid>
                    <!-- <ea-markdown [doc]="variables_1"></ea-markdown> -->
                    <div>
                      <div class="chrome-color-1"></div>
                      <div class="chrome-color-2"></div>
                      <div class="chrome-color-3"></div>
                      <div class="chrome-color-4"></div>
                      <div class="chrome-color-5"></div>
                    </div>
                  </div>
                </div>
          </ea-tab>
        </ea-tabs>

      </div>
    </div>

