<ea-panel id="toolbar" #toolbar>
  <div class="name">
    <span class="logo"></span>
    <h2>eang</h2>
  </div>
  <div class="toolbar-buttons">
    <ea-themepicker select="ea-root" [themes]="['mode', 'material']"></ea-themepicker>
    <a alt="GitHub" href="https://github.com/eascientific/eang" rel="noopener noreferrer" target="_blank" role="button">
      <img height="26" src="/assets/images/github-circle-white-transparent.svg">
    </a>
  </div>

</ea-panel>

<div id="main">

  <!-- <section id="welcome">
        <img id="eang-graphic" src="../assets/images/eang.png" alt="">
      <div id="reactive-card">
        <h2>Eang</h2>
        <p>Reactive Enterprise Components</p>
      </div>
      <div class="arrow-down"></div>
    </section> -->

  <section id="features">

    <h1>Feature Highlights</h1>

    <section>
      <ea-feature-reactive></ea-feature-reactive>
    </section>

    <section>
      <ea-feature-theming></ea-feature-theming>
    </section>

  </section>

  <!-- <section id="cta">
      <div class="open-source">
        <main>
          <h2>Supporting Open Source</h2>
          <h3>This is a thing about open source code</h3>
        </main>
        <aside>
            <img src="../assets/images/angular-logo.svg" alt="">
          </aside>
      </div>
      <div class="get-started">
        <div class="github">
          <img src="../assets/images/Octocat.png" alt="">
          <p>Download on Github</p>
        </div>
        <div class="npm">
            <img src="../assets/images/npm-logo.png" alt="">
            <p>Install via npm</p>
        </div>
      </div>
    </section>-->

  <footer>
    <span>
      <div>Powered by
        <a href="https://eamode.com">EA Mode</a>
      </div>
    </span>
  </footer>

</div>
