@import '_base.css';
@import 'mode/variables.css';
@import 'mode/fonts.css';
@import 'mode/menu.css';
@import 'mode/tabs.css';
@import 'mode/autocomplete.css';
@import 'mode/button.css';
@import 'mode/card.css';
@import 'mode/layout.css';
@import 'mode/markdown.css';
@import 'mode/panel.css';
@import 'mode/typography.css';
@import 'mode/themepicker.css';
@import 'mode/icons.css';
@import 'mode/table.css';

.mode {
  @mixin autocomplete-mode;
  @mixin button-mode;
  @mixin card-mode;
  @mixin layout-mode;
  @mixin markdown-mode;
  @mixin panel-base;
  @mixin typography;
  @mixin themepicker;
  @mixin table-mode;
  @mixin panel-mode;
  @mixin menu;
  @mixin tabs;
}
