/* body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  font-family: var(--ea-font-family);
  margin: 0;
  padding: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(
    --ea-font-family,
    var(--ea-font-2-family, var(--ea-font-1-family))
  );
  /* font-weight: var(--ea-font-weight, var(--ea-font-2-weight, bold)); */
  /* line-height: calc(var(--ea-spacer) * 1.2em); */
  margin: calc(var(--ea-spacer) * 0.8em) 0 calc(var(--ea-spacer) * 0.5em);
  /* color: var(--ea-color, var(--ea-h-color, var(--ea-text-color))); */
}

h1 {
  font-size: calc(var(--ea-sizer) * 2rem);
}

h2 {
  font-size: calc(var(--ea-sizer) * 1.5rem);
}

h3 {
  font-size: calc(var(--ea-sizer) * 1.2rem);
}

h4 {
  font-size: calc(var(--ea-sizer) * 1.125rem);
}

h5,
h6 {
  font-size: calc(var(--ea-sizer) * 1rem);
}

p {
  font-size: calc(var(--ea-sizer) * 1rem);
  margin: 0 0 calc(var(--ea-spacer) * 1.25em);
}

/*
label {
  font-size: calc(var(--ea-sizer) * 1rem);
}

& a {
  font-size: calc(var(--ea-sizer) * 1rem);
  text-decoration: none;
  color: var(--ea-color, var(--ea-a-color, var(--ea-text-color)));
  &:hover {
    text-decoration: underline;
  }
}

& code {
  font-size: calc(var(--ea-sizer) * 1rem);
  background: var(--ea-code-background, transparent);
  color: var(--ea-color, var(--ea-code-color, var(--ea-color-1)));
  padding: calc(var(--ea-spacer) * 0.2rem);
  border-radius: calc(var(--ea-sizer) * 0.3em);
  margin-right: calc(var(--ea-spacer) * 0.1em);
  font-family: 'Source Code Pro', monospace;
}
& *::selection {
  background: var(
    --ea-selection-background,
    var(--ea-background, var(--ea-color-1))
  );
  color: var(--ea-selection-color, var(--ea-color, var(--ea-text-color-2)));
} */
