<ea-layout>
  <ea-toolbar flex shadow>
    <header>
      <a routerLink="/">
        <span style="margin-left:0.5rem;" class="logo"></span>
      </a>
    </header>
    <aside>
      <ea-themepicker
        select="eangio-root"
        [themes]="['mode', 'material']"
      ></ea-themepicker>
      <a
        alt="GitHub"
        href="https://github.com/eamode/eang"
        rel="noopener noreferrer"
        target="_blank"
        role="button"
      >
        <img
          height="26"
          src="/assets/images/github-circle-white-transparent.svg"
        />
      </a>
    </aside>
  </ea-toolbar>

  <ea-drawer>
    <section class="ea-menu">
      <ea-menu [node]="menu" [activateEvents]="activated"> </ea-menu>
    </section>
    <footer>
      <img
        style="padding-right: 1rem;"
        src="https://camo.githubusercontent.com/369cc2fa7d48781a040878c8b6e9bf8ff7ba4a30/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f4065616d6f64652f65616e672e737667"
        alt=""
      />
      <img
        src="https://camo.githubusercontent.com/e66b89ea6f74ba6585d8ed3705e81bfa5d31c405/68747470733a2f2f696d672e736869656c64732e696f2f7472617669732f45416d6f64652f65616e672e737667"
        alt=""
      />
    </footer>
  </ea-drawer>

  <ea-main #scrollContainer>
    <ea-body>
      <router-outlet
        (activate)="onActivate($event, scrollContainer)"
      ></router-outlet>
    </ea-body>
    <ea-footer>
      <span>
        <p>Powered by</p>
        <a href=""> ea-mode </a>
      </span>

      <span><p>Have questions?</p><a href="mailto:questions@eang.io">Get Pro Support</a>  <p>or</p> <a href="https://github.com/eamode/eang/issues" class="footer-text">open an issue</a> <p>in Github</p></span>
    </ea-footer>
  </ea-main>
</ea-layout>
