<ea-layout>
  <ea-toolbar flex shadow>
    <header>
      <a (click)="layout.drawerState$.next('closed')" routerLink="/">
        <span style="margin-left:0.5rem;" class="logo"></span>
      </a>
    </header>
    <aside>
      <ea-themepicker select="eangio-root" [themes]="['mode', 'material','fluentdark']"></ea-themepicker>
      <a alt="GitHub" href="https://github.com/eamode/eang" rel="noopener noreferrer" target="_blank" role="button">
        <img height="26" src="/assets/images/github-circle-white-transparent.svg">
      </a>
    </aside>
  </ea-toolbar>


  <ea-drawer [drawerState$]="layout.drawerState$">
    <header>
    </header>
    <section class="ea-menu-item">
      <a (click)="layout.drawerState$.next('closed')" routerLinkActive="active" routerLink="/layout" class="ea-menu-item">
        <span role="icon" style="--ea-button-icon: var(--ea-icon-layout); --ea-icon-margin: 0;" icon></span>
        Layout
      </a>
      <a (click)="layout.drawerState$.next('closed')" routerLinkActive="active" routerLink="/card" class="ea-menu-item">
        <span role="icon" style="--ea-button-icon: var(--ea-icon-pallete); --ea-icon-margin: 0;" icon></span>
        Cards
      </a>
      <a (click)="layout.drawerState$.next('closed')" routerLinkActive="active" routerLink="/button" class="ea-menu-item">
        <span role="icon" style="--ea-button-icon: var(--ea-icon-button-icon); --ea-icon-margin: 0;" icon></span>
        Buttons
      </a>
      <!-- <a routerLinkActive="active" routerLink="/reactive" class="ea-menu-item">
        <span role="icon" style="--ea-button-icon: var(--ea-icon-activity); --ea-icon-margin: 0;" icon></span>
        Icons
      </a> -->
    </section>
    <footer>
      <img style="padding-right: 1rem;" src="https://camo.githubusercontent.com/369cc2fa7d48781a040878c8b6e9bf8ff7ba4a30/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f4065616d6f64652f65616e672e737667"
        alt="">
      <img src="https://camo.githubusercontent.com/e66b89ea6f74ba6585d8ed3705e81bfa5d31c405/68747470733a2f2f696d672e736869656c64732e696f2f7472617669732f45416d6f64652f65616e672e737667"
        alt="">

    </footer>
  </ea-drawer>

  <ea-main>
    <ea-body>
      <router-outlet></router-outlet>
    </ea-body>
    <ea-footer>
        <span>
          <div class="powered-by">Powered by
            <a class="ea-mode-logo" href="https://eamode.com"></a>
          </div>
        </span>
    </ea-footer>
  </ea-main>

</ea-layout>
