ea-footer {
  & span {
    display: flex;
    align-items: center;
    & p {
      margin: 0;
      margin-right: 0.5em;
    }
    & a {
      margin-right: 0.5em;
      @media only screen and (max-width: 625px) {
        margin-bottom: 0.5em;
      }
    }
  }
}

ea-toolbar {

  & header {
    height: 100%;
    & .logo {
      height: 100%;
      width:100%;
      display: flex;
      padding: 0.375em 0;

    }
  }
  }

ea-drawer {
  --ea-drawer-background: hsl(0, 0%, 20%);
}

