<ea-layout>
  <ea-toolbar flex shadow>
    <header>
      <a routerLink="/">
        <span style="margin-left:0.5rem;" class="logo"></span>
      </a>
    </header>
    <aside>
      <ea-themepicker select="eangio-root" [themes]="['mode', 'material']"></ea-themepicker>
      <a alt="GitHub" href="https://github.com/eamode/eang" rel="noopener noreferrer" target="_blank" role="button">
        <img height="26" src="/assets/images/github-circle-white-transparent.svg">
      </a>
    </aside>
  </ea-toolbar>


  <ea-drawer [drawerState$]="layout.drawerState$">
    <header>
    </header>
    <section class="ea-menu-item">
      <!-- <a routerLink="/reactive" class="ea-menu-item">
        <div class="ea-menu-item">
          <span role="icon" style="--ea-button-icon: var(--ea-icon-activity); --ea-icon-margin: 0;" icon></span>
          Reactive
        </div>
      </a>
      <a routerLink="/theming" class="ea-menu-item">
        <div class="ea-menu-item">
          <span role="icon" style="--ea-button-icon: var(--ea-icon-pallete); --ea-icon-margin: 0;" icon></span>
          Theming
        </div>
      </a> -->
      <a routerLink="/layout" class="ea-menu-item">
        <div class="ea-menu-item">
          <span role="icon" style="--ea-button-icon: var(--ea-icon-layout); --ea-icon-margin: 0;" icon></span>
          Layout
        </div>
      </a>
      <a routerLink="/button" class="ea-menu-item">
        <div class="ea-menu-item">
          <span role="icon" style="--ea-button-icon: var(--ea-icon-button-icon); --ea-icon-margin: 0;" icon></span>
          Buttons
        </div>
      </a>
    </section>
    <footer>
      <p>Version 1.3.2</p>
    </footer>
  </ea-drawer>

  <ea-main>
    <ea-body>
      <div id="main">
        <section id="features" [class.drawer-open]="drawer">
          <router-outlet></router-outlet>
        </section>
      </div>

    </ea-body>
    <ea-footer>
      <footer>
        <span>
          <div class="powered-by">Powered by
            <a class="ea-mode-logo" href="https://eamode.com"></a>
          </div>
        </span>
      </footer>
    </ea-footer>
  </ea-main>

</ea-layout>
