<div class="eangio-banner" role="banner" m-0-0-2-0><h1>Theme</h1></div>
<div class="content-container">
  <p>
    Eang's custom properties that take care of the majority of themeing. This
    base is used by all components, but individual overrides provide flexibilty
    for styling.
  </p>
  <div>
    <span class="color-title-container">
      <h2>Base Colors</h2>
      <hr />
    </span>
    <div
      multi-col
      style="--ea-grid-col-min-width: 12em; justify-items: left;"
      class="example"
    >
      <eangio-color-display color="--ea-color-1"></eangio-color-display>
      <eangio-color-display color="--ea-color-2"></eangio-color-display>
      <eangio-color-display color="--ea-color-3"></eangio-color-display>
    </div>
  </div>

  <span class="color-title-container">
    <h2>Semantic Colors</h2>
    <hr />
  </span>
  <div
    multi-col
    class="example"
    style="--ea-grid-col-min-width: 12em; justify-items: left;"
  >
    <eangio-color-display color="--ea-color-success"></eangio-color-display>
    <eangio-color-display color="--ea-color-info"></eangio-color-display>
    <eangio-color-display color="--ea-color-warning"></eangio-color-display>
    <eangio-color-display color="--ea-color-danger"></eangio-color-display>
    <eangio-color-display color="--ea-color-error"></eangio-color-display>
  </div>

  <span class="color-title-container">
    <h2>Typography</h2>
    <hr />
  </span>
  <div class="example">
    <h1><code>&lt;h1&gt;</code> - The quick brown fox jumps over the lazy dog</h1>
    <h2><code>&lt;h2&gt;</code> - The quick brown fox jumps over the lazy dog</h2>
    <h3><code>&lt;h3&gt;</code> - The quick brown fox jumps over the lazy dog</h3>
    <h4><code>&lt;h4&gt;</code> - The quick brown fox jumps over the lazy dog</h4>
    <h5><code>&lt;h5&gt;</code> - The quick brown fox jumps over the lazy dog</h5>
    <h6><code>&lt;h6&gt;</code> - The quick brown fox jumps over the lazy dog</h6>
    <div class="example-sm">
      <p>
        <code>&lt;p&gt;</code>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
