.material {
    & ea-autocomplete {
      & ul {
        list-style: none;
        padding: 20;
        margin: 0;
        border: 1px solid lightgrey;
        background: #1d1d1d;
      }
    & li {
        color: white;
      }
    & input {
        background: #181d5a;
        color: white;
        outline: none;
      }
    }
  }

/* @import 'variables';
ea-autocomplete {
  display: inline-block;
  position: relative;

  > input {
    display: block;
    height: 25px;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    // box-shadow: inset 0 0 8px 2.5px #d3d3d3;

    &[placeholder] {
      font-size: 14px;
    }

    &:focus {
      border-bottom: 2px solid #426c0b;
    }
  }

  > ul {
    border-radius: 0.3em;
    margin: 0.2em 0 0;
    background: hsla(0, 0%, 100%, 0.9);
    background: linear-gradient(to bottom right, white, hsla(0, 0%, 100%, 0.8));
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0.05em 0.2em 0.6em rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -0.43em;

    > &:empty,
    > &[hidden] {
      opacity: 0;
      transform: scale(0);
      display: block;
      transition-timing-function: ease;
    }

    &:before {
      content: '';
      position: absolute;
      top: -0.43em;
      left: 1em;
      width: 0;
      height: 0;
      padding: 0.4em;
      background: white;
      border: inherit;
      border-right: 0;
      border-bottom: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    > li {
      position: relative;
      padding: 0.2em 0.5em;
      cursor: pointer;

      &:hover {
        background: hsl(200, 40%, 80%);
        color: black;
      }

      &[aria-selected='true'] {
        background: hsl(205, 40%, 40%);
        color: white;
      }
    }
  }

  mark {
    background: hsl(65, 100%, 50%);
  }
  li:hover mark {
    background: hsl(68, 100%, 41%);
  }
  li[aria-selected='true'] mark {
    background: hsl(86, 100%, 21%);
    color: inherit;
  }
}

ea-autocomplete [hidden] {
  display: none;
}

ea-autocomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

ea-autocomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 3px 0 0 0;
  background: #fff;
  font-family: $font-1;
}

ea-autocomplete > ul:empty {
  display: none;
} */
