<div role="banner">
  <h1>Table</h1>
  <span icon negative tab style="width: 2rem; height:2rem;"></span>
</div>
<div class="content-container">
  <p>
    To improve the view of your table just add <code>.ea-table</code> class to  <code class="language-html">&lt;table&gt;</code> tag and it will add padding,
    border and emphasized table header. You can changed almost all table
    settings (see css variables at the bottom of the article). For table header: color, text-alignement, border color etc. For
    table row: color, text-alignement, border color etc. Four tables with different default settings are shown below.
  </p>
  <h1>Components</h1>
  <div class="prettifier">
    <h2 style="margin:0">Simple Table</h2>
    <p>
      Just use class "ea-table" in tag &lt;table&gt;
    </p>
    <div class="ea-card">
      <div class="ea-card-header"></div>
      <div
        class="ea-card-content header markdown-table-wrapper"
      >
        <div>
          <ea-markdown [doc]="simpleTable"></ea-markdown>
        </div>
        <div>
          <table class="ea-table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Experience</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of tableData">
                <td>{{ i.technology }}</td>
                <td>{{ i.experience }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="prettifier">
    <h2>Striped Table</h2>
    <p>
      Bisides using class "ea-table" in tag &lt;table&gt; use attribute
      "striped" in &lt;tbody&gt;
    </p>
    <div class="ea-card">
      <div class="ea-card-header"></div>
      <div
        class="ea-card-content header markdown-table-wrapper"
      >
        <div>
          <ea-markdown [doc]="stripedTable"></ea-markdown>
        </div>
        <div>
          <table class="ea-table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Experience</th>
              </tr>
            </thead>
            <tbody striped>
              <tr *ngFor="let i of tableData">
                  <td>{{ i.technology }}</td>
                  <td>{{ i.experience }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="prettifier">
    <h2>Hover Table</h2>
    <p>
      Bisides using class "ea-table" in tag &lt;table&gt; use attribute
      "table-hover" in &lt;tbody&gt;
    </p>
    <div class="ea-card">
      <div class="ea-card-header"></div>
      <div
        class="ea-card-content header markdown-table-wrapper"
      >
        <div>
          <ea-markdown [doc]="hoverTable"></ea-markdown>
        </div>
        <div>
          <table class="ea-table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Experience</th>
              </tr>
            </thead>
            <tbody table-hover>
              <tr *ngFor="let i of tableData">
                  <td>{{ i.technology }}</td>
                  <td>{{ i.experience }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="prettifier">
    <h2>Striped and Hover Table</h2>
    <p>
      You can mix both striped and hovered. Just add both attributes: "striped"
      and "table-hover" in &lt;tbody&gt;
    </p>
    <div class="ea-card">
      <div class="ea-card-header"></div>
      <div
        class="ea-card-content header markdown-table-wrapper"
      >
        <div>
          <ea-markdown [doc]="stripedNHoveredTable"></ea-markdown>
        </div>
        <div>
          <table class="ea-table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Experience</th>
              </tr>
            </thead>
            <tbody striped table-hover>
              <tr *ngFor="let i of tableData">
                  <td>{{ i.technology }}</td>
                  <td>{{ i.experience }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h2 class="table-styling-header">Styling</h2>
    <ea-markdown [doc]="table_css_variables"></ea-markdown>
  </div>
</div>
