
  .markdown-table-wrapper {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
  }

  .markdown-table-wrapper > div {
    flex-basis: 48%;
    margin: auto;
  }

  .table-styling-header {
    margin: 1em;
  }

  .h2-table-caption {
    margin-top: 1em;
  }