<style type="text/css">
  .my-banner {
    /* height: var(--ea-height, var(--ea-banner-height, 6em)); */
    background: var(--ea-color-1);
    box-shadow: var(--ea-box-shadow);
    display: flex;
    padding: calc(var(--ea-spacer) * 2.1em) calc(var(--ea-spacer) * 4.2vw);
    margin-bottom: calc(var(--ea-spacer) * 1.5em);
    align-items: center;
    justify-content: space-between;
    font-weight: calc(var(--ea-sizer) * 800);
    color: var(--ea-text-color-light);
  }
</style>
<div role="banner" m-0-0-2-0>
  <h1>Custom CSS Examples</h1>
  <span icon button-icon negative style="width: 2rem; height:2rem;"></span>
</div>

<div class="content-container">
  <h2>Banner</h2>
  <div multi-col center class="example">
    <div class="my-banner" role="banner">
      <h1>My Banner Header</h1>
      <span icon button-icon negative style="width: 2rem; height:2rem;"></span>
    </div>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="banner_div"></ea-markdown>

  <p>Customized button examples.</p>
  <div multi-col center class="example" id="customized">
    <button class="ea-button">Button</button>
    <button class="ea-button" success>Success</button>
  </div>
  <ea-markdown style="margin-bottom:2em;" [doc]="tags"></ea-markdown>
</div>
