<!--
    <div>
      <p>
        <strong>EANG</strong> is fast, fully reactive, and really flexible angular development framework with a set of themeable visual components.
        <img src="../../../assets/images/eang-logo.svg" style="height: 4rem;">
        Through its native support for reactive programming, eang enables your angular apps to automatically update the user
        experience in response to event stream data from event sources.
        Eang plays well with your existing Angular architecture.
    </p>
  </div>
-->

<div role="banner"><h1>Getting Started</h1></div>

<div class="content-container">
  <p>
    It's easy to get started using Eang in your next project. Prerequisite:
    Install <b>Angular 7.</b>
  </p>
  <p>1. Create a new project use Angular CLI:</p>
  <ea-markdown [doc]="ngnew"></ea-markdown>

  <p>2. Add `eang` to your Angular project by running:</p>
  <ea-markdown [doc]="npminstall"></ea-markdown>

  <p>
    3. Import selected `eang` modules in your project module file. e.g.
    <em>app.module.ts</em> :
  </p>
  <ea-markdown [doc]="import"></ea-markdown>
  <ea-markdown [doc]="ngmodel"></ea-markdown>

  <p>
    4. To use eang themes add @import '~@eamode/eang/css/all.css'; to your
    <em>styles.css</em> file.
  </p>
  <ea-markdown [doc]="style"></ea-markdown>

  <p>
    5. In <em>index.html</em> add a class to the body tag to apply the selected
    theme.
  </p>
  <ea-markdown [doc]="body"></ea-markdown>

  <table>
    <thead>
      <tr>
        <th>Theme Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mode</td>
        <td>
          default theme of
          <a
            href="https://www.eamode.com"
            rel="nofollow"
            style="font-size: 0.9em !important;"
            >MODE</a
          >
        </td>
      </tr>
      <tr>
        <td>material</td>
        <td>Components designed following Google's Material design</td>
      </tr>
      <tr>
        <td>your-theme-here</td>
        <td>It is easy to add your own completely customized theme as well.</td>
      </tr>
    </tbody>
  </table>

  <p>
    To use the eang `LayoutModule`, paste the following into the root component
    of the app:
  </p>
  <ea-markdown [doc]="layout"></ea-markdown>

  <p>
    7. If you want to change the theme color or another component attributes,
    just override them using CSS Properties. Use &lt;class name&gt; to change
    the value of the variable for all components in your
    <em>style.css</em> file:
  </p>
  <ea-markdown [doc]="mode"></ea-markdown>
  <p>
    Use &lt;tag name&gt; to change the value of the variables for a component:
  </p>
  <ea-markdown [doc]="eadrawertag"></ea-markdown>

  <p>8. Launch your app by running npm start. Enjoy.</p>
</div>
