<div class="ea-card" unset>
  <div class="ea-card-header">
    <h1>Layout Module</h1>
    <span icon layout negative style="width: 2em; height: 2em;"></span>
  </div>
  <p>
    Responsive layout grid that automatically adapts to screen size and orientation ensuring an
    optimal experience across smartphones, tablets, and desktop computers. The layout module consists of the Layout
    Service and a set of visual layout components: </p>
  <ul>
    <li><code class="language-html">&lt;ea-layout&gt;</code></li>
    <li><code class="language-html">&lt;ea-toolbar&gt;</code></li>
    <li><code class="language-html">&lt;ea-main&gt;</code></li>
    <li><code class="language-html">&lt;ea-body&gt;</code></li>
    <li><code class="language-html">&lt;ea-drawer&gt;</code></li>
    <li><code class="language-html">&lt;ea-footer&gt;</code></li>
  </ul>
  <div class="ea-card-content example" grid>
    <ea-markdown [doc]="ea_layout_attrs"></ea-markdown>
    <div class="ea-card">
      <div class="ea-card-header">
        <h3>Layout Module</h3>
      </div>
      <div class="ea-card-content" grid>
        <!-- <ea-layout style="height:20rem;">
          <ea-toolbar>
            Example
          </ea-toolbar>
          <ea-drawer>
            Example Link
          </ea-drawer>
          <ea-main>
            <ea-body>
              example content
            </ea-body>
            <ea-footer>
              Testing
            </ea-footer>
          </ea-main>
        </ea-layout> -->
        <img style="max-width: 70rem;" src="../../../assets/images/layouts.svg" alt="">
      </div>
    </div>
  </div>
</div>


<p>
  We use CSS grid to define the layout of the different components.
</p>
<ea-markdown [doc]="ea_layout_grid"></ea-markdown>

<!--
<p>
    This is inspired by  <a href="https://www.polymer-project.org/3.0/toolbox/app-layout">Polymer's App Layout</a>.
</p> -->

<h2>&lt;ea-toolbar&gt;</h2>
<p>Holds the navigation elements at the top of the screen. <code class="language-html">&lt;ea-toolbar&gt;</code>
  has a button that is dynamically generated based off whether
  or not
  there is currently in <code class="language-html">&lt;ea-drawer&gt;</code> initialized in the application.</p>


<div class="ea-card">
  <div class="ea-card-header">
    <h3>&lt;ea-toolbar&gt;</h3>
  </div>
  <div class="ea-card-content" grid>
    <img style="width: 100%;" src="../../../assets/images/ea-toolbar.svg" alt="">
  </div>
</div>
<ea-markdown [doc]="ea_toolbar_attrs"></ea-markdown>


<div class="ea-card" unset>
  <div class="ea-card-header">
    <h2>&lt;ea-drawer&gt;</h2>
  </div>
  <p>(optional) panel that expands/collapses from one side of the screen.
    The ea-drawer is designed to have a ,<code class="language-html">&lt;header&gt;</code>, <code class="language-html">&lt;section&gt;</code>,
    and <code class="language-html">&lt;footer&gt;</code>.
    A <code class="language-html">&lt;header&gt;</code> element will always sit at the top of the drawer. The <code class="language-html">&lt;section&gt;</code>
    is stretched to be the
    space between the header and the footer aligned at the top. The <code class="language-html">&lt;footer&gt;</code>
    is
    aligned at the bottom always.
    For simplicity sake we accomplish this we flexbox which makes it ideal to only have 3 elements, header,
    section, and
    footer to maintain this layout easily.</p>

  <p>The drawer uses different an event stream to inform the application what state it is in. The first two states
    we've
    introduced are maximized and closed.
    We plan to introduce new states to make it so that you can adjust the size of your drawer to different states
    we
    think have utility.
  </p>

  <div class="ea-card-content example" grid>
      <ea-markdown [doc]="ea_layout_drawer"></ea-markdown>
      <div class="ea-card">
        <div class="ea-card-header">
          <h3>&lt;ea-drawer&gt;</h3>
        </div>
        <div class="ea-card-content" grid style="justify-items:center;">
          <img style="width: 10rem;" src="../../../assets/images/drawer.svg" alt="">
        </div>
      </div>
  </div>
</div>

<ea-markdown [doc]="ea_drawer_attrs"></ea-markdown>
