<div role="banner" m-0-0-2-0>
  <h1>Menu</h1>
  <span icon negative hamburger-menu style="width: 2rem; height:2rem;"></span>
</div>

<div class="content-container">
  <p>
    If you are looking for the easier way of adding menu for your site - use
    <em>ea-menu</em>.
  </p>
  <p>
    To add menu use next piece of code. Where "node" is a structure describe in
    "Menu Structure/Example Node" paragraph.
  </p>
  <div multi-col v-center class="example">
    <ea-markdown [doc]="ea_menu"></ea-markdown>
    <div class="ea-card">
      <div class="ea-card-header">
        <p>Result menu view. Try to click each sub-menu.</p>
      </div>
      <div class="ea-card-content header menu-example">
        <ea-menu [node]="node"> </ea-menu>
      </div>
    </div>
  </div>
  <h2>Menu Structure/Example Node</h2>
  <p>
    This is the example of menu structure. Paste it in your
    <em>component.ts</em>
  </p>

  <div><ea-markdown class="example" [doc]="node_example"></ea-markdown></div>
  <p>Use these attributes in node.</p>

  <ea-markdown class="example" [doc]="ea_menu_attrs"></ea-markdown>

  <h2>Customize your menu</h2>
  <p>
    You can add attribute <em>horizontal: true/false</em> in your parent node to
    switch menu orientation.
  </p>
  <p>Default orientation is vertical.</p>
  <div multi-col v-center class="example">
    <ea-markdown [doc]="ea_menu_horizontal"></ea-markdown>
    <div class="ea-card">
      <div class="ea-card-header"><p>ea-menu</p></div>
      <div class="ea-card-content header menu-example" style=" padding: 0;">
        <ea-menu [node]="nodeHorizontal"> </ea-menu>
      </div>
    </div>
  </div>
  <p>
    Below two menus are displayed. The first menu with attribute
    <em>isHidden: true</em> in the parent node and the second -
    <em>isHidden: false</em>.
  </p>
  <div multi-col v-center class="example">
    <div class="ea-card">
      <div class="ea-card-header"><p>IsHidden: true</p></div>
      <div class="ea-card-content menu-example">
        <ea-menu [node]="node"> </ea-menu>
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-header"><p>IsHidden: false</p></div>
      <div class="ea-card-content menu-example">
        <ea-menu [node]="nodeHiddenFalse"> </ea-menu>
      </div>
    </div>
  </div>

  <h2>Add your own template</h2>
  <p>Use [controlPanelTemplate] attribute to show your own template.</p>
  <p>
    For example, description inside data attribute will be shown after you move
    mouse over the sub menus.
  </p>
  <div multi-col v-center class="example">
    <ea-markdown [doc]="ea_menu_template"></ea-markdown>
    <div class="ea-card">
      <div class="ea-card-header">
        <p>Move mouse over the sub-menus to see the description.</p>
      </div>
      <div class="ea-card-content menu-example">
        <ea-menu
          [node]="node"
          [optionAreaTemplate]="optionArea"
          [toggleAreaTemplate]="toggleArea"
        >
        </ea-menu>
        <ng-template #optionArea let-node="node"> <div></div> </ng-template>

        <ng-template #toggleArea let-node="node">
          <span *ngIf="node.isOpen" icon chevron-down negative> </span>
          <span *ngIf="!node.isOpen" icon chevron-right negative> </span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
