@import '_base.css';

@import 'material/autocomplete.css';
@import 'material/text-elements.css';
@import 'material/layout.css';
@import 'material/variables.css';
@import 'material/markdown.css';
@import 'material/icons.css';
@import 'material/card.css';

@import 'mode/menu.css';
@import 'mode/tabs.css';
@import 'mode/fonts.css';
@import 'mode/panel.css';
@import 'mode/themepicker.css';
@import 'mode/table.css';
@import 'mode/button.css';
@import 'mode/utilities.css';

.material {
  @mixin autocomplete-material;
  @mixin layout-material;
  @mixin menu;
  @mixin markdown-material;
  @mixin button-mode;
  @mixin card-material;
  @mixin panel-mode;
  @mixin themepicker;
  @mixin table-mode;
  @mixin tabs;
  @mixin utilities;
  @mixin icon-material;
}
