.playground {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Open Sans', Verdana, sans-serif;
  justify-content: flex-start;
}

header {
  background-color: rgb(33, 33, 33);
  color: white;
  height: 75px;
  padding: 20px;
  min-width: 1000px;
  width: 100%;

  a:link {
    color: gray;
  }
  a:visited {
    color: gray;
  }
  a:hover {
    color: yellow;
  }
  a:active {
    color: orange;
  }
}

.pg-container-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 20px;
  width: 200px;
  min-width: 200px;
  
  & a:link {
    color: gray;
  }

  & a:visited {
    color: gray;
  }

  & a:hover {
    color: yellow;
  }

  & a:active {
    color: orange;
  }
}

.content {
  background-color: white;
  color: black;
  padding: 20px;
  width: 70%;
  min-width: 800px;
}

footer {
  background-color: gray;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  min-width: 1000px;

  a:link {
    color: gray;
  }
  a:visited {
    color: gray;
  }
  a:hover {
    color: yellow;
  }
  a:active {
    color: orange;
  }
}

.code {
  background-color: lightgray;
  border-radius: 5px;
  padding: 2px;
  font-family: 'Lucida Console', Monaco, monospace;
}
