<section class="mode">
  <h1>Autocomplete</h1>
  <div class="form-group">
    <h2>Example 1 - Basic</h2>
    <label class="center-block">
      <B>Search:</B>
      <ea-autocomplete [inputFieldDebounceTime]="400" [input]="results" (output)="onSearch($event)" [disabled]="false"></ea-autocomplete>
    </label>
  </div>
  <BR>
  <BR>

  <div class="form-group">
    <h2>Example 2 - Text and images</h2>
    <label class="center-block">
      <B>Favorite Character from Star Wars</B>:
      <ea-autocomplete [input]="avatars" [formControl]="avatarSearchTerm">
        <ng-template #resultsTemplate let-item>
          <img src="{{item.avatarUrl}}" alt="Icon respresenting {{item.name}}">{{item.name}}
        </ng-template>
      </ea-autocomplete>
    </label>
  </div>

  <BR>
  <BR>

  <div class="form-group">
    <h2>Example 3 - Inside an Angular reactive form</h2>
    <form [formGroup]="avatarForm">
      <label>
        <B>City:</B>
        <ea-autocomplete type="text" formControlName="name"></ea-autocomplete>
      </label>
      <div class="error" *ngIf="avatarForm.get('name').hasError('required') && avatarForm.get('name').touched">
          <span style="color:red">Name is required</span>
        </div>
      <BR>
      <BR>
      <label>
        <B>Country:</B>
        <ea-autocomplete type="text" formControlName="country"></ea-autocomplete>
      </label>
      <div class="error" *ngIf="avatarForm.get('country').hasError('required') && avatarForm.get('country').touched">
        <span style="color:red">Country is required</span>
      </div>
      <div>
        <button>Save</button>
      </div>

    </form>
    <BR>
    <BR>
      <div class="error" *ngIf="avatarForm.get('name').touched || avatarForm.get('country').touched">
          <B>Form Values:</B><BR><BR>
          <span style="background-color:lightgray;padding:6px;">{{ avatarForm.value | json }}</span>
        </div>
     
    <p><!-- Form validation result: {{ avatarForm.status | json }} --></p>

  </div>

</section>