<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 1em">
    <button type="submit" [disabled]="heroForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="button" (click)="revert()" [disabled]="heroForm.pristine" class="btn btn-danger">Revert</button>
  </div>

  <!-- Hero Detail Controls -->
  <div class="form-group">
    <label class="center-block">Search:
    <ea-autocomplete [results]="results" (search)="onSearch($event)"></ea-autocomplete>
    </label>
  </div>
</form>

<p>Search results: 
  
</p>

<p>change log for search value</p>
<div *ngFor="let name of nameChangeLog">{{name}}</div>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->