<header>
  <h1>Panel</h1>
  <p>
    Include
    <span class="code">@import "mode/panel.css";</span> in your postcss pipline to use these styles.
  </p>
</header>
<h2>Mode Theme</h2>

<div id="mode" class="mode">
  <div class="screen">
    <ea-panel [state]="panelState" [orientation]="panelOrientation">
      <p>Panel ({{panelState | async}}, {{panelOrientation | async}})</p>
    </ea-panel>
  </div>

  <div class="mode">
    <label>
      state:
      <button (click)="changeState('maximized')">maximized</button>
      <button (click)="changeState('minimized')">minimized</button>
      <button (click)="changeState('closed')">closed</button>
    </label>
    <br>
    <label>
      orientation:
      <button (click)="panelOrientation.next('top')">top</button>
      <button (click)="panelOrientation.next('right')">right</button>
      <button (click)="panelOrientation.next('bottom')">bottom</button>
      <button (click)="panelOrientation.next('left')">left</button>
    </label>
  </div>
</div>
