
.mode {
  

  & ea-panel {
    --ea-panel-background: var(--ea-mainColor);

    --ea-panel-top-maximized-height: 50vh;
    --ea-panel-top-maximized-width: 100vw;
    --ea-panel-top-minimized-height: 25vh;
    --ea-panel-top-minimized-width: 100vw;
    --ea-panel-top-closed-height: 0;
    --ea-panel-top-closed-width: 0;

    --ea-panel-right-maximized-width: 100vh;
    --ea-panel-right-maximized-width: 50vh;
    --ea-panel-right-minimized-height: 100vh;
    --ea-panel-right-minimized-width: 25vh;
    --ea-panel-right-closed-height: 0;
    --ea-panel-right-closed-width: 0;

    --ea-panel-bottom-maximized-height: 100vh;
    --ea-panel-bottom-maximized-width: 50vh;
    --ea-panel-bottom-minimized-height: 100vh;
    --ea-panel-bottom-minimized-width: 25vh;
    --ea-panel-bottom-closed-height: 0;
    --ea-panel-bottom-closed-width: 0;
    
    --ea-panel-left-maximized-height: 100vh;
    --ea-panel-left-maximized-width: 50vh;
    --ea-panel-left-minimized-height: 100vh;
    --ea-panel-left-minimized-width: 25vh;
    --ea-panel-left-closed-height: 0;
    --ea-panel-left-closed-width: 0;

    & #ea-panel-container {
      
      border: 1px solid red;
      background: var(--ea-panel-background);


    }

    & #ea-panel-container.top.maximized { 
      height: var(--ea-panel-top-maximized-height);
      width: var(--ea-panel-top-maximized-width);
    }
    & #ea-panel-container.top.minimized { 
      height: var(--ea-panel-top-minimized-height);
      width: var(--ea-panel-top-minimized-width);
    }
    & #ea-panel-container.top.closed {
      display: none;
      height: var(--ea-panel-top-minimized-height);
      width: var(--ea-panel-top-minimized-height);
    }

    & #ea-panel-container.right.maximized { 
      display: inline-block;
      height: 100%;
      vertical-align: bottom;
      width: 0px;
      height: var(--ea-panel-right-maximized-height);
      width: var(--ea-panel-right-maximized-width);
    }
    & #ea-panel-container.right.minimized {
      display: table-cell;
  vertical-align: bottom; 
      height: var(--ea-panel-right-minimized-height);
      width: var(--ea-panel-right-minimized-width);
    }
    & #ea-panel-container.right.closed {
      display: table-cell;
  vertical-align: bottom;
      display: none;
      height: var(--ea-panel-right-minimized-height);
      width: var(--ea-panel-right-minimized-height);
    }

    & #ea-panel-container.left.maximized { 
      height: var(--ea-panel-left-maximized-height);
      width: var(--ea-panel-left-maximized-width);
    }
    & #ea-panel-container.left.minimized { 
      height: var(--ea-panel-left-minimized-height);
      width: var(--ea-panel-left-minimized-width);
    }
    & #ea-panel-container.left.closed {
      display: none;
      height: var(--ea-panel-left-minimized-height);
      width: var(--ea-panel-left-minimized-height);
    }
  }
}
