.mode {
  & ea-panel {
    --ea-panel-color: var(--ea-color-1);
    --ea-panel-background: var(--ea-color-background-1);
    --ea-panel-height: var(--ea-panel-height, initial);
    --ea-panel-width: var(--ea-panel-width, initial);
    --ea-panel-minimized-size-ratio: 0.5;

    --ea-panel-maximized-height: var(--ea-panel-height);
    --ea-panel-minimized-height: calc(
      var(--ea-panel-height) * var(--ea-panel-minimized-size-ratio)
    );

    --ea-panel-maximized-width: var(--ea-panel-width);
    --ea-panel-minimized-width: calc(
      var(--ea-panel-width) * var(--ea-panel-minimized-size-ratio)
    );

    display: block;
    color: var(--ea-panel-color);
    background: var(--ea-panel-background);
  }

  & ea-panel[orientation='left'] {
    float: left;
  }

  & ea-panel[orientation='right'] {
    float: right;
  }

  & ea-panel[orientation='bottom'] {
    float: right;
  }

  & .ea-panel-host-element[ea-panel-host-orientation='bottom'] {
    background: red;
  }

  & div.ea-panel-host-element {
    background: red;
  }

  & ea-panel[state='maximized'] {
    height: var(--ea-panel-maximized-height);
    width: var(--ea-panel-maximized-width);
  }

  & ea-panel[state='minimized'] {
    height: var(--ea-panel-minimized-height);
    width: var(--ea-panel-minimized-width);
  }

  & ea-panel[state='closed'] {
    display: none;
  }
}
