@define-mixin utilities {
  [sm] {
    --ea-sizer: 0.8;
  }
  [md] {
    --ea-sizer: 1.25;
  }
  [lg] {
    --ea-sizer: 1.5;
  }
  [xl] {
    --ea-sizer: 2;
  }
  [xxl] {
    --ea-sizer: 2.5;
  }
  [avatar] {
    display: grid;
    grid-template-areas:
      'img header'
      'img text';
    & img {
      grid-area: img;
    }
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong {
      grid-area: header;
    }
    & p {
      grid-area: text;
    }
  }

  & [multi-col] {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--ea-grid-col-min-width, 22em), var(--ea-grid-col-max-width, 1fr))
    );
    grid-gap: var(--ea-grid-gap, 1.5em);
    &[center] {
      align-items: center;
      justify-items: center;
    }
    &[v-center] {
      align-items: center;
    }
    &[h-center] {
      justify-items: center;
    }
  }
  & [flex-center] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &[row] {
      flex-direction: row;
    }
  }
  & [flex-space-evenly] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  & [p] {
    padding: var(--ea-padding-value, 1em);
  }
  & [max-width] {
    width: 100%;
    max-width: var(--ea-max-width, 1080px);
  }

  .ea-container-horizontal {
    width: 100%;
    display: flex;
    align-items: center;

    padding: var(
      --ea-padding,
      var(--ea-container-padding, calc(var(--ea-spacer) * 0.375em) calc(var(--ea-spacer) * 1em))
    );

    > * {
      display: flex;
    }

    > :nth-last-child(2) {
      flex-grow: 1;
    }
  }

  .ea-container-vertical {
    display: flex;
    flex-direction: column;

    padding: var(
      --ea-padding,
      var(--ea-container-padding, calc(var(--ea-spacer) * 1em) calc(var(--ea-spacer) * 0.5em))
    );

    > * {
      display: flex;
    }

    > :nth-last-child(2) {
      flex-grow: 1;
    }
  }
}
