.mode {
  --ea-mainColor: grey; /*rgb(150, 185, 225); */
  --ea-color-2: #1d1d1d;
  --ea-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  --ea-accent-1: #426c0b;
  --ea-accent-2: #426c0b;
  
  --ea-background-1: #e2f1fb;
  --ea-background-2: white;
  --ea-background-3: #355a7a;
  
  --ea-error-color: red;
  --ea-font-1: "Open Sans";
}  

body {
  margin: 0;
}