.mode {
  --ea-color-1: #fff; /*rgb(150, 185, 225); */
  --ea-color-2: #1f242c;
  --ea-color-3: #252a33;

  --ea-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --ea-accent-1: #2d71cb;
  --ea-accent-2: #398bf7;
  --ea-background-1: #e2f1fb;
  --ea-background-2: red;
  --ea-background-3: #355a7a;

  --ea-error-color: red;
  --ea-font-1: 'Open Sans';

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}
body {
  margin: 0;
}
