
<div class="feature reactive">
  <h2>Reactive</h2>

  <p>
    Status changes in enterprise applications need to be updated in real-time. The API design of eang is conducive to
    reactive
    functional programming and event streams. Eang components support both push and pull based models.
  </p>
  <p>The following example shows the ea-panel component reacting to two event stream observables, panel state and
    orientation.</p>

  <div class="example">
    <div class="ea-card">
      <div class="ea-card-header">
        <h2>&lt;ea-panel&gt;</h2>
      </div>
      <div id="example-label" class="ea-card-content" style="justify-content: center;">
        <div class="screen">
          <div class="text-container">
            <p style="color: var(--ea-color-2);"
            class="container-text">({{panelOrientation |
              async}}, {{panelState | async}})</p>
          </div>
          <ea-panel [state]="panelState" [orientation]="panelOrientation" style="--ea-panel-background-color: var(--ea-color-1); color:white;">
            ea-panel
          </ea-panel>

        </div>
      </div>
      <div class="ea-card-footer" style="justify-content: center;">
        <mdc-radio name="radioGroup" checked="true" value="maximized" (change)="onChange($event)"></mdc-radio>
        <label>maximized</label>
        <mdc-radio name="radioGroup" value="minimized" (change)="onChange($event)"></mdc-radio>
        <label>minimized</label>
        <mdc-radio name="radioGroup" value="closed" (change)="onChange($event)"></mdc-radio>
        <label>closed</label>
      </div>
    </div>
  </div>
  <p>These UI components interact with each other through composable event streams. This allows developers to implement
    more
    rapidly and reach a higher level of interaction complexity in their applications.</p>

  <ea-markdown [doc]="md"></ea-markdown>
</div>
