<div class="ea-card" unset>
    <div class="ea-card-header">
      <h1>Components</h1>
    </div>
    <p>Eang components are a collection standars based web components that help you build software user interfaces.</p>
  </div>
  
  <div class="ea-card" unset>
    <div class="ea-card-header"><h2>Component Types</h2></div>
    <div
      grid
      class="ea-card-content icon-tiles"
      style="grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));grid-gap: 2em;"
    >
      <div class="ea-card">
        <div class="ea-card-content"><span alert-circle icon></span></div>
        <div class="ea-card-footer"><a href="/button">Button</a></div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span align-justify icon></span></div>
        <div class="ea-card-footer"><a href="/card">Card</a></div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span alert-triangle icon></span></div>
        <div class="ea-card-footer">Icon</div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span align-center icon></span></div>
        <div class="ea-card-footer">Layout</div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span align-left icon></span></div>
        <div class="ea-card-footer">Menu</div>
      </div>
    </div>
  </div>
  
  