
  <div role="banner"><h1>Components</h1></div>
  <div class="content-container">
    <div multi-col style="--ea-grid-col-min-width: 16em;">
      <a routerLink="/button">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Button
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/button-component.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              Manage interactions, navigate and, select options.
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/card">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Card
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/card-component.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              Container that holds content, a header, and footer.
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/layout">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Layout
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/layout-component.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              All the basic components needed for an app layout.
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/icon">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Icons
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/icon-component.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">Implementation of icons in your app.</p>
          </div>
        </div>
      </a>
      <a routerLink="/tabs">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Tabs
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/tabs-component.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              Display different content using tab headers.
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/menu">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Menu
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/menu.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              Organize your content and navigate between routes.
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/markdown">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              Markdown
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/menu.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              Organize your content and navigate between routes.
            </p>
          </div>
        </div>
      </a>
      <a routerLink="/list">
        <div class="ea-card">
          <div class="ea-card-header">
            <h2
              style=" margin: 0.8rem 0 0.8rem 0; font-size: 1.7rem; font-weight:500;"
            >
              List
            </h2>
            <img
              style="width:4rem;"
              src="../../../assets/images/menu.svg"
              alt=""
            />
          </div>
          <div class="ea-card-content">
            <p style="margin: 0;">
              Organize your content and navigate between routes.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
