<div class="ea-card" unset>
    <div class="ea-card-header">
      <h1>Components</h1>
    </div>
    <p>Eang components are a collection web components that help you build modern app UIs.</p>
  </div>
  
  <div class="ea-card" unset>
    <div class="ea-card-header"><h2>Component Types</h2></div>
    <div
      grid
      class="ea-card-content icon-tiles"
      style="grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));grid-gap: 2em;"
    >
      <div class="ea-card">
        <div class="ea-card-content"><span icon grid></span></div>
        <div class="ea-card-footer"><a href="/button">Button</a></div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span icon layers></span></div>
        <div class="ea-card-footer"><a href="/card">Card</a></div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span icon grid></span></div>
        <div class="ea-card-footer"><a href="/icon">Icon</a></div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span icon layout></span></div>
        <div class="ea-card-footer"><a href="/layout">Layout</a></div>
      </div>
      <div class="ea-card">
        <div class="ea-card-content"><span icon hamburger-menu></span></div>
        <div class="ea-card-footer"><a href="/menu">Menu</a></div>
      </div>
    </div>
  </div>
  
  