#input-examples {
    padding: 1em;
}

label li {
    list-style:none;
}

.copy-markdown-box {
    box-shadow: var(--ea-box-shadow);
    box-shadow: 0 calc(var(--ea-sizer) * 0.3em) calc(var(--ea-sizer) * 0.4em) rgba(0, 0, 0, 0.25)
}

.copy-markdown-box-icon-margin {
    margin: calc(var(--ea-spacer) * 0.03em);
}