@import '../dist/eamode/eang/css/all.css';
@import '~@angular-mdc/theme/material';

.mode {
  * > [aria-labelledby]{
    position: relative;
  }

  --ea-tooltip-color: var(--ea-color-3);
  --ea-tooltip-font-size: 1em;
  --ea-tooltip-background: rgba(0, 0, 0, 0.5);
  --ea-tooltip-string: attr(tooltip-text);

  & [aria-labelledby]:hover > [role='tooltip'],
    [aria-labelledby]:focus > [role='tooltip']{
    &::after {
      position: absolute;
      bottom: var(--ea-tooltip-bottom, auto);
      top: var(--ea-tooltip-top, auto);
      left: var(--ea-tooltip-left, auto);
      right: var(--ea-tooltip-right, auto);
      content: var(--ea-tooltip-string);
      color: var(--ea-tooltip-color);
      font-size: var(--ea-tooltip-font-size);
      background: var(--ea-tooltip-background);
      display: flex;
      padding: 0.5em 1em;
      border-radius: 0.25em;
      white-space: nowrap;
      min-width: 2em;
    }
  }
}
/* ICONS FOR DIFFERENT THEMES */
.fluentdark,
.mode,
.material {


  * > [tooltip-b] {
    position: relative;
  }



  & [activity] & .ea-activity {
    background: url('./assets/images/activity.svg');
  }
  & [layout],
  & .ea-layout {
    background: url('./assets/images/layout-icon.svg');
  }
  & [tabs-icon],
  & .ea-tabs-icon {
    background: url('./assets/images/tabs-icon.svg');
  }
  & [button-icon],
  & .ea-button-icon {
    background: url('./assets/images/button-icon.svg');
  }
  & [pallete],
  & .ea-pallete {
    background: url('./assets/images/pallete.svg');
  }
  & [terminal],
  & .ea-terminal {
    background-image: inline('mode/icon/terminal.svg');
  }
  & [component],
  & .ea-component {
    background: url('./assets/images/components.svg');
  }
  --ea-drawer-width: 250px;
  & [color],
  & .ea-color {
    background-image: url('assets/images/colors.svg');
  }
}

.material ea-drawer {
  --ea-background: #d3d3d3;
}
.material ea-menu {
  --ea-color: black;
  & [node] [name-area] span[icon] {
    display: none;
  }
}

.material ea-footer {
  color: white;
  & a {
    color: inherit;
  }
}

/* Landing Page */

.material {
  & ea-layout {
    background: #fafafa;
  }
  & #variables {
    & .example {
      margin: 5rem 0;
      justify-content: space-evenly;
    }
    & .example-color {
      border-radius: 0.25em;
      box-shadow: var(--ea-box-shadow);
      width: 6rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & small {
        text-align: center;
        color: var(--ea-text-color-light);
      }
      &.base-color {
        background: var(--ea-color-1);
      }
      &.base-color-high {
        background: var(--ea-color-1-light);
      }
      &.alt-base-color {
        background: var(--ea-color-2);
      }
      &.ea-hover {
        & small {
          color: var(--ea-text-color-dark);
        }
        &:hover {
          background: var(--ea-background-color-hover);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
      &.ea-active {
        & small {
          color: var(--ea-text-color-dark);
        }
        &[active='true'] {
          background: var(--ea-background-color-active);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
    }
    & #text-colors {
      & .base-color .text-hover-color,
      .base-color-high .text-active-color {
        color: var(--ea-text-color-dark);
      }
      & .base-color:hover {
        & small {
          color: var(--ea-text-color-light);
        }
      }
      & .text-active-color {
        &[textIsActive='true'] {
          color: var(--ea-text-color-light);
        }
      }
    }
  }

  & span[chevron-right][negative],
  span[chevron-down][negative] {
    filter: invert(0%);
  }

  .node-toggle[disabled] span[icon] {
    display: none;
  }
  & .eang-logo {
    background: url('./assets/images/eang-logo-dark.svg');
    width: 5rem;
    background-repeat: no-repeat;
    @media only screen and (max-width: 500px) {
      margin-bottom: 1rem;
    }
  }
  & .menu-example {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.03);
  }
}

eangio-banner {
  // --ea-grid-col-max-width: calc((var(--ea-max-width) - (var(--ea-grid-gap) * (1 - var(--ea-column-numbers)))) / var(--ea-column-numbers));
  // --ea-grid-col-min-width: 10.5rem;
}

.mode {
  --ea-padding-value: 6em 0;
  --ea-max-width: 980px;
  & [role='banner'] h1 {
    color: var(--ea-color-3);
  }
  & .eang-logo {
    background: url('./assets/images/eang-logo.svg');
    width: 5rem;
    background-repeat: no-repeat;
  }
  & .menu-example {
    --ea-card-content-background: var(--ea-color-2);
    --ea-menu-color: var(--ea-color-3);
    flex-direction: column;
  }

  & #variables {
    & .example {
      margin: 5rem 0;
      justify-content: space-evenly;
    }
    & .theme-color {
      width: 12em;
      height: 13em;
      & .ea-card-footer {
        justify-content: center;
      }
    }
    & .example-color {
      box-shadow: var(--ea-box-shadow);
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      flex-grow: 1;
      width: 100%;
      box-sizing: border-box;
      border-top-right-radius: 0.25em;
      border-top-left-radius: 0.25em;
      & small {
        text-align: center;
        color: var(--ea-text-color-light);
      }
      &.base-color {
        background: var(--ea-color-1);
      }
      &.base-color-high {
        background: var(--ea-color-1-light);
      }
      &.alt-base-color {
        background: var(--ea-color-2);
      }
      &.ea-hover {
        & small {
          color: var(--ea-text-color-dark);
        }
        &:hover {
          background: var(--ea-background-color-hover);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
      &.ea-active {
        & small {
          color: var(--ea-text-color-dark);
        }
        &[active='true'] {
          background: var(--ea-background-color-active);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
    }
    & #text-colors {
      & .base-color .text-hover-color,
      .base-color-high .text-active-color {
        color: var(--ea-text-color-dark);
      }
      & .base-color:hover {
        & small {
          color: var(--ea-text-color-light);
        }
      }
      & .text-active-color {
        &[textIsActive='true'] {
          color: var(--ea-text-color-light);
        }
      }
    }
  }
}

/* Material Design Specific Styles */

.mode,
.material {
  & .card-example {
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 640px) {
      justify-content: center;
    }
  }
  & .ea-card {
    & .ea-card-content.example {
      --ea-card-content-grid: minmax(40%, 50%) 1fr;
      grid-gap: 2rem;
      align-items: center;
      padding: 0;
      @media only screen and (max-width: 770px) {
        --ea-card-content-grid: repeat(auto-fill, 2, 1fr);
        padding: 0;
      }
    }
  }
  & .button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0 2rem 0;
    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      justify-content: space-around;
    }
    & button {
      margin: 1rem;
    }
  }
  & ea-layout {
    & ea-toolbar {
      & aside {
        --ea-toolbar-aside-padding: 2rem;
        @media only screen and (max-width: 500px) {
          --ea-toolbar-aside-padding: 0rem;
        }
      }
      & a {
        display: flex;
        & .logo {
          background: url('assets/images/eang-logo.svg');
          height: 4rem;
          width: 4rem;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    & ea-body {
      overflow: hidden;
      --ea-body-display: flex;
      justify-content: center;
      margin: 0;

      & eangio-menu {
        --ea-tab-color: var(--ea-text-color);
      }

      & eangio-markdown {
        width: 100%;
        & .example {
          & .ea-card {
            & .ea-card-content {
              justify-content: flex-start;
            }
          }
        }
      }

      & .icon-tiles {
        & .ea-card-content {
          justify-content: center;
        }
        & .ea-card-footer {
          text-align: center;
        }
      }

      & eangio-home,
      eangio-get-started,
      eangio-card,
      eangio-button,
      eangio-icon,
      eangio-menu,
      eangio-tabs,
      eangio-layout,
      eangio-variables,
      eangio-tabs,
      eangio-components,
      eangio-utilities,
      eangio-markdown,
      eangio-banner,
      eangio-list,
      eangio-tooltip {
        width: 100%;
        @media only screen and (max-width: 500px) {
          width: 95%;
          & .ea-card[unset] {
            & .ea-card-content {
              margin: 0 1rem;
            }
          }
        }
        & .ea-card[unset] {
          margin: 0;
          & .ea-card-content {
            justify-content: center;
          }
        }
      }
      #container {
        flex-direction: column;
        padding: 0 4vw;
      }
      & ea-tabs {
        width: 90%;
      }
      & eangio-landing {
        width: 100%;
      }
      & eangio-components {
        & p {
          font-size: 0.9rem;
        }
        & a {
          text-decoration: none;
          &:hover {
            & h2 {
              color: var(--ea-background-hover);
            }
          }
        }
      }

      eangio-feature-reactive,
      eangio-feature-theming {
        width: 90%;
      }
      & eangio-feature-reactive {
        & .screen {
          & ea-panel[orientation='left'],
          ea-panel[orientation='right'] {
            @media only screen and (max-width: 500px) {
              --ea-panel-max-width: 4.1rem;
            }
          }
          height: 15rem;
          max-width: 25rem;
          width: 100%;
          background-color: var(--ea-color-background-7);
          border: 1px solid lightgrey;
          position: relative;
          @media only screen and (max-width: 500px) {
            width: 90%;
          }
          & .text-container {
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            & p {
              width: auto;
            }
          }
          & .container-text {
            margin: 0;
            color: var(--ea-color-1);
            @media only screen and (max-width: 500px) {
              font-size: 0.8rem;
            }
          }
          & ea-panel {
            --ea-panel-color: var(--ea-color-3);
            --ea-panel-background: var(--ea-color-background-2);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            & p {
              margin: 0;
            }
          }
          & ea-panel[orientation='left'],
          & ea-panel[orientation='right'] {
            --ea-panel-max-width: 6rem;
            flex-direction: column;
          }
          & ea-panel[orientation='top'],
          & ea-panel[orientation='bottom'] {
            --ea-panel-max-height: 4rem;
          }
        }
      }
      & ea-markdown {
        @media only screen and (max-width: 500px) {
          overflow-x: overlay;
        }
      }
      & eangio-utilities {
        & .example {
          margin-top: 3em;
          margin-bottom: 3em;
        }
      }
    }
    & ea-footer {
      justify-content: space-between;
      --ea-footer-height: fit-content;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
      & span {
        display: flex;
        align-items: center;
        cursor: pointer;
        @media only screen and (max-width: 500px) {
          flex-direction: column;
        }
        & a {
          margin: 0 0.3rem;
        }
      }
    }
  }
}

.ea-menu {
  margin-top: 1rem;
}

#banner-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tabMobileExample {
  height: 5em;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
ea-tabpanel-group#mobileTab {
  display: flex;
  background: var(--ea-color-3-dark);
  & ea-tabpanel {
    width: 100%;
    padding: 1em;
  }
}
.ea-mode-logo {
  background: url('assets/images/eamode-logo.svg');
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}
