@import '../dist/eamode/eang/css/all.css';
@import '~@angular-mdc/theme/material';

/* ICONS FOR DIFFERENT THEMES */
.fluentdark,
.mode,
.material {
  & [activity]
  & .ea-activity {
    background: url('./assets/images/activity.svg');
  }
  & [layout],
  & .ea-layout {
    background: url('./assets/images/layout-icon.svg');
  }
  & [button-icon],
  & .ea-button-icon {
    background: url('./assets/images/button-icon.svg');
  }
  & [pallete],
  & .ea-pallete {
    background: url('./assets/images/pallete.svg');
  }
  & [terminal],
  & .ea-terminal {
    background-image: inline('mode/icon/terminal.svg');
  }
}

.mode,
.material {
  & .ea-card {
    & .ea-card-content.example {
      --ea-card-content-grid: minmax(40%, 50%) 1fr;
      grid-gap: 2rem;
      align-items: center;
      @media only screen and (max-width: 770px) {
        --ea-card-content-grid: repeat(auto-fill, 2, 1fr);
      }
    }
  }
  ea-layout {
    & ea-toolbar {
      & aside {
        @media only screen and (max-width: 500px) {
          --ea-toolbar-aside-padding: 0rem;
        }
      }
      & a {
        display: flex;
        & .logo {
          background: url('assets/images/eang-logo.svg');
          height: 4rem;
          width: 4rem;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    & ea-body {
      --ea-body-display: flex;
      justify-content: center;
      & eangio-home,
      eangio-card,
      eangio-button,
      eangio-icon,
      eangio-menu,
      eangio-tabs,
      eangio-layout,
      eangio-variables {
        width: 75%;
        @media only screen and (max-width: 500px) {
          width: 95%;
        }
      }
      & eangio-home {
        width: 75%;
        @media only screen and (max-width: 500px) {
          width: 95%;
        }

        & .why-eang {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 4rem 0rem;
          & .three-column {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 5rem;
            text-align: center;
            width: 75%;
            padding: 4rem 0rem;
            img {
              width: 10rem;
              margin: 0 0 1rem 0;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
        & .go-pro {
          display: flex;
          justify-content: center;
          & .pro {
            background: var(--ea-color-background-3);
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 4rem 0;
            width: 100%;
            color: white;
            & .pro-text {
              width: 40%;
              & p {
                font-size: 1.1rem;
              }
            }
            & img {
              width: 14rem;
            }
          }
        }
      }
      & eangio-feature-reactive {
        & .screen {
          & ea-panel[orientation="left"],
          ea-panel[orientation='right'] {
            @media only screen and (max-width: 500px) {
              --ea-panel-max-width: 4.1rem;
            }
          }
          height: 15rem;
          max-width: 25rem;
          width: 100%;
          background-color: var(--ea-color-background-7);
          border: 1px solid lightgrey;
          position: relative;
          @media only screen and (max-width: 500px) {
            width: 90%;
          }
          & .text-container {
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            & p {
              width: auto;
            }
          }
          & .container-text {
            margin: 0;
            color: var(--ea-color-1);
            @media only screen and (max-width: 500px) {
              font-size: 0.8rem;
            }
          }
          & ea-panel {
            --ea-panel-color: var(--ea-color-3);
            --ea-panel-background: var(--ea-color-background-2);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            & p {
              margin: 0;
            }
          }
          & ea-panel[orientation='left'],
          & ea-panel[orientation='right'] {
            --ea-panel-max-width: 6rem;
            flex-direction: column;
          }
          & ea-panel[orientation='top'],
          & ea-panel[orientation='bottom'] {
            --ea-panel-max-height: 4rem;
          }
        }
      }
      & ea-markdown {
        @media only screen and (max-width: 500px) {
          overflow-x: overlay;
        }
      }
    }
  }
}

.ea-mode-logo {
  background: url('assets/images/eamode-logo.svg');
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.background-1 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-background-color-1);
}
.background-2 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-background-color-2);
}
.background-3 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-background-color-3);
}
.background-4 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-background-color-4);
}
.background-5 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-background-color-5);
}

.alt-background-1 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-alt-background-color-1);
}
.alt-background-2 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-alt-background-color-2);
}
.alt-background-3 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-alt-background-color-3);
}
.alt-background-4 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-alt-background-color-4);
}
.alt-background-5 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-alt-background-color-5);
}

.accent-background-1 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-accent-background-color-1);
}
.accent-background-2 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-accent-background-color-2);
}
.accent-background-3 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-accent-background-color-3);
}
.accent-background-4 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-accent-background-color-4);
}

.chrome-color-1 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-1);
}
.chrome-color-2 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-2);
}
.chrome-color-3 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-3);
}
.chrome-color-4 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-4);
}
.chrome-color-5 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-5);
}
.chrome-color-disabled-1 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-diabled-1);
}
.chrome-color-disabled-2 {
  width: 10rem;
  height: 10rem;
  background: var(--ea-chrome-color-disabled-2);
}
