@import '../dist/eamode/eang/css/all.css';
@import '~@angular-mdc/theme/material';

/* ICONS FOR DIFFERENT THEMES */
.fluentdark,
.mode,
.material {
  & [activity] & .ea-activity {
    background: url('./assets/images/activity.svg');
  }
  & [layout],
  & .ea-layout {
    background: url('./assets/images/layout-icon.svg');
  }
  & [tabs-icon],
  & .ea-tabs-icon {
    background: url('./assets/images/tabs-icon.svg');
  }
  & [button-icon],
  & .ea-button-icon {
    background: url('./assets/images/button-icon.svg');
  }
  & [pallete],
  & .ea-pallete {
    background: url('./assets/images/pallete.svg');
  }
  & [terminal],
  & .ea-terminal {
    background-image: inline('mode/icon/terminal.svg');
  }
  & [component],
  & .ea-component {
    background: url('./assets/images/components.svg');
  }
  --ea-drawer-width: 250px;
  & [color],
  & .ea-color {
    background-image: url('assets/images/colors.svg');
  }
}

.material ea-menu [node] [name-area] span[icon] {
  display: none;
}

.material ea-footer {
  color: white;
  & a {
    color: inherit;
  }
}

/* Landing Page */

#getting-started {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin: 0 12vw;
  padding: 8rem 0rem;
  justify-items: center;
  @media only screen and (max-width: 1040px) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin: 0px 6vw;
    grid-gap: 2.5rem;
  }
  & a {
    height: fit-content;
    font-size: unset;
    max-width: 35rem;
    align-items: center;
    color: var(--ea-text-color);
    text-decoration: none;
    @media only screen and (max-width: 1300px) {
      grid-template-areas: 'icon icon' 'header header' 'para para';
    }
    &:hover > h2 {
      color: var(--ea-color-1);
    }
    & img {
      height: 100%;
      width: 10rem;
      margin-right: 1rem;
    }
    & h2 {
      margin: 0;
    }
    & p {
      margin-top: 0.2rem;
    }
  }
}

.material {
  & ea-layout {
    background: #fafafa;
  }
  & #variables {
    & .example {
      margin: 5rem 0;
      justify-content: space-evenly;
    }
    & .example-color {
      width: 6rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & small {
        text-align: center;
        color: var(--ea-text-color-light);
      }
      &.base-color {
        background: var(--ea-color-1);
      }
      &.base-color-high {
        background: var(--ea-color-1-light);
      }
      &.alt-base-color {
        background: var(--ea-color-2);
      }
      &.ea-hover {
        & small {
          color: var(--ea-text-color-dark);
        }
        &:hover {
          background: var(--ea-background-color-hover);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
      &.ea-active {
        & small {
          color: var(--ea-text-color-dark);
        }
        &[active='true'] {
          background: var(--ea-background-color-active);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
    }
    & #text-colors {
      & .base-color .text-hover-color,
      .base-color-high .text-active-color {
        color: var(--ea-text-color-dark);
      }
      & .base-color:hover {
        & small {
          color: var(--ea-text-color-light);
        }
      }
      & .text-active-color {
        &[textIsActive='true'] {
          color: var(--ea-text-color-light);
        }
      }
    }
  }

  & span[chevron-right][negative],
  span[chevron-down][negative] {
    filter: invert(0%);
  }

  .node-toggle[disabled] span[icon] {
    display: none;
  }
  & .eang-logo {
    background: url('./assets/images/eang-logo-dark.svg');
    width: 5rem;
    background-repeat: no-repeat;
    @media only screen and (max-width: 500px) {
      margin-bottom: 1rem;
    }
  }
  & .menu-example {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.03);
  }
  #eang-welcome {
    &.ea-card[unset] {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 7rem;
      margin-left: 13rem;
      width: 50%;
      @media only screen and (max-width: 500px) {
        margin-top: 4rem;
        margin-left: 0;
        align-items: center;
        width: 100%;
        & .ea-card-header {
          text-align: center;
        }
      }
      & > .ea-card-content {
        padding-top: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        @media only screen and (max-width: 600px) {
          padding: 0;
          flex-direction: column;
          align-items: center;
        }
        & p {
          width: 65%;
          @media only screen and (max-width: 500px) {
            width: 90%;
          }
        }
      }
    }
    & a {
      text-decoration: none;
    }
    & p {
      width: 45%;
      margin: 0 0 1rem 0;
      font-size: 1.2rem;
      @media only screen and (max-width: 640px) {
        width: 95%;
      }
    }
  }
}

.mode {
  & .eang-logo {
    background: url('./assets/images/eang-logo.svg');
    width: 5rem;
    background-repeat: no-repeat;
  }
  & .menu-example {
    --ea-card-content-background: var(--ea-color-2);
    flex-direction: column;
  }

  & #variables {
    & .example {
      margin: 5rem 0;
      justify-content: space-evenly;
    }
    & .example-color {
      width: 6rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      & small {
        text-align: center;
        color: var(--ea-text-color-light);
      }
      &.base-color {
        background: var(--ea-color-1);
      }
      &.base-color-high {
        background: var(--ea-color-1-light);
      }
      &.alt-base-color {
        background: var(--ea-color-2);
      }
      &.ea-hover {
        & small {
          color: var(--ea-text-color-dark);
        }
        &:hover {
          background: var(--ea-background-color-hover);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
      &.ea-active {
        & small {
          color: var(--ea-text-color-dark);
        }
        &[active='true'] {
          background: var(--ea-background-color-active);
          & small {
            color: var(--ea-text-color-light);
          }
        }
      }
    }
    & #text-colors {
      & .base-color .text-hover-color,
      .base-color-high .text-active-color {
        color: var(--ea-text-color-dark);
      }
      & .base-color:hover {
        & small {
          color: var(--ea-text-color-light);
        }
      }
      & .text-active-color {
        &[textIsActive='true'] {
          color: var(--ea-text-color-light);
        }
      }
    }
  }
  #eang-welcome {
    --ea-text-color: white;
    align-items: center;
    align-content: center;
    background-color: var(--ea-color-1);
    background-image: url('./assets/images/flickr-14202459710.jpg');
    background-size: contain;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem 0rem;
    text-align: center;
    @media only screen and (max-width: 640px) {
      background-size: cover;
    }
    &.ea-card {
      margin: 0;
      & .ea-card-header {
        border-bottom: none;
      }
      & .ea-card-content {
        flex-direction: column;
        align-items: center;
        & p {
          width: 65%;
          @media only screen and (max-width: 500px) {
            width: 90%;
          }
        }
      }
    }
    & a {
      text-decoration: none;
    }
    & p {
      text-align: center;
      width: 45%;
      margin: 0 0 1rem 0;
      font-size: 1.2rem;
      @media only screen and (max-width: 640px) {
        width: 95%;
      }
    }
  }
}

/* Material Design Specific Styles */

.mode,
.material {
  & #open-standards {
    & .ea-card-header {
      justify-content: center;
      flex-direction: column;
    }
    & .ea-card-content {
      --ea-card-content-grid: repeat(auto-fit, minmax(19.5rem, 25rem));
      justify-content: center;
      padding: 4rem 0;
      @media only screen and (max-width: 500px) {
        margin: 0px 6vw;
      }
      & div {
        display: flex;
        flex-direction: column;
      }
    }
  }
  & #resources {
    & .ea-card-content {
      --ea-card-content-grid: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 5rem;
      padding: 4rem 10vw;
      justify-items: center;
      @media only screen and (max-width: 600px) {
        padding: 0;
        justify-content: center;
      }
    }
    & .ea-card-content .ea-card {
      display: grid;
      grid-template-areas: 'icon header' 'icon para';
      align-items: center;
      max-width: 32rem;
      padding: 1rem;
      @media only screen and (max-width: 600px) {
        grid-template-areas:
          'icon'
          'header'
          'para';
        max-width: 18rem;
        grid-gap: 1rem;
      }
      & img {
        grid-area: icon;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
      & b {
        grid-area: header;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
      & p {
        grid-area: para;
      }
    }
  }
  & .card-example {
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 640px) {
      justify-content: center;
    }
  }
  & .ea-card {
    & .ea-card-content.example {
      --ea-card-content-grid: minmax(40%, 50%) 1fr;
      grid-gap: 2rem;
      align-items: center;
      padding: 0;
      @media only screen and (max-width: 770px) {
        --ea-card-content-grid: repeat(auto-fill, 2, 1fr);
        padding: 0;
      }
    }
  }
  & .button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0 2rem 0;
    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      justify-content: space-around;
    }
    & button {
      margin: 1rem;
    }
  }
  & ea-layout {
    & ea-toolbar {
      & aside {
        --ea-toolbar-aside-padding: 2rem;
        @media only screen and (max-width: 500px) {
          --ea-toolbar-aside-padding: 0rem;
        }
      }
      & a {
        display: flex;
        & .logo {
          background: url('assets/images/eang-logo.svg');
          height: 4rem;
          width: 4rem;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    & ea-body {
      overflow: hidden;
      --ea-body-display: flex;
      justify-content: center;
      margin: 0;

      & eangio-menu {
        --ea-tab-color: var(--ea-text-color);
        & ea-menu {
          --ea-menu-color: white;
        }
      }

      & .icon-tiles {
        & .ea-card-content {
          justify-content: center;
        }
        & .ea-card-footer {
          text-align: center;
        }
      }

      & eangio-home,
      eangio-get-started,
      eangio-card,
      eangio-button,
      eangio-icon,
      eangio-menu,
      eangio-tabs,
      eangio-layout,
      eangio-variables,
      eangio-tabs,
      eangio-components,
      eangio-utilities {
        width: 100%;
        @media only screen and (max-width: 500px) {
          width: 95%;
          & .ea-card[unset] {
            & .ea-card-content {
              margin: 0 1rem;
            }
          }
        }
        & .ea-card[unset] {
          margin: 0;
          & .ea-card-content {
            justify-content: center;
          }
        }
      }
      & ea-tabs {
        width: 90%;
      }
      & eangio-landing {
        width: 100%;
      }
      & eangio-components {
        & p {
          font-size: 0.9rem;
        }
        & a {
          text-decoration: none;
          &:hover {
            & h2 {
              color: var(--ea-background-hover);
            }
          }
        }
      }

      eangio-feature-reactive,
      eangio-feature-theming {
        width: 90%;
      }
      & eangio-feature-reactive {
        & .screen {
          & ea-panel[orientation='left'],
          ea-panel[orientation='right'] {
            @media only screen and (max-width: 500px) {
              --ea-panel-max-width: 4.1rem;
            }
          }
          height: 15rem;
          max-width: 25rem;
          width: 100%;
          background-color: var(--ea-color-background-7);
          border: 1px solid lightgrey;
          position: relative;
          @media only screen and (max-width: 500px) {
            width: 90%;
          }
          & .text-container {
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            & p {
              width: auto;
            }
          }
          & .container-text {
            margin: 0;
            color: var(--ea-color-1);
            @media only screen and (max-width: 500px) {
              font-size: 0.8rem;
            }
          }
          & ea-panel {
            --ea-panel-color: var(--ea-color-3);
            --ea-panel-background: var(--ea-color-background-2);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            & p {
              margin: 0;
            }
          }
          & ea-panel[orientation='left'],
          & ea-panel[orientation='right'] {
            --ea-panel-max-width: 6rem;
            flex-direction: column;
          }
          & ea-panel[orientation='top'],
          & ea-panel[orientation='bottom'] {
            --ea-panel-max-height: 4rem;
          }
        }
      }
      & ea-markdown {
        @media only screen and (max-width: 500px) {
          overflow-x: overlay;
        }
      }
      & eangio-utilities {
        & .example {
          margin-top: 3em;
          margin-bottom: 3em;
        }
      }
    }
    & ea-footer {
      justify-content: space-between;
      --ea-footer-height: fit-content;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
      & span {
        display: flex;
        align-items: center;
        cursor: pointer;
        @media only screen and (max-width: 500px) {
          flex-direction: column;
        }
        & a {
          margin: 0 0.3rem;
        }
      }
    }
  }
}

.ea-menu {
  margin-top: 1rem;
}

.ea-mode-logo {
  background: url('assets/images/eamode-logo.svg');
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}
