@import '../dist/eamode/eang/css/mode.css';
@import '../dist/eamode/eang/css/material.css';
@import '~@angular-mdc/theme/material';

@custom-media --small-screen (width <= 1200px);
@custom-media --large-screen (width >= 1300px);

:root {
  --ea-media-small: 500px;
  --toolbar-height: 4rem;

}

body {
  margin: 0;
  padding: 0;
  background: var(--ea-color-3);
  overflow-x: hidden;
}

#main {
  color: var(--ea-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--toolbar-height);
}

#features {
  max-width: 70%;
  @media (--large-screen) {
    max-width: 1200px;
  }
  &.drawer-open {
    max-width: 85%;
  }
  @media only screen and (max-width: 500px) {
    max-width: 90%;
  }
  & section {
    /* padding: 4rem 0 4rem 0; */
    border-top: 1px solid #e9ecef;
    @media (--small-screen) {
    }
  }
}

.drawer-menu {
  position: fixed;
  top: var(--toolbar-height);
  color: white;
}

.mode {
  --mdc-theme-secondary: var(--ea-color-2);
}
.material {
  --mdc-theme-secondary: var(--ea-color-2);
}

ea-toolbar {
  & [ea-toolbar-header] {
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &.drawer-color{
      background: var(--ea-color-background-4);
      border-bottom: 1px solid var(--ea-color-3);
    }
    & .menu-open {
      background: var(--ea-icon-hamburger-menu);
      background-position: center;
      background-repeat: no-repeat;
      width: 1.8rem;
      height: 1.4rem;
      cursor:pointer;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
    & .menu-close {
      background: var(--ea-icon-chevrons-left);
      background-position: center;
      background-repeat: no-repeat;
      width: 1.8rem;
      height: 1.8rem;
      cursor:pointer;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
    & h2 {
      margin: 0;
      color: white;
      font-size: 1.6rem;
      line-height: 2rem;
    }
    & img {
      width: 6rem;
    }
  }
  & .logo {
    background: url('assets/images/eang-logo.svg');
    height: 4rem;
    width: 4rem;
    background-repeat: no-repeat;
    background-position: center;

  }
  & [ea-toolbar-buttons] {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    @media (--small-screen) {
      width: 7rem;
      padding-right: 0rem;
    }
  }
  & ea-themepicker {
    padding-right: 1rem;
  }
  & a {
    padding-right: 1rem;
  }
}

.feature {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--ea-padding);
  & .example {
    display: flex;
    justify-content: center;
    width: 100%;
    & .ea-card {
      width: 50%;
      z-index: -2;
      @media only screen and (max-width: 500px) {
        width: 95%;
      }
    }
    & #example-label {
      --ea-card-content-grid: repeat(1, 1fr);
      z-index: -1;
    }
    & .ea-card-footer {
      flex-wrap: wrap;
      & label {
        display: flex;
        align-items: center;
      }
    }

    & .panel-buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .screen {
      height: 15rem;
      max-width: 25rem;
      width: 100%;
      background-color: var(--ea-color-background-7);
      position: relative;
      border-radius: var(--panel-border-radius);
      @media only screen and (max-width: 500px) {
        width: 90%;
      }
      & .text-container {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
          width: auto;
        }
      }
      & .container-text {
        margin: 0;
        color: var(--ea-color-1);
        @media only screen and (max-width: 500px) {
          font-size: 0.8rem;
        }
      }
      & ea-panel {
        --ea-panel-color: var(--ea-color-3);
        --ea-panel-background: var(--ea-color-background-2);
        & p {
          margin: 0;
        }
      }
      & ea-panel[orientation='left'],
      & ea-panel[orientation='right'] {
        --ea-panel-max-width: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      & ea-panel[orientation='top'],
      & ea-panel[orientation='bottom'] {
        --ea-panel-max-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & ea-panel[orientation='right'] {
        border-top-right-radius: var(--panel-border-radius);
        border-bottom-right-radius: var(--panel-border-radius);
      }
      & ea-panel[orientation='left'] {
        border-top-left-radius: var(--panel-border-radius);
        border-bottom-left-radius: var(--panel-border-radius);
      }
      & ea-panel[orientation='top'] {
        border-top-right-radius: var(--panel-border-radius);
        border-top-left-radius: var(--panel-border-radius);
      }
      & ea-panel[orientation='bottom'] {
        border-bottom-left-radius: var(--panel-border-radius);
        border-bottom-right-radius: var(--panel-border-radius);
      }
    }
  }
  &.themeing {
    /* & .ea-card {
      width: 80%;
      @media (--small-screen) {
        width: 95%;
      }
    } */
    & .example {
      & .ea-card {
        width: 70%;
        @media only screen and (max-width: 500px) {
          width: 95%;
        }
        & .ea-card-content.autocomplete {
          padding: 2rem;
          @media only screen and (max-width: 500px) {
            --ea-card-content-grid: repeat(1, 1fr);
            grid-template-rows: var(--ea-card-content-grid);
            padding: 2rem 0 2rem 0;
            grid-row-gap: 2rem;
          }
        }
      }

      & ea-autocomplete {
        & input {
          width: 16rem;
        }
        & ul {
          margin-bottom: 3rem;
        }
        & mark {
          font-weight: 700;
          background-color: inherit;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: var(--ea-color-background-2);
  height: 4.5rem;
  display: flex;
  align-items: center;
  & p {
    color: var(--ea-color-3);
  }
  & span {
    align-items: center;
    display: flex;
    align-items: center;
    padding: 3.2px 16px;
    width: 100%;
    & p {
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 0.5rem 0 1rem;
    }
    & div {
      height: 100%;
      display: flex;
      align-items: center;
      color: white;
    }
    & a {
      font-size: 16px !important;
      color: white;
      margin-left: 0.35rem;
    }
    .ea-mode-logo {
      background: url('assets/images/eamode-logo.svg');
      height: 4rem;
      width: 4rem;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.example-toolbar {
  & h3 {
    margin: 0;
    padding-left: 1rem;
    @media (--small-screen) {
      padding-left: 0.5rem;
    }
  }
}
