<div class="eang-landing-body">

  <img class="header-img" src="../../assets/images/header.svg" alt="">

  <nav>
    <ul>
      <a href="/documentation">
        <li>Documentation</li>
      </a>
      <a href="https://github.com/eascientific/eang">
        <li><img class="github-logo" src="../../assets/images/github.svg" alt=""></li>
      </a>
      <a href="https://www.npmjs.com/package/eang">
        <li><img class="npm-logo" src="../../assets/images/npm.svg" alt=""></li>
      </a>
    </ul>
  </nav>
  <section class="eang-landing-title">
    <div class="eang-logo-v"><img src="../../assets/images/eang-logo.svg" alt=""><span class="version">v0.2.9</span> </div>
    <div class="eang-sub-header">Reactive Enterprise Components</div>
    <button class="eang-button">Get Started</button>
  </section>
  <div class="eang-body">
    <div class="eang-reactive">
      <h2>
        Real-time reactive components built for the enterprise.
      </h2>
      <img class="reactive-img" src="../../assets/images/reactive.svg" alt="">
    </div>

    <div class="eang-responsive">
      <h2>
        Always updating, across every client, all the time.
      </h2>
      <img class="reactive-img" src="../../assets/images/clients.svg" alt="">
    </div>

    <div class="eang-code">
      <h2>
        Clean, beautiful code designed for easy implementation
      </h2>
      <img class="reactive-img" src="../../assets/images/code.svg" alt="">
    </div>


    <div class="eang-npm">
      <img class="npm-img" src="../../assets/images/npm-red.svg" alt="">

      <div class="install">
        <span> npm install eang --save</span>
      </div>
    </div>
  </div>

  <div class="eang-footer">
    <p>Powered by MIT</p>
  </div>
</div>
