<div class="ea-card" unset>
  <div class="ea-card-header">
    <h1>Icons</h1>
    <span icon x negative></span>
  </div>
  <p>The ea-card has a header, content, and footer labeled as <code>.ea-card-header</code>, <code>.ea-card-content</code>,
    and <code>.ea-card-footer</code> respectively. </p>
  <div class="ea-card-content" grid style="--ea-card-content-grid: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;">
    <ea-markdown [doc]="icon"></ea-markdown>
    <div class="ea-card" unset style="width: auto;">
      <div class="ea-card-content" style="width:auto; justify-content: space-evenly;">
        <div style="padding: 1.25rem" class="ea-card">
          <span icon x></span>
        </div>
        <div style="padding: 1.25rem; --ea-card-background:var(--ea-color-background-2);" class="ea-card">
          <span icon x negative></span>
        </div>
        <div style="padding: 1.25rem" class="ea-card">
          <span icon x></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ea-card" unset>
  <div class="ea-card-header">
    <h1>.ea-card</h1>
  </div>
  <div class="ea-card-content" grid style="grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem;">
    <div class="ea-card">
      <div class="ea-card-content">
        <span icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span x icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span hamburger-menu icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span minimized icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span close icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span sign-in icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span download icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span chevron-right icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span menu-close icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span chevron-down icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span vertical-menu icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span chevron icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span save icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span edit icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span add-file icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>
    <div class="ea-card">
      <div class="ea-card-content">
        <span icon></span>
      </div>
      <div class="ea-card-footer">
      </div>
    </div>

  </div>
</div>



<div class="ea-card" unset>
  <div class="ea-card-header">
    <h1>Icon Colors</h1>
    <span icon x negative></span>
  </div>
  <p>The ea-card has a header, content, and footer labeled as <code>.ea-card-header</code>, <code>.ea-card-content</code>,
    and <code>.ea-card-footer</code> respectively. </p>
  <div class="ea-card-content">
    <ea-markdown [doc]="colors"></ea-markdown>
  </div>
</div>
