<section flex-center class="hero">
  <div class="shim"></div>
  <div class="logo"></div>
  <h1>The Progressive Web App Framework</h1>
  <p style="max-width: 20em;">Build modern web applications that scale</p>

  <div
    style="display: flex;
  justify-content: center;
  --ea-button-background: var(--ea-color-1-light);"
  >
    <button routerLink="/getting-started" (click)="shouldOpenDrawer()">
      Get Started
    </button>
  </div>
</section>
<svg
  id="bigTriangleShadow"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  width="100%"
  height="100"
  viewBox="0 0 100 100"
  preserveAspectRatio="none"
>
  <path fill="var(--ea-color-1)" d="M0 0 L50 100 L100 0 Z"></path>
  <path
    id="trianglePath2"
    fill="var(--ea-color-1-light)"
    d="M50 100 L100 40 L100 0 Z"
  ></path>
</svg>

<div flex-center id="why-eang">
  <div max-width multi-col style="align-items: center;">
    <h1 style="font-size: calc(var(--ea-sizer) * 3.5rem);padding-left: calc(var(--ea-spacer) * 1em)">Why eang?</h1>
    <div>
      <h2>
        eang makes it easy to implement your corporate style and compose
        elements with reactive event streams for advanced interactivity
      </h2>
      <p>
        Create a starter app using the Angular CLI and integrate eang in
        minutes. Have a fully functional layout with your theme by the end of
        your meeting.
      </p>
    </div>
  </div>
</div>

<section flex-center style="margin: 5.2em 0;" id="features-col">
  <div multi-col max-width style="--ea-grid-col-min-width: 18em;">
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img
        src="/assets/images/rapid-develop.svg"
        class="symbol"
        alt="component symbol"
      />
      <div>
        <h2 style="text-align: center; margin: 0;">Components</h2>
        <p style="text-align: center;">
          A library of components including code, usage instructions, and style
          guidelines for rapid development.
        </p>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img
        src="/assets/images/reactive-icon.svg"
        class="symbol"
        alt="reactive symbol"
      />
      <div>
        <h2 style="text-align: center; margin: 0;">Reactive Streams</h2>
        <p style="text-align: center;">
          eang's event-driven architecture helps you build applications that are
          responsive, and fast.
        </p>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
      <img
        src="/assets/images/themes-icon.svg"
        class="symbol"
        alt="themes symbol"
      />
      <div>
        <h2 style="text-align: center; margin: 0;">CSS Themes</h2>
        <p style="text-align: center;">
          Use eang's built-in style themes or build your own custom theme using
          next generation css.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="ea-card example" m-0-0-1-0>
      <div class="ea-card-header"><h2>&lt;ea-panel&gt;</h2></div>
      <div
        id="example-label"
        class="ea-card-content"
        style="justify-content: center;"
      >
        <div class="screen">
          <div class="text-container">
            <p style="color: var(--ea-color-2);" class="container-text">
              ({{ panelOrientation | async }}, {{ panelState | async }})
            </p>
          </div>
          <ea-panel
            [state]="panelState"
            [orientation]="panelOrientation"
            style="--ea-panel-background-color: var(--ea-color-1); color:white;"
          >
            ea-panel
          </ea-panel>
        </div>
      </div>
      <div class="ea-card-footer" style="justify-content: center;">
        <mdc-radio
          name="radioGroup"
          checked="true"
          value="maximized"
          (change)="onChange($event)"
        ></mdc-radio>
        <label>maximized</label>
        <mdc-radio
          name="radioGroup"
          value="minimized"
          (change)="onChange($event)"
        ></mdc-radio>
        <label>minimized</label>
        <mdc-radio
          name="radioGroup"
          value="closed"
          (change)="onChange($event)"
        ></mdc-radio>
        <label>closed</label>
      </div>
    </div> -->
</section>
<!--
<section style="background: var(--ea-color-1-light);">
  <div multi-col style="grid-gap: 0;">
    <div flex-center>
      <div style="max-width: 50%;">
        <img
          src="../../../assets/images/figma.png"
          height="96"
          stlye="
                  width: 5rem;
                  height: 5rem;
                  margin: .5rem;"
        />

        <h2>Eang Design Kit</h2>
        <p style="margin-top: 0;">
          A
          <a
            target="_blank"
            href="https://www.figma.com/file/XP3W5soxstdrfuka28eIycy8/eang-designs?node-id=0%3A1"
            >Figma file</a
          >
          containing core visual styles, components, and patterns for UX
          designers
        </p>
      </div>
    </div>
    <div>
      <img
        src="../../../assets/images/github.png"
        height="96"
        style="
                width: 4rem;
                height: 4rem;
                margin: 1rem;"
      />
      <h2>Eang Source Code</h2>
      <p style="margin-top: 0;">
        A
        <a target="_blank" href="https://github.com/eamode/eang"
          >Github repository</a
        >
        containing source code for developers contributors
      </p>
    </div>
  </div>
</section> -->

<section id="technologies">
  <div flex-center style="margin-bottom: 2.8em;">
    <h1>Open Web Standards</h1>
    <h2>eang is built on the following open source technology</h2>
  </div>
  <div flex-center style="--ea-grid-col-min-width: 18em;">
    <div max-width multi-col center>
      <div>
        <!-- <a target="_blank" href="https://angular.io"
          >
        </a> -->
        <img class="symbol-lg" src="/assets/images/angular.svg" />
        <!-- <b>Angular</b>
        <p>
          <a target="_blank" href="https://angular.io">Angular</a> offers
          declarative templates with databinding. Powered by Google.
        </p> -->
      </div>
      <div>
        <!-- <a target="_blank" href="http://reactivex.io/">
        </a> -->
        <img class="symbol-lg" src="/assets/images/rxjs-white.png" />
        <!-- <b>ReactiveX</b>
        <p>
          <a href="http://reactivex.io/">ReactiveX</a> provides an asynchronous
          programming interface for observable streams.
        </p> -->
      </div>
      <div>
        <!-- <a href="https://postcss.org/">
        </a> -->
        <img class="symbol-lg" src="/assets/images/postcss.svg" />
        <!-- <b>PostCSS</b>
        <p>
          <a href="https://postcss.org/">PostCSS</a> provides transformations
          for CSS to future-proof your code.
        </p> -->
      </div>
    </div>
  </div>
</section>
<section flex-center id="features">
  <div multi-col max-width class="grid">
    <div feat style="border-bottom: 1px solid var(--ea-color-3-dark);">
      <img class="symbol-lg" src="/assets/images/getstarted.svg" alt="" />
      <h2>Get Started Quickly</h2>
      <p>
        Use the Angular CLI and a set of Custom Properties to create an themed
        app in minutes.
      </p>
    </div>
    <div
      feat
      style="border-bottom: 1px solid var(--ea-color-3-dark); border-left: 1px solid var(--ea-color-3-dark);"
    >
      <img class="symbol-lg" src="/assets/images/themes.svg" alt="" />
      <h2>Global and Project themes</h2>
      <p>
        Maintain a global theme and as many project specific themes as needed,
        with minimal effort.
      </p>
    </div>
    <div feat>
      <img class="symbol-lg" src="/assets/images/style-guide.svg" alt="" />
      <h2>Digital Style Guide</h2>
      <p>
        See your themes in production and have your styles in a digital style
        guide instantly.
      </p>
    </div>
    <div feat style="border-left: 1px solid var(--ea-color-3-dark);">
      <img class="symbol-lg" src="/assets/images/aria-syntax.svg" alt="" />
      <h2>ARIA Compliant Syntax</h2>
      <p>
        We reinforce best practices regarding ARIA syntax by marrying styles and
        accessibility.
      </p>
    </div>
  </div>
</section>
<!-- <section center p style="background: var(--ea-color-2);">
    <div multi-col max-width>
      <div center>
        <h2>Get Support with Eang Pro</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam." </p>

        <button outline style="--ea-button-border: .1em solid white;">Get Started with Pro</button>
      </div>
      <img src="../../../assets/images/eang-pro.svg" alt="">
    </div>
  </section> -->
