<div class="ea-card" id="eang-welcome" unset>
  <div class="eang-logo" style="height:50px;"></div>
  <div class="ea-card-header"><h2>Progressive Web App Framework</h2></div>
  <div class="ea-card-content">
    <p>
      Eang is an open-source framework that helps designers and developers
      create modern web applications that scale
    </p>
    <a routerLink="/getting-started">
      <button (click)="shouldOpenDrawer()">Get Started</button></a
    >
  </div>
</div>

<section id="getting-started">
  <a (click)="shouldOpenDrawer()" routerLink="/getting-started">
    <img
      src="../../../assets/images/get-started.svg"
      height="100%"
      style="width: 7rem;height: 5rem;"
      alt=""
    />
    <h2>Getting Started</h2>
    <p>
      Onboarding for designers and developers who are using the eang framework
      for the first time
    </p>
  </a>

  <a (click)="shouldOpenDrawer()" routerLink="/components">
    <img
      src="../../../assets/images/rapid-develop.svg"
      height="100%"
      style="width: 7rem;height: 5rem;"
      alt=""
    />
    <h2>Components</h2>
    <p>
      A library of components including code, usage instructions, and style
      guidelines
    </p>
  </a>

  <a (click)="shouldOpenDrawer()" routerLink="/features">
    <img
      src="../../../assets/images/reactive-icon.svg"
      height="100%"
      style="width: 7rem;height: 5rem;"
      alt=""
    />
    <h2>Reactive Streams</h2>
    <p>
      Eang's event-driven architecture helps you build applications that are
      responsive, and fast.
    </p>
  </a>

  <a (click)="shouldOpenDrawer()" routerLink="/features">
    <img
      src="../../../assets/images/themes-icon.svg"
      height="100%"
      style="width: 7rem;height: 5rem;"
      alt=""
    />
    <h2>CSS Themes</h2>
    <p>
      Use Eang's built-in style themes or build your own custom theme using next
      generation css.
    </p>
  </a>
</section>

<div class="ea-card" id="resources" style="background: var(--ea-base-color); border: none;">
  <div
    class="ea-card-content" grid>
    <div class="ea-card" grid>
      <img
        src="../../../assets/images/figma.png"
        height="96"
        stlye="
          width: 5rem;
          height: 5rem;
          margin: .5rem;"
      />

      <b>Eang Design Kit</b>
      <p style="margin-top: 0;">
        A
        <a
          target="_blank"
          href="https://www.figma.com/file/XP3W5soxstdrfuka28eIycy8/eang-designs?node-id=0%3A1"
          >Figma file</a
        >
        containing core visual styles, components, and patterns for UX designers
      </p>
    </div>
    <div class="ea-card" grid>
      <img
        src="../../../assets/images/github.png"
        height="96"
        style="
          width: 4rem;
          height: 4rem;
          margin: 1rem;"
      />
      <b>Eang Source Code</b>
      <p style="margin-top: 0;">
        A
        <a target="_blank" href="https://github.com/eamode/eang"
          >Github repository</a
        >
        containing source code for developers contributors
      </p>
    </div>
  </div>
</div>

<div class="ea-card" id="open-standards" unset>
  <div class="ea-card-header">
    <h2>Open Web Standards</h2>
    <h3 style="text-align: center;">Eang is built on the following open source technology</h3>
  </div>
  <div class="ea-card-content" grid>
    <div>
      <a target="_blank" href="https://angular.io"
        ><img height="45" src="/assets/images/angular.svg"
      /></a>
      <b>Angular</b>
      <p>
        <a target="_blank" href="https://angular.io">Angular</a> offers
        declarative templates with databinding. Powered by Google.
      </p>
    </div>
    <div>
      <a target="_blank" href="http://reactivex.io/"
        ><img height="45" src="/assets/images/Rx_Logo-512-512.png"
      /></a>
      <b>ReactiveX</b>
      <p>
        <a href="http://reactivex.io/">ReactiveX</a> provides an asynchronous
        programming interface for observable streams.
      </p>
    </div>
    <div>
      <a href="https://postcss.org/"
        ><img height="45" src="/assets/images/postcss.svg"
      /></a>
      <b>PostCSS</b>
      <p>
        <a href="https://postcss.org/">PostCSS</a> provides transformations for
        CSS to future-proof your code.
      </p>
    </div>
  </div>
</div>

<!--
  <section class="go-pro">
    <div class="pro">
      <div class="pro-text">
        <h2>Get Support with Eang Pro</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam." </p>

        <button outline style="--ea-button-border: .1em solid white;">Get Started with Pro</button>
      </div>
      <img src="../../../assets/images/eang-pro.svg" alt="">
    </div>
  </section>
-->
