<section id="eang-welcome">
    <img src="../../../assets/images/eang-logo.svg" height="50" alt="">
    <h2>Progressive Web App Framework</h2>
    Eang is an open-source framework that helps designers and developers create modern web applications that scale
    <button>Explore the System</button>
</section>

<section id="getting-started">
      <div>
        <img src="../../../assets/images/rapid-develop.svg" height="96" alt="">
        <h2>Getting Started</h2>
        <p>Onboarding for designers and developers who are using the eang framework for the first time
      </div>

      <div>
        <img src="../../../assets/images/rapid-develop.svg" height="96" alt="">
        <h2>Components</h2>
        <p>A library of components including code, usage instructions, and style guidelines
      </div>

      <div>
        <img src="../../../assets/images/rapid-develop.svg" height="96" alt="">
        <h2>Reactive Event Streams</h2>
        <p>Eang's event-driven architecture helps you build applications that are responsive, resilient, and scalable.
      </div>

      <div>
        <img src="../../../assets/images/rapid-develop.svg" height="96" alt="">
        <h2>CSS Themes</h2>
        <p>Use Eang's built-in style themes or build your own custom theme.
      </div>
</section>

<section id="eang-resources">
  <div class="ea-card">
    <div class="ea-card-content">
        <img src="../../../assets/images/customization.svg" height="96" alt="">
        <b>Eang Design Kit</b>
        <p>A figma file containing core visual styles, components, and patterns for UX designers</p>
    </div>
  </div>
  <div class="ea-card">
    <div class="ea-card-content">
        <img src="../../../assets/images/customization.svg" height="96" alt="">
        <b>Eang Web Components Source Code</b>
        <p>A Github repo containing source code</p>
    </div>
  </div>
</section>

<section id="open-standards">
  <h4>Eang is built using open web standards technology</h4>
  <div class="layout-three-by-one">
    <div>
      <img height="45" src="/assets/images/postcss.svg">
      <b>Angular</b>
      <p>
        Web app platform offers declarative templates with databinding
      </p>
    </div>
    <div>
      <img height="45" src="/assets/images/Rx_Logo-512-512.png">
      <b>ReactiveX</b>
      <p>JS library for asynchronous programming with observable streams
      </p>
    </div>
    <div>
      <img height="45" src="/assets/images/postcss.svg">
      <b>PostCSS</b>
      <p>
        JS library for tranforming CSS Styles
      </p>
    </div>
  </div>
</section>

<!--<section class="go-pro">
  <div class="pro">
    <div class="pro-text">
      <h2>Get Support with Eang Pro</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam." </p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam."</p>
      <button>Get Started with Pro</button>
    </div>
    <img src="../../../assets/images/eang-pro.svg" alt="">
  </div>
</section>
-->

<!--<eangio-feature-reactive></eangio-feature-reactive>
<eangio-feature-theming></eangio-feature-theming>
-->

<!--<section id="welcome">
  <div class="title-text">
    <h1>Eang</h1>
    <h2>Progessive Web Application Framework</h2>
    <button>Get Started</button>
  </div>
  <div class="ea-card">
    <div id="ea-card-header">
    </div>
    <div class="logos ea-card-content">
      <div class="banner-card-row">
        <img height="45" src="/assets/images/angular.svg">
        <p>Testing this thing out</p>
      </div>
      <div class="banner-card-row">
        <img height="45" src="/assets/images/Rx_Logo-512-512.png">
        <p>Testing this thing out</p>
      </div>
      <div class="banner-card-row">
        <img height="45" src="/assets/images/postcss.svg">
        <p>Testing this thing out</p>
      </div>
    </div>
  </div>
</section>
-->
