<div class="feature themeing">
  <h3 class="component-name">Themeing</h3>
  <div class="feature-description">
    <p>Styling and theming in eang is fully customizable and can be easily changed.</p>
    <p>Unlike other component frameworks, the style is not set in stone and does not abstract or encapsulates away the power
      of CSS. Instead it embraces the new capabilities of CSS and puts design back into the hand of the designer.
    </p>
    <div class="example">
      <div class="example-toolbar">
        <h3>Theme examples</h3>
      </div>
      <div class="autocomplete">
        <div class="mode">
          <h3>Mode Theme</h3>
          <h4>Flight origin</h4>
          <p>
            <small>Select the airport you are flying from.</small>
          </p>
          <label id="mode-auto">Airport Lookup</label>
          <ea-autocomplete id="mode-auto" [input]="airportResult1$" [formControl]="airportSearchTerm1" [mapSelectItem]="mapSelectItem">
            <ng-template #resultsTemplate let-item>
              <span class="matched" [innerHTML]="item.match"></span>
            </ng-template>
          </ea-autocomplete>
        </div>
        <div class="material">
          <h3>Material Theme</h3>
          <h4>Flight destination</h4>
          <p>
            <small>Select the airport you are flying to.</small>
          </p>
          <label id="mat-auto">Airport lookup</label>
          <ea-autocomplete id="mat-auto" [input]="airportResult1$" [formControl]="airportSearchTerm1" [mapSelectItem]="mapSelectItem">
            <ng-template #resultsTemplate let-item>
              <span class="matched" [innerHTML]="item.match"></span>
            </ng-template>
          </ea-autocomplete>
        </div>
      </div>
    </div>
    <p>New and upcoming features of CSS eliviate a lot of the maintainability problems of CSS. eang relies heavily on CSS Custom
      Properties and nesting and uses a PostCSS pipeline to support older browsers.</p>
    <p>eang has multiple build-in themes. Each theme can be extensively customized with CSS custom properties. Each theme has
      global variables as well as component based CSS variables.</p>

    <ea-markdown [doc]="variables"></ea-markdown>

    <p>These properties can also just apply within a specific scope of your page.</p>

    <ea-markdown [doc]="scope"></ea-markdown>

    <p>If overriding variables and properties for some reason does not work in your case, there is nothing prevents you to create your
      own theme. You can integrate 
    </p>
    <p></p>
    <p>
      If that is not enough, eang allows you to define the CSS of each component individually additional themes can be be added.
      This allows users of eang to fully customize the the look and feel of each component and makes it easy to comply with
      Coporate Design guidelines. eang embraces CSS and takes advatage of upcoming CSS features. PostCSS is used to support
      all older browsers.</p>


    <ea-markdown [doc]="variables"></ea-markdown>

  </div>
